{
  "swagger": "2.0",
  "info": {
    "version": "V2",
    "title": "SendIT API",
    "description": "<img src=\"./logo_sendit\" width=\"300\" />\r\n\r\n## Introduction\r\nThe SendIT API offers seamless carrier integration in your IT infrastructure.\r\nIn this API you will find actions for following features:\r\n* Print label / Generate print job or pdf\r\n* Transmit data to the carrier (closing).\r\n* Reprint label\r\n* Cancel label\r\n\r\n\r\n## Connecting to the API\r\n\r\nTo connect to our REST API please use following URL:\r\nhttp(s)://hostname:4210/api/v2/\r\n\r\nThere is also a SOAP API for legacy customers - please use following URL to connect to the SOAP API:\r\nhttp(s)://hostname:42000/SendITWebService/V2/\r\n\r\nYou can also find the url in the installation protocol file that you have received after installation on premise.\r\n\r\nFor request examples, please download following Postman <a href=\"./sendit_postman.json\" download>collection</a>.\r\nYou can download Postman [here](https://www.getpostman.com/downloads/) to read and execute the sample requests.\r\n\r\n\r\n## Authentication\r\n\r\nFor authentication please use the parameters \"webServiceUser\" and \"webServicePassword\".\r\nYou can find the credentials in the installation protocol file.\r\n\r\nIf you do not know your credentials and can not find your installation protocol file, please get in touch with your project manager or [support-sendit@prologis.de](support-sendit@prologis.de) for further advice.\r\n\r\n\r\n## General Information\r\n\r\nAll label layouts are generated based on the specifications of the carrier.\r\nIf you need any customer specific changes, please get in touch with your sales contact.\r\n\r\n\r\n## Further Documentation\r\n\r\nFor a list of shipping types please <a href=\"./shippingtypes.xlsx\" download>here</a>.\r\n\r\nPlease have a look at the examples and models below to find a detailed description on each request.\r\n",
    "x-swagger-net-version": "8.3.22.202",
    "contact": {
      "name": "ProLogis",
      "url": "https://www.prologis.de/unternehmen/kontakt/",
      "email": "support-sendit@prologis.de"
    }
  },
  "host": "s21514564.onlinehome-server.info:4210",
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/V2/Closing/One": {
      "post": {
        "tags": [
          "Closing"
        ],
        "summary": "Close the shipments for the designated shipper, client and shipping location.",
        "description": "Triggers the data transmission to the carrier as well as the manifest generation.\r\nThe manifest can also be printed on a windows printer.\r\n<br /> \r\nYou can use this request multiple times per day.",
        "operationId": "ClosingV2_One",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClosingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClosingResponse"
            },
            "examples": {
              "application/json": {
                "Result": "0",
                "ResultText": "",
                "FileList": [
                  {
                    "type": "Manifest",
                    "Value": "JVBERi0xLjINCiU8ICAgICAgDQolMTEwMjMwWzMyXQ0KJT4gIA0KMSAwIG9iaiANPDwNCi9DcmVhdG9yIDxmZWZmMDA2MzAwNmYwMDZkMDA2MjAwNjkwMDc0MDAyMDAwNGMwMDY5MDA3MzAwNzQwMDIwMDA2MTAwNmUwMDY0MDAyMDAwNGMwMDYxMDA2MjAwNjUwMDZjMDAyMDAwNTAwMDQ0MDA0NjAwMjAwMDQ1MDA3ODAwNzAwMDZmMDA3MjAwNzQwMDY1MDA3Mj4KL1RpdGxlIDxmZWZmMDA0NDAwM2EwMDVjMDA1MDAwNzIwMDZmMDA0YzAwNmYwMDY3MDA2OTAwNzMwMDVjMDA1MzAwNjUwMDZlMDA2NDAwNDkwMDU0MDA1MzAwNjUwMDcyMDA3NjAwNjkwMDYzMDA2NTAwNWMwMDU0MDA2NTAwNmQwMDcwMDA2YzAwNjEwMDc0MDA2NTAwNzMwMDVjMDA0YzAwNjEwMDY0MDA2NTAwNmMwMDY5MDA3MzAwNzQwMDY1MDA0NDAwNDgwMDRjMDA1MDAwNjEwMDZiMDA2NTAwNzQwMDJlMDA2YzAwNzMwMDc0PgovQ3JlYXRpb25EYXRlKEQ6MjAxMjA1MjMpCi9Nb2REYXRlKEQ6MjAxMjA1MjMpCi9Qcm9kdWNlciA8ZmVmZjAwNzcwMDUwMDA0NDAwNDYwMDIwMDA2MjAwNzkwMDIwMDA3NzAwNzAwMDQzMDA3NTAwNjIwMDY1MDA2NDAwMjAwMDQ3MDA2ZDAwNjIwMDQ4PgoNCj4+IA1lbmRvYmoNCjIgMCBvYmogDTw8L0xlbmd0aCAyMjA3Ci9GaWx0ZXIgWy9GbGF0ZURlY29kZV0gPj4NCnN0cmVhbQp4nLVZW28aSRZ+z6+ox0QKuO5VPfvkjB3vzEaWkzgTyYo0akMBvYEm6W7ilTU/daS8+Dfskx/2nKoCuoG4Cc2CfKFpzvfVuXznVPGV0D63QlFK/HP9wkrep/5BBjPylcClMTEJ6emEcLjY45QUjozIW8L8sxjjPRfEf4zcwf+/w9Xfl59hCfxlCX4Gr75fmbSkZySYhHfVyiTtK2/EGwh3MPy8bBhgjJOeUEBI4JvUf/wjycmzV9eEeR74ZP739ezZyWtGwrLI9QgvlYFDD9YN2NeDaDGR5Hr4/CytFrMX1/9+dn797O0STVIW0JTtAGb1CkwKjWBc9KnqM17DE33FjRCGwh1os/m6xxND+5QZYyVVDIMELw21q1DGF5yJPpdAQ5HE9LlJ4FELKdznf5jqC1iVSvqrIMQ7BASj5RbNWq0wzuM9UvXtD+6xotUOLke12OFGtlIWQrXfk+hWLKlMqx1pbeu6FLOtWJrRVh9q0x4LQ1krZ6N5Kx+rZCuWte2xSOCttnUlRrfnGBWmPckYt62MGPMXW1O6vXoAjbVzEnKP6pC0vTyYFKJ9dTJpDwpTvD0qTFndfpOWpp04qFW7JaOfCMvbp6QYyn1LimmfWY5KbKGv9LilXooTxpmlCaWCsijHIP6GwR3GgAxjI1OHthoaLg2gXfkWd30XTVvQZwA/vXxzenFObj68I+dnv9W7j5Z4lzBA1kDbUEcgoCOBYNpwJPDbr+9+IXDLP8iraVpV+WI2c0UOl7BZ4e86J6vAjOaQUBYbsOjuFR468V20nRjvlMWoKtIxuV8U5Cr97KpbN/pvMXTFIh+Ts3++CRc3iXEqIzHbpVcL5nu1twiNf00ndxNwzS8r2A6BoDEQkHYwflCPcln0a+7+SiQOQDjsaEG7DjtMIjBd4gbTYeqJixu7W1ecZHnNqf4unH88gcPnH92AjfPPVTF/Mx9nJTldVPNZWmVl5sNbDyrV3gMy5kYXDzBtGh6Itq33/L9cnm9AC2DpoQU3XaGD5Kyhg+0IvciHiI5Ft42f6IDfafbku+AlZvnwubTaGC2ZVnVwI20cs8EBXRbPV6DBZMi482LcJz1I9y1MP2wj5sELjnZCjoE1RusgHOdvK4iiHRR9uaq6T9EwDHQIenNZR0wiIhedICGMm5DJGvI8L06ubuqVKyOs9NnTfZu0Vg5Zg519GT3k40biWpRfRGasI7LaWLC3HJGv3tw0dILrCNrVy5ugwXREvXB3jd2hWaLaTqhiO5286Yj63hXfsoErG+qwhO6GvGO9oob8sWhIojzSereTKpiOqJfpYJI35qAlbqfgrsF0Dey6IUGrNNIdFyiEaC7Q1NLoPK8afk1ohFVdKqYmDLSWPNWm/CnF/0/yZ03Q3E35Q0SGg3S3nJG79C9gfnpO6acXPdnTysjESt1j/qFYT9TYcI0fSWCeoZ20aTXIe4Oa+17zOitmKXmV5aUryMVsUxIRtqMkiq268ZYjvrawgz10NN2pfGZtnL6k641RECdcTycdWI3DwWBEutySOUTqBBTMRPvnH951cNLy0FDxtW8YOGfpnYOVghkr696uuTuUMzjhGPIwiPaWSI3NHW74OGeMmAQ3nGafHaegT2GF5d0tTYep7CxzWCOw3XDZYELusmJIvs1zcuYWVTmYOHI1Lyvc5W1zAyUJ3IQ8mFuch6NF4wUkXZRjN3qcTKttzEQETAH/dPbHqsGjaRE0+i+y8+CZC1hkQIZld0UOFpXfc/y1DQWxDlAQ/YMdS80aSuL7APXnU48tHrARCTy42SfRW5yt6s6WkgVnX6YzR/6YFzn83SYARRYI8OQ4PpeW7/Y5NKoAxfY6rdjD54qLA3yuRBJ5SNN1ybaZ4ErL4PObRVm56fTW3WfF55PT28l8OkonRYWbwJPX2TRLp9uxUKD6gRgo1lFiocOR23YsNI+ipw/XvEYotNQ/EYojHCRJbjFpA+x7PE4gWU7W3e7wnXu0bL1W9ch5MXv4no3XxyU/242DPSFomIWHt84f9a1Ono4wbVut1844vD0v7YSld7YTl9zs7lwzr3vQZBTDU959mgxnTyQF7dvYdKPtAHsGLff0tnT5EP755ooSeq8rqpdkmJYlGWaOPEJHxlPA3OXkPdwHIXaNjVi0B0IauPJ9iuVJrqyv8VxuzVXZ2I5hEJhm7vsUJ4QhEALGmCb4Gl79gbNDfpsWP+Kok8BRJPtoWgtH0fSn9Wnl8qr8UjikM3Tk0/NbN8xyLAuYJPBy5T69IBePFXi7zPJhfwdJ4BZI6n16TUvQm45ULJy0lWSSAr9pRTDeUGTlrSvnmAOOLGbkM3jRkRx23Nv0FIQ30JP7zAQ/FWclfVPEwJ5Op2M3Qx45uXAQ9odRVa6cCRf9Uf/J+X/A2WW5g6aKpSNY59JZi160bXzp5GmVzfN0SvyYiJk5L6GQ3FNVomysEm6PUCXNDFSJDbteKIPbeVWOMcsg2xb5kMAY+zApfJmE7NuReFrExNtvyGlJPIOptuKmlYwzPjktKk/po8tKR1B2or9KVJo8nUCPmj6UMOv7NNzBU8cM5PQIGbj8minaDmPZ38DkS/E4wu+VkKFnNofu2RBBMoHCAZdW6NcdPJOYgsx0TkG2kYKG0XCO8zj4fJ9Opi9XTgzfGeBrfz5IFuVdn9wv+lBRO8rE8JiPbK8vEn+qmo3w+ThLv0P78KkHmhdZwsg3Bw/Clb+XQUe5uYOcIOOsud+K1mTUbjwu6ZydyrA6U+21e5giRZ+RgzQn2YxAP6wgzh9mWN3puIQfKB3YmP2QpYk1ZDuX0GZqmvAtSUOrR49FLR1nWUWuizQvv8yLatXL4b2X20Txa2ZPVHeuoc1at9zXUDkfQWRxhIAyz7FMwt6+KuFv5t28ij2BSr930x2CiUNL0PGj15BVvoZcMUpRbe5cAY1nrYtvyf8Aw2/hvAplbmRzdHJlYW0NCmVuZG9iagozIDAgb2JqIA08PA0KL1R5cGUvUGFnZQ0KL1BhcmVudCA0IDAgUg0KL1Jlc291cmNlcyA1IDAgUg0KL01lZGlhQm94IFswIDAgNTk1IDg0Ml0NCi9Db250ZW50cyAyIDAgUg0KPj4gDWVuZG9iag0KNiAwIG9iag0KWyA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwCjYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMAo2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwCjYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMAo2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwCjYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMAo2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwCjYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgXQ0KZW5kb2JqDQo3IDAgb2JqIA08PA0KL1R5cGUvRm9udERlc2NyaXB0b3IKL0ZvbnROYW1lL1dQQ1VCRStDb3VyaWVyTmV3Ci9Bc2NlbnQgNjEzCi9DYXBIZWlnaHQgNTAwCi9EZXNjZW50CS0xODgKL0ZsYWdzIDMyCi9Gb250QkJveCBbLTEyMiAtNjgwIDYyMyAxMDIxXQovSXRhbGljQW5nbGUgMAovU3RlbVYgMAovQXZnV2lkdGggNjAwCi9MZWFkaW5nCTEzMwovTWF4V2lkdGggMAovWEhlaWdodAkyNTAKL0ZvbnRGaWxlMiA4IDAgUg0KPj4gDWVuZG9iag0KOSAwIG9iaiANPDwNCi9UeXBlL0ZvbnQKL1N1YnR5cGUvVHJ1ZVR5cGUKL0Jhc2VGb250L1dQQ1VCRStDb3VyaWVyTmV3Ci9FbmNvZGluZyAvV2luQW5zaUVuY29kaW5nCi9GaXJzdENoYXIgMzANCi9MYXN0Q2hhciAyNTUNCi9XaWR0aHMJNiAwIFINCi9Gb250RGVzY3JpcHRvcgk3IDAgUg0KPj4gDWVuZG9iag0KNSAwIG9iaiANPDwNCi9Qcm9jU2V0IFsvUERGL1RleHQvSW1hZ2VDXQ0KL0ZvbnQgPDwgL0YxIDkgMCBSID4+DQo+PiANZW5kb2JqDQo4IDAgb2JqIA08PC9MZW5ndGggNjE2MTIKL0ZpbHRlciBbL0ZsYXRlRGVjb2RlXSAvTGVuZ3RoMSAxMzM5MTcgPj4NCnN0cmVhbQp4nOy9B0AUSfM+XDOzPTvsLEgSMQDLyi6IhAXMOWA8MWI4IyoqKigixjMgJsyomDBhzuHMOeec9QyI8RQ99cwKsl9NLSJ43r35vff3/W/Herq6u6anp7uf6u7ZHQEOAAogqCA6uEmdWtpVpbYBcEMACi+uUS04dMWqeq0BXPQAwusa1epVdyn+CePuBQBYiVrBNWo6aqybAhhDAPh6tRo2aFJo+tYMAK9kgDKNazVpWk1ke18DhD0DcLjSoIl/YD6flpMBYg/hVcOaBYe0CNwQ4gnQxwPALqlDePtYy/VGbVOu1yGyZ0fL9cauUa7XMap9dIT3dTx/0j2AokM69o3VrbTp5AiwsT2Aenzn6C5RP9qXCgTY8QvaX+vSvnc0FAcrgH1H8Xq2XSIHdO5Se9YmjP8E0GVgRKf24Rcfit2B8wrF/FIRmKBZy1fA+HiMe0RExfYv9ovDQoz/CFCwM1anfbn1BQ8BVw3vP/BQVPv+0XZ11P7Axd5Ae12P9lGdSq72/w7jnwA0Q6J79o7NCG2gAW7oYIC4Z9ExnaJ3pUxyAx4iMR/LxA9HhxJC4YkYOlIqFB5lii8cL1p5j6o96p01p+ZT4gv3xqSePMcFyCYrkRW3EfhCDEztRU1xkVNx8aV5TpXSxNTI5JMrpchC17giUIGOBtABekNPvHgniEWppBwm91yFqRzrDVk+tOCTLvpem+82XXZr5YlTpb/rlhLvVMsUr7I3xfMfUwSe4/l8sB/GVaiQYHe+0tuOT29XMVnn1JRTYZ2iA4qbiolCU5XsoK/eM3pATNcuEbE6r47FdAFly5bWhXTtGNOzd8/OsbrqPWOi/QJcTUUsxvnz5vSMaR/btWePAHeTm5IvODh/yW/cs2esrmqf2IieMV1jB5hcC1iXLW0KCDCZSpvw07KAdaApIDAoIDv6J9QontPnbhaOgRDP5QNM1/DxHAcr+N37ox+Wf1m/sNf8Gf3bmtIXrphgaPc+a1q9RVuz5i7UVRrUaOHshZPCArufrxY+4NnqvsdDr798MmdUkUnzR3TeeLj7wA5Fr7hUSM3HTXk0/dBe387JyRHGWefK+ezVbm5h3F/zZ02lMtN9VniVXf60zvBq90bk25kc2bT96vhBC8J8+9V7PGtTePnkhkUCJA/H+St+nlzc+WHFmR0dw1qwTvNdSjce/W7Z8yT+SOGLe5vW2Dgmbm+5p6FJ9dd+WjYwKrb+OudT06283KF5YljX0ju/s1dXaGZulbG4s0ZaemFYs+bPt5Rv6zSsn+r62z1r46ZlrT899MqyQjGtK5zY9UJapDdtFEce36jr5zDyNi/gwF80bLlp2BLTsIXYmi6caliyadiMONtW56Kfd42ZV7TREMcNIRPNJxfE/Pf7L/5vjHFB6cNpj+R9E17NcC75yzbO41o/u1etwwLnz5NPVmKTEyYdL/fQ/eWL5lN9NqfUOtbheebVU+XLt1xRKrRrlkdU5eOnVqayQbcCJlScbxvdbWeWfQPnrvsyz1W/Z9dS1yC9ww/rVhY8Vry0wXdPpwX2Yw35Oi56F1rkg/vxK/lfNV7do3qg+lN8gfcPukRaN3q7+9fGR3f/fMiUqQuwSnCZVqxQyGUXfsmvcWnCplavf7x1rPmzTnWONg7dsknwsjcnXnkhTRqybcbhVaV97g+8v7zfvb4pcK5b5f0XSo1Nq2q/vGS3wt1ulLxzqYjq/vIaqmMtg8r0CCli3WGrZuH4i5dDK9c8XaTp0ugb9uVGT+0zf9mFFPQKYaZ4oZ7FK2j8VtndbGhuPffkvs8+xeXPcgbI+zKB+EEPEIjOICAQoyU/O4MB5EGxENGBb9okwMFkp0QkB03z9r0juvboEouXsTXZKIlqB3XjTuFRPXuEf66Y5vcqVtTkbqlYodz54Z10Tbp26YGl6hpWr/o3vcLWAYOvtNlYo+zyEqsDrn8wlKzTb1+G27yjNXo9P1/z0aXxB7vXa9zh9Sz+YMi1OpH+HpU67T1TdKtce+vQPrdq7F45yabhYUPxlyk/Wxd1O1/V42OHWWcL1lgyta7brNMb/fUH6/oO6vlTftfy48valr21u9jrzuV9uUBzlmftpZsjudFzMnZs6Dg0/kPrlGEjRk5c/3Jb0qKzZZY2HFnAc3T9W6a3UPH1kQ8Vh+0Z9Utk2WV+Jd5u8lunGdxhcv/Oc2b2th617uWhV7rtDewndDzp81NgjYLPdtadXr5hE+cznRsNWLlm9LFmlebHN0zowX4suf8Hj92NO1ecVf9U8SFBPUbUEs/PO1d3FN9jFCzeN/p2k2yv8NE07J3JQXEKBpXWpBElnNAYUwvC/w1XkU+powPHmVXMJGBgclESbFROKsdTLmf6QnSrdb9eP1Q/uVGw36Lgji9MspKdT6VCGo3KRR3yMT+sWjukrvHlmV31Yxe28Iz17rNx1KdV9ZL6Q8jjE0+cb3Y9bLNw0Cu++pETo0+9b3LqwPzdzXq+6Bi8IhieTT+WfLnINnl+Qeukq9dd1xQb/PyXpb1XT0otO7HizG67ykRdSFhX9NPtx1e6Wk1O2J11B3aWePVu0Adbez/2pNj0qdW6e/XaWmZSmtr6eJuI07vjqnbvvHzn1p0TS5x4KdgOGvjmQlq12z9k3bmzOuvt7cvWG6OvTLnXYEuZhYN8L1W8UULuUJqfP6xb0TFvW3ectL7lzrJXw8Y3HVEo6E35mSnx2oXtxm302bpgyclV13Vb9poKjtQ5Wnvvavy6alpb070pXl1H74+++2rZqjNx1WL62qCPGYg+pkO2j2kveg6jFZKUm0cM/cyfyGrF4ZRBTxMYGBBYomRJxeGYcPmB0SAlaho2/D9SN2saODh0VSENGjb+bC78jvnf9D27YzaN+bnI/JFHY7eFtRZKVZzzadbA5GI19euXjW7yy7Oa5Y62YnLz5VtPsFMX6/WrFT1y44OTt7v8vOhTrOfULvOvjhWCTUfeHd9xvJyL1Cy4QQHJ+sOmghErPYpksOYjHx+ur3YvvezJGR//LdVOu7NlVx5e9Gp+tPDAM8VKqU/Pa3pq56/6J8uLLrYudiDj3MGWlTpWPOpTR/5hwMgXCc977a7e8t6ijdavmmYY0u7qLv6c3DZpSZCv19DmhZt20wYGP8eF+Ysyc57za5IX3JqptrWp4Nz17oD6NR3Tto8/1ydqzmqY41vtTaNtLV/3rzH8sd+g4jvbnC7Y3mtNUnXN4W7VzJsD1y4upk91enQx2/e8Nw17823f84XFRc/39q63O+OB+8derrPyny/w4dDSsdR9LvkU1iOR1XHkN1yKqpxNTnHfpn2wYuCmqmgqbyqbUjql5KigiNjY6HL+/h1jIv2iPvehX8eeUf7R3bsqqf7RMT3D+3SM7e1fvQkOPD9MMtX+XENcl1QwlTOV+Rw38aN8sgvs16/ftwrsFJOrpNivCEXep3qxsx13R97rHXVw1tUobUL5I7V7DzSc8blb+oe5JebvLnpmz+1rrQfYdXdopOM6bo95J907MriRt5PXpfM/z/Y+62x9waHX5GJPm+3+cOWwtf+6Tr5RITWKNYsZ0aDyhW4uVTusGNB64ouj/cae5L385h6dU/zBdm+rW09n3H0wcEJb24QmC26FNeg3s1fY8lZlJ19cZe/GHh+sseLigUbb1227mSmOgNexi26YT7mkFGXq+54lD8xILLgyPszzUcaI4q7nVScnno23vro8pHqVPhdSb/V7PrZ193yjwydt2rF1x6ouoe41VtaN+Dm07TjH1l36P01sLdhOluZ66GY8ug120Ss+bIiJ3rr27oH5Tjx6n7nofUZavI9tN3lWg31gWGV3o4Zbi4FdFn7tg/6ctU4pU9mAUqYAU4kSpRXXUxajf8JaJ7RrVKfese2jov/etc7N0j0y1h2rVreX87EztSs12fdxleMOn8Cd9g0aHxv+S6Wgn+oETPHaMjk8za3hiB0Hvjs/lL1/3mfPuKPLL6/tGt25v2fnR1u2Ph+5/fSzlZ/sF8vf64v5n63yUzNV4b6bo8Kj6obeuPVr6t75w4/G3R5ajy+d9GbfPKmZa0St0z/t69vaf/AWg2pTs1bdinQ0xw2q8OyyyhBStl+sus2B1tdGlfbpc9wm3bWs1aC+WXMjewxMe1pp0ox5vWzaeTdw7hAWOO/C8PrF9a0jaoxL9R9h23DDh82FJkQ+M8x2eH/S9upIm9fxfXuXOjJt4MJTYeJTtn5U0Nb3Sa1GVB3RYmRSj/VuPrVP9ZxTPa3bo6HGid0t/iae88IW8fiWx5H+b6x2bEWr7OcN+TllCQO5HGXPR/Urz9heYtV3oybtmpO+unzV6kfOmQrmnODIq7SuGmgCfaADVIeqeVdCv1lGfcNBJYXYBRwY1HCn3cQF7dWczfjoGhOe9w7dXdmK+Zq3NWoyssgvZSdvXdRMTh2/pXzh8xmrlx3f+mMj98I9pa5DugsL9TV/idwUNUi/rebFEa8m5NujHltq/5Mhj6Pb1Jg/5cKpM7cm7ruz1/v0oKfH1wZeHr39ZMdDpc47u+/tm1o+eWPh3vPcE65t2mQfOv71nAOd6iZ7GeeEjc1X/qhDp/61d55dM7xcg/UdWqSaHj8u63JvzMvrZYd9cHAfHx7XUVRNf5nMV/f/oWbCDjP/U6cPdVOvC7FTN7Ie2lNzb3q1H1T71wJz7NzL8EVGrxYPTw/c9qDKkSYVd68Yk/qoc+kJr/XT55xa3y+0UbkrMcEbir5FB7USHdSUnOVRki8tj6z+vOXRbxwBLY9MpQNLomsKDCAfFWSJBihR07CN/43lkafJYIm69qjeNTqiU4wuuEkNXY0m9cuVrlom0LdUmTJVfcvWLBsYYDAVtdxTkbz35NtEuSldk04xfbt27PQ33du0YRpdNedGA3+a9svsTzdHn8+wmeSQvrK0l33frJCGq/rO8J5aK21Fs678g6QhISNvDO31vA/c2Fk9MqPn6l4vip8fNOVMUoG5Cw7v+PBuyK32d3xNrnOMvn0rP6w5feLaa2NKXzv1/NXZVgczI9Jehk+a/eig/YdFe0ZkXhl3hlXczfVt6Cm8H7HVadSEsD1tivlUOLvk08yWJV0aOO0rc821feWKpTY2c8zfb1p524+wfurdNqVXee7s6FPbcVjTe5HpK4pPm5BgM2QRLOnnoZ7pHS1s8/ZITE49vFD/3d5634v9QmOqr68UfmvqCKnFlqzHo+tYldq48X3QiiH1Fg4YGvh9MZt5m9+kVZhX+WnN8rmXU18cgte0hL18+SfXk3YMrpnv48nXQ+aaz+dZKX3TY/wrK6XY3tEd2/9bVkqfS4r9trPOs/4T933LW8Gz1Zl3LyR0PlHsXsvtpyF+SIHWhz2+t9+5/F33q6OzJpzc3NetsP7tuzsnNm2vyhUqvaZ26enRH08FLfMav03eEuvgtXVjnzveVnfHNbg9s/KMrSXsh6Xb3nK5uSP8bP2G5euN/VTwlmHt5emj07879ODFh6oF2nBPmicM7jvwQc+s0brVU+eMT97brlBKfpNH2sIh7Se7FCt2sE5iuerDxzxLvTz8VgOfkuV/rlqVWwla+eWVOoXPVJvww/pXvhPaFLuzZ8LQyfn7bgrLcPRc2dO+YzWvFuXGlh9X5f7Ww6emNC9Ss1n3SSenhDRjcOK9qUqN+rcLJux+Y/viVqHbXq6bGr3sl2a8t9NqmP1N13LnagTEq9agx1rBc5xp2Og/ccuWZyP55QF4yrBrJsec2cmLC1AL2HNopMxZ2Z1pJQRocz9zx9p8ickBNqbcufnRl+ScqApAAkT0Cn3ZILVNsljEsZJzolfCXPs1SaYOuU7RBoSaGqd4xRlxQuyJE2MMdIVOiDqoj2E/DBtj2AVzIqE9xCwwxnn87tiNHRDds0tM++iIAbqvfJUqnoNKL9XHhlYWAjfca2R4dzA99OOJqU0SQz+U3TaX03zcW+b7+QWLDe33asq1SvPrDrTZ/rDYkceN+niO+qVG0dixA6yK6uMuxO88nGQ/KXmXR62ItUdt33d5O3VDqQPbhsT1ebCukcZJ9fBizW3zzANrTgx+tHxf6Een5tO67zT0nRgyzS8J5hjbXvGMqhNUa0lSb03daz/PzOrTQFt44Duvn0Z2ulL9bcDg1i0vvnmn0ntosqpELz0UmH5CrD16+VOHVRWi3w9edDUqrJdbhqHygahljRzHRVVe5/2DccumRtPK1XherPa76XcPNILjn+bHj4husHHCK88WtfaN3+78umrlqgs/XQlxiqh7J9hs3WrNqwXxvJspni/8pYfEgHhei0nSf32Afj1p5pnK1dkDNKWNyTn3OJS/fEHE4TVzclhAPpxyyyrfgKCUKlGy5W+GYYtZTbps6zVjQtObkZ7b+pVeVq/O00NfeSxliHReoB45cPbRH19PCvAPiR0z70l4gx0bZrt0m5LZ88SZrmfO377ePqt28y4Z7h323dYXsle1azSubmxZpyOqQ808ytSv3LmsQ1LVzfsu+IyeftMw7WLtHsnzP/Rcsv5I7bHF53h84AMPWr8rWLPlk3pvEjut29jKYapXpwn3Bj9VV9sxulTswRtb4HnZMb1f3ffol7HFq2+NBxP4n14EWQ84Fd3f6WzWpsa/3LNqU6ivYceKAQVtroZsDSw4YBrfJuT2pwY/9IjvOd5qrtrFbdA92/0/2fftOcytpWlCo/qHTib8kH+veQ03eU+mptWDAVWra4WaZ072fv6wToujgztMM0QULLq/a62hETXfdI3q9euqQ0ux+XkAXHwKfIqKB4HvTNiP4RQiLBcFUAlNm1ahsE2ffaLAMVXcvipqJTQdlNQqYKqWLVs2lAROxAStpAJRSWhJSjv8jNHXnuKxUvn4n3yZuZeiY/RVVlo+Kc0vvxncrvnlF7IKB2cifbQiWInNlnSz/KNY8zdDLf9C+eWsinccBdA016dK00/N37S7PJSCfdZqkNWhwBpCfuAwrJKPElbm+sRRknfzD+0eDJ2WRUGcrZrTSkVtx1cLkA5lB7YSaKWmK/MelkRz3sNOzVl/dbLeTgLr35zd1JL69fkJk/UetcfY64O/KHFNf/sB72lDH7T70DyrqTlHibO34qw1+uDak+09gsfY5VKq2GvAWrNyWssVTX8DDSmv6dA3zc2/gReOVlw+zTeqhEoVRw3k0zTttqTZym+BJfebpSIkjKipt3NOCO7gbve1avuNu/38aei9N3Ol+eUq84l15q/VF/+JMvNrOFvtlCpWHvBtcNKCrbZpy5V//M9i1c78x/8SsKewzxIm2+s9gn8vovuDO8lFA+8VTYdmYZnTmpsfNDV/+HYkjUiPH3ukfgSGzpYv6BVHYMkQzIoOOR+uN9dHpVIWeEJcbnsVL1C+KkvR89ozRvYzc9szXkX5LEvR89qLItmvz20vZtuLWYqe116tJvtjGC3yxZ79rr0kkf393PZWgsXe6pOi57W3suLodyO562MliL9rr9GQvXPu8mVBTfnyJ0XPay/LZF8id/myKts+U9Hz2mu1ZF8vt71WJVG+NlPR89pbW5N9eG5762x760xFz2tvY0P2g3LXX8usLOVnKHpe+3z5yD5P/1ozjaX8DEXPa29rS/Z5+jdftn2+DEXPa29nR/Z5+jcfk3/X3t6e7PP0r41osbf5qOh57R0cFHsqJKc+tqKW8nHniHpee0dHss/Tv3aiNeXbfVT0vPb58+NCFEOMSrjGVkaj0uIiaMH+q3QnSrcBp6/SfUi3hYJfpdcg3Q4K5aTzdCPtUJjEQGRZmfBVXg9Fxz60Ylkf4avyRqHIUBA8vzpnjdKVNspE+enD1+dcUm4bPKB03nROaXAH8IKKX6XXBuXHP95QJe81uAQl3c4KtFaZ7766Bqf8jKoQlILGedN5J+qDctAib1m8co9FHGXIJ2e8/er++QPZeTZ58qg8QSlPBzUhMu85QjzqxgLWYGf98TVk9zkOED4YFA/aFvEKpl3FQ4Br/Hjg+An8LFw+JfPJqM/mZ6M+h5+D+lx+Hurz+Reo/8q/R/0Duh5OENFBCIIkSKhbCVaoawQt6taCHfCCPdZMEAoIBTDFWSiEemGhMOpFhCKouwilUC8t1ETLWsJ3mFJP+AH1QcJgTB8iDEU9TniN+hshE/VPOPwEFYd+Gtd2KryWSqPSAq+yVuVH3UlVAHVnFV5FVVhVBHUXVVHUPVRG1D1V/qibVAGoB6LPElQlVaVQL62qiHolVRXUq6rqoF5X9R3q9VT1UW+gaoB6Q1VzvGILVWfUu6giUY9S/YC5g1RDUY9TLUB9IfMEjnmx4iAwH7EqcGI1sTYIYh2xLurfiU1QDxVDUW8qtkD9ezEC9a5iN+DF7mJ3TIkUI1GPEqNQ7yH2Rb2f2A9t+ov9MWWAGIf6MDEe04eLk1BPFGdg+kzpBHDSSekxCFK6bI3D10bGNpcLyFgf2Uv2Rr24HIB6oBwEvFxCroV6bRnrJteR66EeIjdAvaHcEPVGciPUG8tNUA+Vv0e9pfY74LT1tCHAa+tr1+FoUX32HQpooBsSSWgf074DOEZ06hADgZHtY3tAJczhmjYO1im/lzObiXBCtqYUQa4bYxzGbYGvF1pbB06NG4ToFNeE6ZAHWVT7mO6gI/QmLBHVPao7tCTsYCmbysqt2SEFRFAjGaywNjIOfGt0Ufnwena4cHDAmuUnGghUG0voijWvifv4ZkiOzuhy+sIQdC4TYTrMg9WwB05BKjyEZ/CW03I+XAmuAhfM1eNCudZcOBdp+Z0gVwrL4TB8j9fHUKvDWmBoU8ES2hay2Nkut9jZVcEaYmjviHE1hlUs6fZh2eEFS+i4g+xUBSILxBVIKrCcYqJzqvPLgmLBQgX9Claz5Bc6UOhKofRCWZb8wusLHyp8rfDTIug7LOW4JFlC1zhL6NaSLCVdCV1tXVtdrG6sLkW3RXeKUq09dnmc87jv8d6gNegMJQy1Da0N0YYRhpmG1ZZaG8Mtv5A0jrWUZpxiCT0jLWGxgZbQe73FzmdPdniERgLnk0W/tlRBYEbQf/7Aa+Uj9wXkuCRyWRp0Uw64ulFckLVKVIlgj0T2AgeisCOStwEUFhsjhXVI3magF1sghT2QaPnBgDRpBr5yCySLCTirYKuFeA0tutVAnP1qoiDF/M5g2BilBeo47fig4/XBZY1PXxScPrBNwISu0O866tHZ+eVQqmRLN4Cgahji0sZnIkoSCrp2n2SUFJSl2eFqlA0o27CsNAxx+vFB9+D3EMNzGD7Fcpaj4FQWVB8lFKUlcEFhGHZGiURZi7IJZQfKPpQjfGEfrZ+X7zz/zj4efn4k3n5VfLz9Y3yq+YX79/cf4iv5ffRJ9fvoW8ivrSI+kX7xPmEkST5h/iN8NvntUcQ30O8ZiY1fW/+xFltfI8pDv7u+l/yr+bhi2Yo4Z8taPE8Re79yKCV809DuOtq1xPMT8Tr2aGP/uT5+9bA+bf37+4X7rsQyd2G+ya8mSW1Mn47xUqgrUh/jc/LUMwHruTBXfCJJDOqdSSb6XEAZ4reaZITfat8tGC7Hui3PruM+lCN+h7LlBMkp1BW5gPoFSrtJkop6aq74fdQVefE3JNXvUbacwOue8OmPuiKZqK+lMiz9gO3r64j3dx/rlIrtnt0vvj5ftX8zf3vf1iix/q6+AzE+z99EstjvhD+W77vSv5TPWv+1PqGW9vNdn1v8tZ/v3/ehf22l/zCsT/1oGRebsE9qkqRm10uH56Hk9K+lX8vl9GPu9lz7pVyfCn41/Xfk6rev+1Hpe0v/d8Pr7sM+b0wS6hftfwTjX9v/9vwWOJ5P4fl98fwL2Kbx2TIxW/LGv4yTZBIlHkPxFJSlue1xzOa2X0r2Y3HsKJLotyFbtpGMzZbpmDed8i3pc/xW+1/D+EIM52SHqRjuwHbakT329mW33R/JZ7tsPuaMz2t+51Cu5Bq/V0i+jN8rJEf87pKkor0in8dvOo699Fzj9C2NyUe+POqZNG7z9v99GhM1aUziWPxNfjrq6FPINxgpn8ZxzniWLDqO59ckX/uVz+O8EsbvYxx1/3SMB2P8hZLvD76B/m99bfy1/mP9M8m2DMpnf4S6icd4Xb+2JkmJ+4sm3l/0LeSv9TWilPEHE2+ysdgr8Wz7hmiPvPPt4G9vKoS8ikNeTcF4BMZ1GB+F8ZkY74FxI8bH+7uayhAPnZGHzshDD9+B/t4W3pl8cPwO8j9iCkSulfJZ7r/Wd4t/Kd8zGK70r/AlH/0vpWP8i79KxnGXrPhAkgN4rS+8tVfkN2Nj7bfF99hXciZbPnP+KYYvySeH+ydiXT7bPfSrgvmhaNcSwzDf99h+imRZJNfYOpdnbN3HuCKffRv2G47Z1+SXylj6KfBa4HSFD8SJz3PLGby3LdgX2aGPd5CRpJr/EP/p6NtLoX9QpH6QD3Io3OIzggLJV033H4L+op6PCeOhGMc2DSrjVy+oTE5802/sFZ+UiOP481zUObvtv+kjcA4cG1QJJTioblBDDJvltPvXc0SmhTufORXUwe8RSWvUW3/Jz9Z/y62v4t/iAslnLig8IC4ERfiPDeoRFOdvIonF6w3EOSDvnPDRd0vQKN8zQaM+t0vQeP9SQVNMSpu2DVqMMhPj877Ev55jcnzP1z4o+/7/wys0Hgrwz3ETC7j5xJgQhFtQJ2EYbjIL4TavEUxUheJmL5H5sEWQxJayFZyWrWWHOFt2hB3hPNkxkeO8sAKM6yBKojUXLtqKTlw30VksxPUSi4hFuFjRVSzN9RHLiZW5SbjNC+emiZ3FCG6BppemF7cYN2au3BK5lXyMW4N7hPW8zZf1oh638foiwHnMw1CP4oX6Ygz9UEqg4HpS3wIF14BG3Et4rES9Sna+BsU2W3DtWMwew3oouJbU41pTj+tPPa4j9bi+1PfNDnE9qcd1pD4By1qPIa4r9bjx99iCYQqGu7Cc/ijOKK4oHijeuKY3YVgKpQLKEJQRKGNRElGm497KiC1dDoJxH9UCd2eRuIuKg7GQhHuo5bABdsEROAe8MdNT8uQ98f49NcYsT1tPFWpa42tPe+NH1HhjuqeN8QXavffUYK4Tas+MVzztPZ1Ru288Zcw0XkDtuvEAnq3BM0TjNuMj4x46d60x3fgWc7OMi42XjCtR+2hMNl4x3kXtrTHRuM84HbWXxlF49hnUkrDs1UbcXBvH4plrjTtQizNGGGcae6DW19gWz176Hx+bAj3oALEnbv8l2nTb4hix5wbhTkkLO6A4gNtLFKyBWxaADvetOux3Hfa5DseLDseIDvu46F0Mi1jy3HDt7/bUIjocX8ZnGHqh4BjR4djR4djR4bjS4VjRNc4OcYzpcNzocNzocJzocLzocKx44n7B+BrlI+q4hfUUUXCcYY+AZ0sU3Ed44j4C937gGQPFDYsNKw3rDVsMuwwHDMcMZwyXDNcNaYaHhqeIWwwvjX3R4r0hy7DYqFIQJcuw3qgx2hqdUE4YBxnjjQnGidg7ycZz2Hs3jXeNj7Cd7LAXsB341/wb4Pl32CMq6hGRekTCHrEHK+oRDfVIPuoRW+oRO+yR+uBMPVJEbIY94op9YQ9usiP2iAf1iJF6pNh/8Uoc8iWCetkb1NjayEQd7u50uKvT4e5Ohzs7He7sDEZQexzxOOVxweOaR6rHfUMhrKOaf8W/wjq+5d8CJzjgaOTFBjjqBBxvTUFF443JDrIDiP+wdW3cmev+DbtuG34CPw2vOoOfBVb0YFFLD7aspVPSWbCRzksXwF66Il0BR+ma9BPkl25IN6CAdEe6A87SfekBFJQeSY+gMD3SKkIPqtywvdbCJmo1e+WZCvrMEL1e76X305fQl9Mn6avoa+rrITbWt3BfrG+rD9d300fr++oHuZ9xP6OPd1+vT3Bfj0eWPlnfQj9Rn4KWjd0X47HeInrLJ3eJX8oLV8pSSspVThLmt0BtCqZMyXsoTzt49Dog8in8bmyL/fxhcOWP8g+hqDhQHAjVlRkCgmU32Qg1QEB7ZxT77CdtTjnnq/B8nBX4pfwOYPwuLKsQnYMzBxQCPbWHk/IEzEOL0hk43RDliRg9wsUy8BrKaKvypd10YeCga4nHBd01lFTl8IjDo65HQ49mHq09OnhEePTwiPUYSHWYiWVb8cv4ZViHNTzOYvw6fh2Wv4HfAAK/md+MNdyJtWJ4b8dAorvSUA1l9GYJ3DGa8RqDXbZ3+ueFK3oCQtxS8FiKspo0y5Fb/1ZcOTZ8lb7hGzbKse130v/R44/q+HX9fq8u36rP0n+8LtgDGmIhEAs5YiFPLBSJhRKx0IpYKBMLtcRCa2ThY8j3d49ijq/JT8GxrMU1QCEAF/Q5uQS+Ib+X/nu2ucvi3dMoDHEZ/5tjJR6f9fV4/NZivMsUPMa7bHFJ+2au5djl8hBxJh550w+4nMnRj7k8zZXzklLe/0GZuWt1xiUL8RLhv3788V1b7tdyxet5ajL+q3vMfXf/6H39y4fiL3Lmjxnoe2bhLKKRTkoncWyek87h2LwsXcaxeVNKw7nknnQPHGiecJRD5BAoIDeQG4AzzRkF/yH/2wKlIUoP8sAF6Mu2xTARYxWyvXIBsjuEgmt1uP7FjrOFjxhzzLFTPPBs5Jry6yS6Pl3Nla6m/I8DEnEQiIMq4qBIHFQTB62IgxrioEwzofW/uSSlNYBag1FrGP7kkpR2Vb4rQO8El6gNnSntEYrynUPWlzROtPQTVyRXmiv1EseVyJVWytJPXL1caaHUSxzXLTuNB/lfGmvKKHP+3b4RqSSgkjgqiaeSBCpJojKsfvdsFdZsAtZsMtaPo5qJdD31754h8BP5xOx7Eaieqt/to3/E9o9r8q0z/r47VxiWDCOoPy3MKUi9buEch+z7nMbj2m8m9Wduu4WW3oRt2Wn/Pl79MX9z5/727v++XOWeLmWPecs9FaK0l3CTxnyuNE4Dr3O1kSWtRPaYz51WL3vM507rlj3mP6f9Z0f8v2/M/mt8+l8d8RxsgVO0Fld6B5xxr+2Me+38eyDE8cj/6qHcs3RRuoh3d1e6i3f3s/Qzpv3dq0LYADu+7FMccNVWYBCEOFzB46aCBUJJzwmzc27min11fLF0rGaRXOfl5Ocq77dl5Upx3JH3UDgqXZWu/7N3aJ9FEuI0BI8ReAxxsHewV2IO1wjDCE2WMFvHw2ns57hyhsXyi03OMcLh1OcSv5T32Y7KyVWC0xD71/avHYbkPegOL0kP/4H1Ec950O57dbYnKYxpAreQm8P5YHxm7lRe4nlO2QHH50ntwUdw7zEemSf1En+Gb4vxZrlThXJCCV5ZZ1XJk5oiJAveGPfOlcqrQEjM5eEK57o3e34hvwjvbQm/FL3uCn4F8no1vxr3quv59Xjn2/htoMY73w8Sfwjv34o/y59D/3iBvwjW/GX+MuTjr/HXwJa/zl8HOz6NT8My7/GKT9TJOvSJReWikF82yAbq+T/yGv/duig79wmEk//Ea8/6U649+U+89pQ/8dpJf+K1p/2J155F3ilQ8UPc55+rFaE0b/RZHLzIk6anfcPNPGmFOGUVeSxPmj2nxdimPGkaTvl1U0qeNB4yMTY+dxruBV/nWtcVyV7XPc21rrOkpcP9XOs6S9pdWv9VyJN2nfZEXnnSLtA6wjEnTfHkiscBWodwtA7haR0i4DokFVfDabgaUedhSM6IlW7mGb0KTs2VbtEvfRllyhonp9cn5NInf9Fz22SfOy1XmRb9Vp7Ro9yXF+gRnXJ+tOzyxQ7vQrHbAJZnoxxogOGqX5MTzzML29wHyFcGQuQe/6tHrp3C37nO4JZzz+h5agzeNy7PgbOxyREl/rVY0vlc0vqreIccnbOJQOlBoSVNghCN6U88Uv/Uq//Tx79tj/X3rj7vck407msC9rbWD6UEgFX0t0WrydZbfBGtE4RINf/5Qwv/ytl/6/gn9/X/FKfUa4FTD8kRJf615E0P+62NVOiLLeqf5XNaiHjzf/i4my3/Y8d/nVPK750/5tpLKN/OSVnRn+7nPv6BWVdZYXDEUmUeO2Yu83le49uz/ISuiOGEvZmJdI7SvRC7UXoL5o6oV4VQuidiV9YRsYqqPeIWVT1Kz6ecq2qE2FrVmHIVmyjKbaVKolxFL61qRfp9RafyG5Nlq2x7JfeAsBLRxFoqKB4g/QXpbRUULimoKkN4iHKxtoJWSRe0qjkKsvGEQKg8jz0gzFRQFUZ6CcJMSlFK2EWltVDO4l6zY4qendIf0aikYPpNRaerG+ksIwsnHE+o/C6/rZLLtVXqgHiI0HLFS3StMgqS5QHVW9L7E1IN6eoHlHP5YCo/WDmXD6a+CKZz08gykXSfbJxD6UqZiVTCYpaCOEhBfoRqOKKOcCC7i/ieLUJczz5hy0QzHB/8WKWdhUuij4JKO6OeqKQrKZirtLxEd72LcCzVbaxFp7qNpRYYyy+nlgmj1qB6KilcohBNdT5E+iXS15OuVepPNj5UWjtzAKEyxmLMZRH7mpsgRpiVfm9sXoH4zDxb6XFlJPNJn64ruoLwMUt5LvuRRvgx0o9lKeu/6Qry9ko6t1ZJ5+2zthA+Uvo0O0WpVcwnHKWcjZLLxZC9TVY0YSUlhdJ96NwWdPUWdG4L5ercgew66BSdzm1LV/9IV99F5SdSOQfoKj5kk2ixpDp/zFqtpNMd2VtQsUdd4c51uqI92TgryBupnLZZ1IYKwkdKSVRqxSUqOpaJJcBDao2VVJpE5YSzgtQyiuVr6pG62S2m1DCNeuo19eBrGl2vaVzZWO7XMsLprn2ohFNkWZfa57UyDmE83a+zpXxiUAuFO5wz5R5Txi3cVMrEK66m2l6n9DmUnqI8w1HSYRON5DPsKJYwnG1GLKaMW7zT63SnNAKVsQr0rpB5DuF6WsMHkn6IdMsei3Yy5m48lmC2Jf0avUvjQ3oCYazlLPM7RFGxzKInT9xiKsGyj/pINsorplzWJUqhfRO2neINWlDKG8K9dG4M6WsIf6KUQaRbdoOWfd0ywg2EZwkvkGUiYRqlTCekfSVneRkznXCjgrzl+dbubB13J0INauEjxO4S5mZ41jYFMb0hpTsquuqYoot6Stmj+ATFBo6ocFfGF/l0hPR6yrmKjiXg3pa/I7YgrKKg0rOCk+IhBZ3ywhliC6UcxV6YqSAfLjYg3Ehj7xjpi5W2Ig9TXxykpKgLkIdXPE+waKPkqltQ+jlC0sVT5A/7k55IpdHoohKCs1NuUi6V+UmZZcKzuiMmf1L8at9PW5VZ5tNxylX0OqomNAdl0Ry0huYmheOTGc6f/FDzXEQ/1RsquSKdO5XK76zkikuUEkSltL6Em8VhytxH6eGkN1ZamG/M9DS7nafyrxMeoyu+Idyr5Cq/kuD7MqXmrcTvCKshOog3lBLE/MRZ8gnE1hTio4kYOizLDrEK4SmarRwU3wVXyYMdUOYpRGXv94J8wngqZ5fih3GmU1BSEI4Rs9oqjIaPxOu2SgujrsxTDsqIwqsq41+kMV/bwqnsXbOvwncan20JD5CNjsakkTCY0un5quWpCfojxWYi4UAFsQYK3ifcRSXXVkoGMDvRVfYQ4mrB3DbrsYJUzgnC/YTPANch4Ev6OiqhMuFKi58A5Z3CUVyPPO8U1qZ3CpvlvFPoSu8FKm+ai7gqywd2mKOiNGWNpgYrXFPZgj3IwHLeNOTpWULedw1dc71lyOEOwRLagEPHjlHREEs4kDAuPLJrF0jo3LVHe5hImNS1R9dYSCZM6dq7ZyQsJVyNhu1hA+G2yJ4dI2EP4SHCE1GdwrvCOcIrMUqZNwnvwue3Fi3I0zuLQKtDBVkuVOdCVS6Uc6GQ3ZYAn/96gZgLpWy0wRYwgh+U+uZbj5bzorPDvpb3+GC8ZdXKtUa0wrBvdphoCcULllDjg/YYWh+xnGfzNPvtx7WWdLvstxHtst8TtBuk7OmA09an8mOV3wyCSq1VW6tt1Pnou6UPinfn3DgdvTl4AEtxBj34YO2rQF0IxRorLFEJ9sovNUmrlaPVztHq5Gh1c7TvSFNeYHeEQqDDNvGhUn6lEl7S2a/ozNd01hs64y32h/ILOmdsRQ8BdxL8e6EAnVWIznIi+4KKvbIrAK2Qn8pxpHOVbw1/xauCoBbUoKZfYkq06xTEOHEoTyNWoI4UNIKG1tBaage0EB6LjsJUxUJ0Ep2QBoVE3FEqvz9XLLhmsFxwFXSCh+Al+Ah+QqBQSogXRgijhARhrDBRSBSShOlCsjBPWCgsFVYKq4W1wnphg7BF2CHsEQ4IR4QTwhnhgnBFuC6kCneFh0K68FR4JrwQXqoaqZoyX+bPAlgQK8lKs7KsIqvKarA6rBELYU3Z96wNa886sa4sivVkvVhv1of1YwPYD2wwG8qGseFsJBvNxrBxbAKbxKayGWw2m88WsWVsHdvItrKdbC/bzw6yw+wYO83Os8vsJ3aL3WEP2GP2C/uVvWEf2CeRE5loJVqLdmJ+0U10F4uKBtFTLCYWF31FfzFALCmWFsuLFcXKYkuxrdhBjJCd5UJyEbm1HCaHyxFypBwtx8r95UFynDxCHiWPlSfKU+TpcrI8T14oL5VXymvlDfIWeYe8Rz4gH5KVbzyXCy6CC/aGm+CGvVFUKAq84Cl4Ym8UF4rjKPIVfIEJAUIAiEJJoST26TBhGEjCcGE4WAkjhZGgEUYLo0EWxghjcDRMECaAtTBJmAQ2wlTszXzCNGEa2AqzhFlgJ8wV5oK9sEBYAA7CEmEJOAorhBWQX1glrAInYY2wBgoI64R14Cz8KPwIBYXNwmYoJGwXtkNhYbewG4oI+4X94CIcFnBXKxwXjoObcFo4DTrhvHAe3IXLwmXQCz8JP0FR4ZZwC0fwHeEOGIQHwgMwCo+Fx+ApPBGegJfwi/ALFBOeC8/BW/hV+BWKqxqqGoKPKlQVCr7Mh/mAH8MD/JkJd6kmFsgCIYCVYCUgkJVipSCIlWFloASrwCpASVaFVYFSLJgFQ2lWm9WGMqweqwdlWUNc+ZRjoSwUyrMWrAVUYK1Za6jIwlgYVGLhOEtWZhEsAqqwSBYJVVkPnDGrsWgWDdVZDIuBYBbLYqEG68v6Qk3WH+fEWmwgGwi12SCcteuwIWwI1GVxLA6+Y/EsHuqxEWwEhLBRbBTUZwksARqwsWwsNGTjcSZtxCayidCYTWFToAmbzqZDKEtmydCUzWPzoBlbyBZCc7aULYUWbC1bC9+zDWwDtGRb2BZoxXawHdCa7cE1Wxu2j+2DtuwAOwDt2CF2CMJwXB+D9uwUOwUd2Dl2DjqyS+wShLNr7Bp0YjdxjdSZpbE06MLus/sQwR6xR9CVPWVPoRt7gTu+7uw1ew2R7D17D1Esk2VCD1Fx7D1FlaiCaFESJeglakUtxIi2oi30Fh1FR1DeS3GFPqJO1EFfUY+ryn6ih+gB/UWjaIQBopfoBQNFb9EbfhB9cO03SPQT/WCwaBJNMEQsIZaAoWIpsRTEieXEcjBMrCBWgHixklgJhovfi9/DCLGN2AZGiu3F9jBK7CJ2gdFyAbkAJMgF5YIwRnaRXWCs3EpuBePkdnI7GC93lDvCBLmL3AUmyt3l7jBJ7in3hES5t9wbJsv95H4wRf5B/gGmykPloZAkD5eHwzR5pDwSpstj5DEwQ54gT4CZ8mR5MsySp8nTIFmeJc+C2fJceS7MkRfIC2CuvEReAvPkFfIKmC+vkddAivyj/CMskDfLm2GhvF3eDovk3fJuWCzvl/fDEvmgfBCWyoflw7ju53Ef0F3QC0bBWzAJJYTXwnhhijBTmCOkCIuF5cImYZuwS9gnHBKOCaeEc8Il4ZpwU0gT7guP0F8+FV6rmqias/KsMqvOarHvWBPWgDVnrVg71pF1Yd3ZZDaNzWJz2QK2gv3INrPtbDeWYWRH2Ul2ll1kV9kNdpvdYz+zJ+w5e8XesQxmFh6JsqAXHcSCYqDYWgwTw2VXua3cQe4sd5N7yDFyX3mgPEROkMfLiXKSPFOeI6fIi+Xl8mp5vbxJ3ibvkvfJym+wu5MnA/JkHHkynnyYQD5MRT6Mka8SyUupyT9J5J+syD9pyD/J5J+05IesyQ/ZkB/KR37IlvyQHfkhe/JDDuSHHMkP5Sc/5ER+qAD5IWfyQwXJDxUiP1SY/FAR8j0u5Htcyfe4kV/RkV9xJ7+iJ79SlPyKB/kVA/kVI/kVT/IrXuRXipFf8Sa/Upz8ig8x3pcY70eM9yfGm4jxAcT1QOJ6EHG9BHG9JHG9FLG8NLG8DLG8LLG8HLG8PLG8ArG8IrG8ErG8MrG8CrG8KrG8GrG8OrE8mFheg1hek1hei1hem/hdh/hdl/j9Ha0B6hFTQ4iL9YmLDYiLDYl5jYh5jYl5TYh5ocS8psS8ZsS85sS8FsS874l5LYltrYhtrYltbYhtbYlt7YhtYcS29sS2DsS2jsS2cGJbJ2JbZ2JbF2JbBLGtKzGsG47Cp9BbcBcMQjHBXwgSXgnjhMnCDGG2MF9YJCwTNgpbhZ3CXuGgcFQ4KZwVLgpXhRvCbeGe8LMyKlSNhVeqxqpmwjhWjlVi1VhNVpc1ZvVZM9aStWUdWGfWjSWyJDaTzWEp6LWXs/VsE9vGduE5FwUDO8JOsDPsArvCrrNUdpc9ZOnsGXvJ3rKPLEv4mZUTNYK7aC86i4GsGmqtxHZiR3ZBLiy3kdvLneSucpTcS+4jD5AHy6PlcfIkeao8Q54tz5cXycvkVfI6eaO8Vd4p75WP4r32/j/GOGXOdyHeuRLv3Ih3OprV3Yl9emJfUWKfB7HPQOwzEvs8iX1exL5ixD5vYl9xYp8Psc+X2OdH7PMn9pmIfQHEvkBiXxDNtyWIgyWJg6WIg6WJg2WIg2Vpvi1HTCxPTKxATKxITKxETKxMTKxCTKxKTKxGTKxOTAwmJtYgJtYkJtYiJtYmJtYhJtYlJn5HTKxH820I8bE+8bEB8bEh8bER8bExzZlNaM4MJW42JW42I242p3myBTH0e2JoS2JoK2Joa2JoG2JoW2JoO2JoGDG0PTG0AzG0IzE0nBjaiRjamRjahRgaQQztSgztRgztTgyNJIZGEUN7EEN7EkOjiaG9iKEx9OtqLe5wwmAhrIYtsA9OwCVIhUfwEjJxx5K9/wFvMOFOrIKAex3ca7xDHCF8QEwQMhAnisMQXcWuwDNfsTuivxiFGPCNEt5SCe+phI9UQiaVEE8ldKMSIqmEHlQC7uDEnooFadE5Wq8cLSZH652jxeZofXK0vp81bb0cLYQ03L+h10kDQO/wHK/6kr0CFXoJ3DWip8gACRm+T3k+wc2BglAGqkE93E2HoYeLxb10Qk7bXYf7yitYnCPnynlxgVwFribXkH4Zp5K9cF84i7RiOZr3Z40/jdpM0s7kaGdztHM52nnSBNrdO/IXlBi/H3i5Pn8P9elkczHH+lKOdjnPeVfovAOIE/iDiNPI5mouGyf+kFIefxj3sTMxvJZT0k852vUc7UaOdjNHu5WjpeZot3O0NNLUYIujQ5f9lKICfxyvNhevd5yuOpc/Su+1ncDYPIyfoNR5PK5uEO/klHWXNOXdR8vvfVP4pWi5nF8NGn4tvxby8ev5H8GW38hvAnt+C78DHGnjzWNoAo7elQP6Bll5924BZqziV2GZm9Be4Hfzu+l3wzyfRN9GKu9VKft0NZbB6HlW0ez/Us2F/jM1VyxjL7jRt4uV6dtFpfy69JaUEUrQswJbORDnAxxxQvpnTXSiERGEsVe4h79FdjbCUJw9MM8SCun01EDZWQLtETk88zY9L7EHyzeYKv5nrKnyBJ/jU+i6DNv483MUek7Bn6R7OZXT7/eVX6WQ9iBHe/hZEwcq1n/cNqrTXCJeR0KfHgTAuVhCoT105u0Z49WCFc8zXqVKA2/zPuhfHVuN/t/G0JDqOqyVzpyp+jlrCIC4gu+CjWVWntoJHVRT0ERHT7+UX54qHyYIHM9x4MyeIh/fS8oTQdGchaVZmT9hTygog4yoBS2iNWImjmZrxHyEtmCDaAf5zBnYZgo6gC2iI9gh5kf8CE5gj1gAHBCdwdH8ATnvhFiIsDAUQCyC+B5cwBnRFQoiuhHqoLD5HbgT6qEIYlFwMb9F/6eggdAIroie4GZ+A16ExcAd0RvxNRQHPaIPFEX0JfQDD/Mr8AcDookwAIyIgeBpfglB2KgvcVwVRyyJ+Cv2tA9iafBFLENYFvzML6AcYXnwR6wAAYgVEZ9DJQhErAxBiFUQn0FVKIFYDUoiVicMhlLmX6AGlEasCWUQa0FZxNqIT6EOlEOsC+URv0N8gv6xAmIIYX2ohNgAKpvToSFhI6iC2BiqIjZBfAyhUA2xKWEzqGF+BM2hFmILwu+hNmJLqGP+GVoRtoa6iG0I28J35ofQDuohhkEIYnuob34AHaABYkfCcGiI2Akame9DZ8Iu0BgxgrArhJrvoTdvitidMBKame9CFDRH7EHYE1ogRiPegV7wPWIMtELsjZiG80BrxD7QBrEvYT9oa74N/SEMcQC0RxwIHRB/gI7mVBgE4YiDoRPiEMRbMBQ6I8ZBF8RhhPEQYb4JwwlHQDfEkdAdcRTiDRgNkYgJEIU4BvE6jIUeiOMIx0NPxAkQbf4JJkIvxEkQg5gIvREnI16DKRCLOJUwCfqYr8I06Is4nXAG9EecCQPMV2AWYTIMQpxNOAcGmy/DXBiCOI9wPgw1X4IUGIa4gHAhxCMuguHmi7CYcAmMQFxKuAxGmi/AchiFuAJGI66EBPN5WAVjEFcTroGxiGsRz8E6GIe4HsYj/ki4ASaaz8JGmIS4iXAzJJrP4Eys4FaYjLgNpiBuRzwNO2Aq4k6YhrgLZphPwW6YibgHZiHuJdwHyeaTsJ/wAMxGPAhzEA/BXPMJOAzzEI/AfMSjiMfhGKQgHic8AQsQT8JC8zE4RXgaFiOegSWIZxGPwjlYinie8AIsMx+Bi7Ac8RLhZViBeAVWmQ/DVcJrsBrxJ8LrsMZ8CG7AWsSbhLdgnfkgrtY2IN6GjYhpsAnxDmw2H4C7hPdgC+J9wgew1bwfHsI2xJ8JH8F2dMmPYSdiOuET2IX4FHEv/AK7EZ/BHsTnhC9gr3kP/Ar7EF/CfsRXcMC8G14TvoGDiG/hEOI7xF3wHg4jfoBjiB8JM+C4eSeuLRX8BCcQs+CkeQeYCXP7dA35dM3/kz7d6y+f/pdP/8un/ws+feZfPv0vn/4/5dP//7ROD/4Hffp3f/n0P/Tpvf7y6X+t0//Qp+/4n/Lpf/1Vpr/+KtNff5Xpr7/KpCT89VeZvtj/9VeZ/vqrTLnt//qrTP/P/1Umyx+tEejqlv6vS/+ZFdg3BJWdH9Y4EiNq3MoM4cy8ji/Ff8+v4e8LRYUGQk+hjzBEGCuMFxYIZ4S3KmtVA+bAXNhRls5ei4KYXywsuonlxLaiWR3l0s2lu8tBlxMuZtehrtNcZ7vOc/3V9YNbfjcXtxpuIW7N3b53a+XWxm2w2ya3Q24X3W64PXd77Zaly6fLr9PrjDqTroSunK6CrpIuWNdWN1SXpNuse+HO3B3cndz17kZ3P/f67qHubd1HuE9zX67n9aI+n95en19fSO+mL6Yvrq+tb6/vVJQvalvU3QAG3qA12BocDc6GIgYPg4+hhKGCIdIQZxhhSDCMN0w1LDCsNmww7DDsMhwynDKcNfxkeGisYKxirGYMM3Y0djZ2N/b0ifLp51dgmfuy8Rl8RqmMChmVMqpmBGf8mPE4w5xplWmTaZ8ZmBmc2SDz+8wOmd0yozP7ZE7KnJyZlLk0c3nmyszVmeszr2Rey7z1yfSp8qeETy8/ZWYVzcrMMpsz6bUAHaTwwLvzZfiW/Fr+qeAhNBRihYHCCGzticIi4ZzwTmWjasgKscnsHHshgihja7uK7mIVMUzd0AWwtSNdDrlkuYJrnOsMbO0U15du4ObspnOr7dYwu7XbucW5bXE74nbF7ZbbS7e3Oq3OXleAWjtQVzZXayfqUr5q7RD3Ju6tsLUTc1rbDlu7oN41u7XD9OHU2rrfae2GOa2daEgxrMxp7RPY2tewtcvltHYnYzds7TCfXtjaBZYlZHAZLhllsLWrZFTPqJlxMSMzU6LWDsisnFk/s0VmW2ztqMzemROptefktPZxbO3r2NoVsltblxVnaW3cqIOKyKC6SrgOZbaiZXWleDXUvJEEyJ3Mc5knGU5omRe+eMZf5gA8a/NsGUD6ryhPnvEPkYHpo9NHpg9PH5Y+NH1I+uD0Qek/pA9I75/eL71Pemx6THqvu8prXpA2Mm0a4oi0D3eWp/V7cjBt65MpAE9+TBubNvhOn9vdbg9I2/HE817xtInpL28vvz09dXrqwtRxAKnKH5+F2wVSe6Wih0w1pVZJDUr1uFnzZo2bFW6WvVnqZtBN081iN/U3C990vMndeHbjyY1HNx7cUF71gBtHbuy9sefGVtQO31hyY92NGjeq3ah6w+OG/ob7Ddf75AVSlf/KA9gevOs56tnqZPUsy72q/dXF1V5qjZglvhF/ER+Ld8U0MVU8Ih4WD4q7xJ3iDnG7uAVd/xxxtlhHrMTesgnWpbWNGa6nVPRHqrhu2KJGVUPERBXO2QxXa2wxW424hWGbiCaUlnilVMsVpWCUZlILaax0RIOzjUZ5qQ40ZSxCemv4mx9NbU19CsO+Sm/2N88MU0TTITvW9m9fK+fMUp9riHqJ37HRK/ejqalpmbtumrFymDz+77uKHPm7WQIsghEwUtUFpuN2XflTYuNgLqyAxTj/jsWuGA5TcSv+K0yAGZDAKS8ePod5sBI34y9xK678bOgYHMEZswN0hEQIhxPQCY7CcTgDJ+EUnMbNf2c4D2fhHKyFLrjBn4wz6AW4CBHwGJ7AGOgGXaE7ROHc0QNSoCf0gmiIgd7QB2KhL/SDR9AfBsIA+AEGwyDYCgtgKAyBOBgG6fAUtnPTuRkczwmcimO44c/kZnKzuGRuNm74sziRU3MSmLk53FxuHjefS+EWcFachpM5LbeQWwRv4R23mFvCLeWWccu5FdxKbhW3mlvDreXWceu5H7kN3EZ4D5e5sdw4bhO3mdvCbeW2cdacDbed28Hl42w5O84e0uAO58A5cju5XVx+zokbz+3m9nB7uX3cfu4AV4BzhnWwnivIFeIOcoe4wlwRzoVz5Q5zR+iFobtwT3lliHPn9NxR7hh3nDvBneROcae5M1xRzoMzcEbuLHeOO89d4C5yl2AH58l5ccU4b7gPD7jL4iQxUZwsThGnikniNHG6OEOcKc4Sk5FZc8S5TC/OE+fDUjFFXCAuFBeJi8Ul4lJxmbhcXCGuFFeJq1VdVd3ENeJacZ24XvxR3CBuFDeJm8Ut4lZxm7hd1V0ViWzdiazdLe4R94r7xP3iAWTxIeTyEfGoeEw8Lp4QT4qnxNPiGfGseE48L14QL4qXxMuqj6oMVabqE3LazIBxjGcCUzHGRKbGxZqVeEW8Kl4Tr4s3xJviLfQPt9FL3EFfcU+8Lz4QH4o/i4/Qd6SLT8Sn6EWeic/FF+Kv4kvxFXeFu8pd437irnM3NP3V+dVO6gJqZ3VBdSF1YXURtYvaVa1Tu6v16qJqD7VBbVR7agZoBmp+kMvIZeVycnm5glxRriRXlqvIVbUNtA21jbSNtU20odqm2mba5toW2u+1LbWttK3RhxVTe6Mv81H7qv3Qq5lYUc0gzWD1SPUo9Wh1gnqMeqx6nHq8eoJ6onqSOlE9WT1FPVWdpJ6mnq6eoZ6pnqVOhitwWz0brqGHnKuep56vTlEvUC9UL1IvVi9RL1UvUy9Xr4Cf4DrcgFS4CrfUK9Wr1KvVa9Rr1evU69U/qjeoN2qGaIZq4jTDNPGa4ZoRmpGaUZrRmgTNGM1YzTjNeM0EzUTVZNUU9SbVAPVm9Rb1VvU29XZVb/UO9U71LvVu9R71XvU+9X71AfVB9SH1YfUR9VH1MfVx9Qn1SfUp9Wn1GfVZ9Tn1efUFVZJmkiZRM1kzRTNVk6SZppkuV5Ory8FyDbmmZoZmpmaW2iyBxEm8JEgqiUmipJYkyUrSSLKklawlG8lO20bbVtsOXLnn3AvuV+4m95J7xb3m3nLvuPfcB+4jV5zL4DK5T1wW54NrReV/o+J5gVfxjBd5NS/xVryG8+VlXstb8zZ8Pt6Wt+PteQfekfPj8/NOnD9n4gvwznxBvhBfmC/Cu/CuvBuuOcfjOkjPBXCBfFEuiPfgDbyR9+S9+GK8N19ck6yZLZeQS8ql5FpybbmOXFcqy/vwvrwf78+b+AA+kA/iS/AlceVaWionlecH8j/wg/jB/BB+KB/HD+Pj+eH8CH6kVIEfxY+WKkqVpMpSFamqVE2qLgVLNaSaUi2ptlRHqit9J9WTQqT6UgOpodRIaiw1kUKlpjg3NcfZ6XuppdRaaiO1ldpJYVJ7qYPUUQrXzpY6SZ2lLlKE1FXqJnWXIvkEfgyzYfmkKKkHs2V2Uk8pmtnjqtmR5Zd6STFSbymWObECUh+pr9RP6i8NkAZKP0iDpMHSEObMCuJ6rzArwlykoVKcNEyKZ67MjemYuzRcGiGNlEZJo6UEaQzOleOk8dIEaaI0SUqUJktTpKlSkjRNGybNkGZKs6RkabY0R5orzWN6VlSaL6VIC6SF0iJpsbREWiotk5ZLK6SV0ippNfNgBmmNtFZaJ62XfpQ2SBulTdJmaYu0VdomfyfXk7ZLO7TttR20HbXh2k7aztJOaZe0W9oj7ZX2SfulA9JB6ZB0WDoiHZWOScelE9ou2ghtV2036aR0SjotnZHOSueU/0ZHuihdki5LV6Sryn+kI12Xbsgh0k3plpQq3ZbSpDvSXeme8h/qSA+ln6VH/AR+Ij+JT+Qn81P4qcpPH/npcn1+Bj+Tn8Un87P5OcofHODnS4/lBnJDuZHcmH8qa2VZtpZt5HyyrWwn2zMvuQn/jH8uDBOGCyOF0cIYYYIwSZgqTBNmCXNxR7NEWCGsEtYI64T/j703D4yiSP+Hq6qPuWd67um572SunDNJIAlpCCCKCChXgEAAUUEQIiqCB6AiElBQvC9wFS88wqUBVNDF9UAXVPBW0MVjVRRddHUlM+9TPZMDXH33+/vbSaa6urp7prqe6/M89VTPRmYrs415lnmeeZF5hXmdHGXeYA4w7zEfMZ8wnzH/ZI4w3zHf0x/rIP+iP9ZBfqI/1sHyjIIxa8z0Bzc0ozSjNWM0Y+kPbpBfyH/Ir+Q46SRZkqO5gwxhGIYFjM8Bnn+O4RkPl+RKGAVHl7OluSquhqvjJG4gN4TxcadzI7hR3DhuItfCnc0Ucedxs7gLuLnchdxF3CXcpdxC7nLuSm4xdxV3DXctdx3XxiS4ldwN3E3crdyd3L3cX7gHuUe5J7hNTAjw1nZuF/cCk+J2cy9zr4EfsZ8p597lPuQOcYe5L7lvuKPcMe5n7jh4Fyyv5LXM17zAW3gb7+Td4Gv4+SAf5qN8MR/nk0yGL+HL+DRfBR5fHd+PlxglP4Bv5Afyg/jB/Cn8EPp7tPxQ/nR+GH8GP5xR8SP4kfQHSvhR9Mdp+LH8OI1dI3aND6NmNIw2Pz58E9/MT+Gn8+doPJoJmsmaaZpzNedr5mjmaeZrLtMs0izRXK1ZqlmuuV5zo+YWzR2aezT3adZrHtE8rtmo2arZpnlW87zmr5oXNdXaC7Xz8Ef4Y3wQH8Kf4E9VraoLVfNUF6kuVl2imq+6VLVAtVB1mepy1RWqK1WLVIvxP/Bh9hj7I/sT+2/2Z/YXTQJtRJtIG06jregp9Ff8GdqMtqDdmiS6Cj2PluHr8Q2aFH81fw2/FP2Iv+Cv5Zfhav46fjnZxV6BnuHb+BX8Sv56/gZtkbZYG9PG0R3oCHoBrUc34Qa0CvfHl+Ab8U14DZ6POvDl6lbtfO2l2gXahdrLtJdrr9BeqV2kXaxdor1Ke7X2L9r7tQ9o12uv0S7VXqtdpr1Ou1zbpl2hfVS7QfuY9nHtE9qV2uu1T2of1D6kfVj7CD+fv5RfSP6m8Wn8moAmqAlpwpqIJqopoj+WQV4hr5I95DXyOvk7fQgieYM+BJF8TA6SQ+QT8in5BzlMPgPX5gvGw3iBH/tzA7hGxsf4mQATBK4cyZ3JnQWcWs/14xqAT4dxZ3DDgXf7cH25WiYEHmyEiQLH7eCe4Z4F7p3CTeWmAR83c5O4yUwRU8zEmDjw8wxuJnc+8PJ84OiLgaMXAIfPZhJMEvh6EZNiSphSpowpZyqYSiYNfPoZ9zn3BfDsR9zH3EHgVEx/IovneQVwqpW3A7c6eJH5mvkK3t8AZ9YDb9LFGG9wb3JvAf9GgItDwMVFXJpP8ing6gBwdAz4uJqv4fuwZ7JnMRmmivkXc4w5lzmPmcHMZM5nZjGzmQuYOcxcppW5kJnHGMCz4bvWvdMnGpCuiHTPi8ZqWY5XKFVqjVanNwhGk9litdkdotPl9nh9/kAwFI5Ei4pj8UQyVVJaVl5Rmc5UVdf06VtbV9+vQeo/oHHgoMGnDDn1tKGnDztj+IiRZ541avSYseOaxk+Y2DxpcssUNHXa2dPPOfe8GTPPnzX7gjlzWy+cd9HFl8y/dMHCyy6/4spFi5dcdfU1S69ddt3ythUrr79h1eobb1pz8y233nb7HXeiu++5d+26+/5y/wPrH3zo4Uce3cA89vgTT7Zv3LR5y9annu7Ytn3HM88+t3PX8+ivu1/820svv/Lqntde//vefeiNN9/af+Dtd9B773/w4UcfH/wzZvRnzOjPmNGfMaM/Y0Z/xoz+jBn9GTP6M2b0Z8zoz5jRnzGjP2NGf8aM/owZ/Rkz+jNm1DtmxH4BHs1NyAVbLzNVfiTkwcL7U7rknB7PduZyhPqYowrv/GsU/N0il6PwsPwW0PZ+QM43AjIfhSvx3wG1S8gA7ftp4iMeh+oAu89HB9Do3PfQGgCk/x1Koj7ovFwWGQFHZ/EV6H5MHx9gQDWAyaej1aSOSbBfgw8Wx2XMBnwVSsGnjALfwI72wifGc2rY3wxWtw6uGoX2MJOVyVxZ7ge8i30lNxX9BdeRt9knAPkfwUEWZa/Orcjdlbsb6dExxtP511x5bjZcNRq1AL6/HHqwGHyJ13ETqSc7c8uhT+OgD4sA5e/BCRaxLciEzoSzr0G3o23oOfAi3gXMiwF5F+PFFA1zqHN3dnfu1NzU3Bw0CJ2BRqDFcNQDqLk/Gc+MB838Tuc/sodyXvjsUeBPXAp+xCrwUzYA1noPfQBqQ01GkdHM48iF6tF48GJuhDG7F0byFXQQK3Ea98USvhY/Ri5hmc7d4C2xyAojOEQe/RvRXTCm6wHf7wb/5g34zO9hTBnA+gk8Gk/EV+Cl+AZ8M3gYj4FP8TVgnHdBiy9h/8Z+nX07p87dmXsEvteF3MiPYkCZGnQ60PN19BXcXxzwUQN+kyRIEpwbbWc2W5k7Jbco92LuHRRCRXBuPRoI9zwMjYVeLwA/bQf4Ya/D39/Bj/s3jBIDno4JxsIPfsSZ+Cx8sezbfIc7iQ3oV0NmkU1kP8jM6+xY9onOLVlrdlP2u2wutyHXnvtr7jWZvlXwPY1AgWbwyubJFNsK3/Mi+B7/BM2FwcPyQV+H4KFwv7fD5x/Ex4GdlICbHgO7Vc+sZl5hRfb27BnZ2dnbs5tz6dww+YGh9IdT0vDXF7hpNGqCz74KRvN+8Cs3gK58DVDzt9gBXlIZPhWPweNwCz4Pz8FzcSu+DF8Oo/oI+GM7wA/4AH8L2JEHZJiAv2mA09aQLWQ3eZscBqtwFjMOJO8ysNdbmH3Ml6zAJtkydhjbwi5gF4JPwvA25WvH7cdnd07tvLPzr9mS7MDs+dkV2eezb2c/zWlyO3OfIR6VQR+bwHedBx7oItlDXgv88Sj08RPwbr8Gmv8AY8GAZ+mEHvtkujVCv4dBz8fiJnwO/J2HZ8L4Lwb/chN4idQzfAW8vDcBH38HCNgKOLSE1IIUjCbnwD3cSTaQdvIe/P1IfmGiTFLWY/2YFribZcx1cD+3MR8yn7GEtbLl7FnsIvYl8K3OBut9l2ylvwILPKGgI0ad4Oy/Rp5n+zGzwNMeAYDiK9DedfgK8it+iHjw8/BtHmYEM4I0kloA5juAy2cji+Iu0HUBYkGCQo49AHpKMWPZKKMFD30E7I8HTNyCHsTPoF/JEOC0SwD9rCOTmbvYm9h++B20CL4TER3+CfVH/XE/oN1bqBUolGKeZP9OP5FTMse52USXW8Z+wRHmTdCD9Zgwr+Lx+AgeAZj/eVxLbkAh2BfwEdieChL4HnD+NjwW1bCHmJXkNPIBtM1Ca/DzcI870CyyA/8F6FID8nghHoHvZsrRlbgVRqMPmkluRkEylwSBn0ejf+GrsBUk91egTZicg1hGR6ah/aQJqL4Pm0gJvhL4dDZagdtQEvyWXeg1ciOqwtOZ546LncUEHz+CNzJD0Eb8K/sK+wph4ZOeh9EsA+0hAYfcDzpiNEhmgIkC19QgjiSB/5tBA56OjORHfDmZhWbg25l/4vWkPxqOpjPzyGB8a/ZHtj9TCSO2HbRJI99HicBqetg0UPwL1A+48VyE+PPYg9xVtM68xRzLNeUC2cmcPvshWgijMwS02wqQpSHofWzDk/BINkeGsrncGLSBPMl+mLNjLQ6gN3IgYdmtuA6Hc37cmtPgkcDhk/hHOu9gV7BL2YtpLnXuV9Ca16Kb0J2AQQ6gB8BuFcE4ng6jORF0zwywEWWoAmXg7vqhAaCVToVjI9AY0KctoCXpQ35bQfPegx4DXCShoTAek+C6c9BMaJ8HFuoydCXI/zK0EnTArehB9AZ5lKxlAuAHvUguITPAO36feYmR8Bi0n13OLkJnoTAaic3wzdVAJR9ctzL3FnxbDLlA+6dBSoHvc1/n3s493LkXPu9B6PtN/AD0Nd+IitFw/BPrxJzUf5TU0K++rrZvn5rqTLqyorystCSVTMRjxUXRSDgUDPh9Xo/b5RQddpvVYjYZBYNep9WoVUoFz7EMwSg5KDS4xd8ebWlno6EhQ1J0PzQFGqb0amhp90PT4BPPafe3yKf5TzxTgjPPOelMKX+m1H0mFvx1qC6V9A8K+dtfHxjyd+DxI8dB/fqBoSZ/+xG5Pkyur5brOqgHAnCBf5DjvIH+dtziH9Q++JLz2ga1DISP26hRN4Yap6tTSbRRrYGqBmrt9tDcjdjeD8sVYh/UdyNBSh10qt0ZGjioXQwNpD1oZyKDppzdPmLkuEEDXYFAUyrZjhunhaa2o9CAdkNCPgU1yl/Tzje2K+Sv8c+gd4NW+Dcmd7Wt7BDQ1JaE9uzQ2VMmjmtnpjTR7zAm4HsHttsXHnb07MKHmxrHLet91MW0DXLM8NPdtrZl/vZ1I8f1PhqgZVMTfAZcSyKDW9oGw1evhEEcepYfvo0sbRrXjpfCV/rpndC7yt/f9NAg2tIy09+uCg0Indc2swVI42xrR2cuCGxyOqVtuUPIOcjfNmpcKNDe4Ao1TRno3mhBbWcu2CxKfvHEI6nkRsGYH9iNekOhotX1rkzvPibX5NNpbeiZ3SOLaY9CpwJDtPun+aEn40JwTzW0mF6D2qbVwGnwasJwVfvZQJEZ7arGljahL22n17dzESHkb/sRAQeEjnxzYsuUQgsfEX5EtEr5pJvV4HhXvT2RaI/HKYsoGoGm0Md+8n4mlbykg8wIzRX8sIHhQyNgbKc09S2F4Q8EKIFXdEhoKuy0Lx45Lr/vR1Ndm5BUmmhqJy30yK6uI9bR9MjiriPdl7eEgJO3yPOu1nZltPvfINjMg87r245tf3B4ev740LNCQ0eOH+cf1NZSGNuho07Yyx+v6T5WqLWbG8cxLlKoERcjHwWmnNh9Mt0Zp21nI/DPy0x9dodCCVwpt2D/4HahZUi+bFIHAv/jRR25o/QqedNzWaGb7X0TJ+7XnrB/Qve0bQx0mI2SoaPGt7WpTzg2GDRQW9vgkH9wW0vblI7c4qkhvxBq2wYAJNo2d1BLF0U7cttXuNoHr2yCmzgP9wVuJWjAxhC+buRGCV931vhx2wSE/NeNGrcJoE1jy4CmjWE4Nm6bHyFJbiXdrXTPT/fQUAycvgmQIz3k2iYhtFg+ysoN8v60DozkNmVXG0bTOki+TZDb4JUqzGrQ9Q9h+vSu/OPpSXP2OOCNLwBtj5CKwKUWCGfXm9UmG89zgt1mtvYzc8NUKvM6fRjRJ/cj0f3qdswhBxaXJs4QjjUP6zxWJxwRDqOGuoY6o6lPH0yL8jLcjNMmU3VVZQVYCQVAUYuJ2gs+FCyKkihprnu0SKs3iYoLJk26QCGa9NrIwxL+YR4m+MyQxmFUa1/NdjywPtvxilZtFDVBfFoWYZzKHieLCr2NqYjKKRLRydIeq0y83SZwPPRWrYZOQ38N8q9TOz0PbAfPsNDfn2h/D0OH5e6e0FsLIQroXTSTrq4yZdKkCGrQe7vNZCOL/mtvv5+XzWUfD2pF6O0reMgD6/GQV6G3Dk0w+xTtbSK7n7yBS5AKVUqOF9Cb6BA6Co7SUyz+F3kevWlQ+BRE8Qy+HanRbOxBjgR0j/58VekRuUMBXOgOAGNj9h1XVAwxuKTz3YqQqNbSLIrtRMGaySKgpFPSol1wrxwR2WkbHHCjh4XPUekw+kHWQIY1H3+ILLqU/kTF67lPwQn+HumQW1LjTUoN+65G1M/ehr2IXnZsGIwMXBWRycaH5A5UkdHhmhEjq2nx/fCavmfQN3z/57mxzFfcbGCL2VJflcqGRRVTg/qoBuNTVRNU56suwZeqliuXq27Fd6jW40dUT6Gn8Ev4FdXb+HP8T9VP+GeVXaPCmg788lZG0w9NUHXgTdCpCcpnSxnMvGPswDs2PgOjcqy588ixI4VxaW1uxt0DU5VnL+ZQ50Sjyyiqyf0ai94ocuH/jIuIBq2Ve9iuFw0aYIPP4L6/5Kh/VYof32wi6tD23A+IyR3blFLG+qugXpw7hopy/0Y2eFtz/37KrVfplXqyPfczEnI/bPLoU/SKeO4HKRTj3HqfPmiarfS6TagEF3G6YEgfqDcl6zkTx+mc9aiDvPZUebheL5bdtx3zwH7JpfnhFX6CEW4AiTkCjAfMZ+yT58DGBdJ4UiJEHaJdtIlW0SJyvNvlcXldPhfLF0WLo7FoPMryGq1aq9IqtQotxzPRoDEsIb/ZKeEEH5FQii2VcMgQkLBLhCKqTUqohECRgBemRSIOr8QSVFN44ZreL9C3ktXoNYsNFq/R3mCkhc3rNTUEO3K/ShJUiixuIxQuAQrRAIVd3xCiRZHFpoMaFIwFzmO8Jk1DSg2FjdY8FjFAP+QbyQ4Vg8Xuo1f5GohaMPaz0yLfuxNftNtN2CrIclkUhf9MRpBVit0G/4o0tBRFQ0FitVpg326rrDBlmC+XTL/ztKtLPIMMdqgNvarEO1CwjWqMi8V9Trl+XWPCUdxnyMp15IN92e/vvbw2E7ipfsy8fVig9eBNdWMWzX+9PiSGsod2bZv/9/qgGMaBXVTaDoP6/JL9GXTPxk0mpasj97NkMPJIqXJJrhGmES5WZdhOHkFafJekErRag/CcSkloCwctJsxxBD+nLIBmhcll2U7eAU/n3KcRp1JqRWLZQZYgI7KTv0tqdK7RiM9FAhaeJXORG92H/57nIFAQR+qEziPCMVmBHTkC6sveBwmd9aY+pQ4s/Hhs9wk75WWoWaayMZCX54Asz5UBI9el6qrJauz3Op3ezlm0xP7stxaVQVQrRfbnXyfazSaHw2S2s2VjeNFo0ClVMBIbYCTeAVlKYP9GnjSOGve0S5PgWAtCHXjCVrXWUh/kQIs0dNLOlZe5toFMfSwlXeH0EMNC/bVF1xZfG3uw+MHYDu2WuEpnUtsy2po4GwvFvQlLkbc4pLVoKKfovjIdsf3H1Glji5VdI/nh04WB5J7Fh0GxarAOlNqELSqVWuvswL9skb97B56AQOihXfmJsT7SX0fmgDNmh1YvnK8hs8FlvbFLKoWfjlGhhIKqviMNML6HhSO4MIwoP4wgnW5f2OSwRfxRa8AhIXPIKGG7zyJhUxiKgnQtWZIfb3ihVtyaaKoOyEbEZgUtHK7uRzJpYFdewRcsTUF/8bwCKTrJUgeM9vH9GP3QOsr3xGUXPCryKq1gtM/YNuWeT6MTLsm+u31UgBLp4ss//3bOecOLZz14ZbNDobYLZQ9Mer+t75R5F2U/vI/y6l9zn7IwUAgIv3lWDUYdoLUqKyoyxr7hU8OnRRprLkT8osC1NbewazK31qzPPFizzbzdvse8x/K6/QPzR/ZvzP+x50qN9LqtliAQztgBFHRDJaY0aBLFRqYUOuJAXMiNRK+/OJoUgfSb/X5TsgNfvzlaX6mH7VZTPR+qr+rAOkltrWfc7j6Ms2/pdiCBmyx5WiP2qeR43Tfb8eI8IUAtYqoiDx8+Q/gcxn6YAERBlBqdh2H3COhJqi5llod/Y15putOZcMRsYblIOiRhM2eVcDgTlbCFNQE6kumyBF6wqWlurUE1rdiWhyHRbgNfWVEFdInmKVJpl/dkKnXJSJ5IjPmihT92zPqyxGAXBMtdj9/04pSnmr1OURzSuubOy8felBSMGqNj7II71742lWxIb5162xcTywST4DDMe3ru0NVnUVnCbRMmra5LW1R2obh+9M5rRt0KtultKk+AajwogN6QdGDP/cQb4Dw+tw2G9fOnPJ7nbAarqQO3SCa9/jmrPxA4lzAWOkEc8IGbO+FphmG5gFfnhfompAfjA/bK46ZiYEMGaLNZmQ5ytWTAnP5cj8eHDF4MouDdTi5AATxB0oAMYTHIslYtWKs3gRzhbnK0Duv8qbm1rg7Eog5QnlB3hFa+BQhVJ0AjbTb24ZaVJK4QdoO0gOD8uL+ua2soL2vFgQyuNHbhia5KQRFVGo0hzDCdb+G3nhzsczp9g+Uy+zIt70lmx+LJU5ii46/Rscv+2KWN8GRysDMAfL6b8jmMXBJ9LAU1LpU7qIqJfR1cKnZ6bHLsgtjtsVfEDxxfO5QiZWIbZWIzVFz+kNIi+MM2nxP7PAH0LAxUhOoRGI3DkspTz7JqFI2YO/A/JJW9Xu2sFxRYsZ0sRTEyayuceW4k3IE/eloQUxFW3cXCPWM27FgdjNGRzuY8+1JYXHoEtDZlYRlwmrq41+Fwcyo3B/bboYLCxXskLCrtPZwLIpxINLdiY5eqoPj5JM4NBfPqpEvJ40WnXVd/74GjW+ZfcIYUdQhG822b1ux6cPHVV/t1AGZPoyqEvSk73ef7eOvLP2ci1QGbSTRd/8pDNzw+SHDYSIrqIfpj6zC6TtAiIVSGH5W0JUFLOB30JrwBb3R77ic6OSPpM2ytspEdqhzNjlfyERjgzTC+/sI2KG9D6XBHbr+kptoDrg4rdR1w5SKWZZUW1qKMslFl3NzXPNQ8wTzTvMB8nXlpeId5a/h9zfumr3VmDeaUCj8fFQ1hfyQw3T8tsCCwoHhe6dyyzcEd8be1n6o/15rGKwH0CEaT32zxWb02j10UHLogCuu0EU1UjctKSUkSrEhMkYhzdl6vC5eDjKzfmqpnGJWrA38s2Xz1Fq6oXqVzfMLXo7gQ98fL4mz8WfI6qkBhHEZa8uDTwfoyPdaL5TtwDV7SDemah1Hb0dkMwB1s3pEjlNaHKZWpnspbQKqmIkl/gDULBqPBZGB4rU6jI3ySjUvYbw524MckK4qqActFwsVKaExwKQkHDD56RIMjuiIJxRRFMltQxhDqZCRH9VqrbHBktJQ3PQncwyoyp4DZobxS4J1QEFktAJ96WAfPOmP99Gv3PffQ7GerGhvK1h24fFSNw2bUmWL1f83uFKP3z5m7dt30KePriHneBQcfuPWXa1c8/ua9181YOz1oEE12tSW78YvAG0/d/eTKqx87qxqk8q1clnkbpNKKFm9UMdRw86C64oTnGfKcSqvTnWtFFqsVWQFMaO0aqxYxAibnatRGg6BmBa1mO6a/cvvwFrtKtH3TCz4fHiYDnwZZ8YDescvSRIVpmb4koaca6CS7jTOB/EBkoIK7FDqzpPNBqksYJvuE0qY3OXh2VlQWi7XX/vqy0+gQ1CbQwl+Az/CF7DNEUDleJg00PRR8FX2LvtWyTtZjTaTGJqYTTqNnHS69xdHmuBnfqbxTs6ZobeLu1CP4/qKtZKd6u3Z74nX1qwnzArw+QMotKUA2m9whb0fuo01loZLtuY/A2fh5i1FZXBymbfHi4PbcNyiS+2pTUTBAYZApUSwpQ/WxGO+pN3Ol9bwu1IHfk4RYzCZE65lPnPUNtuE2YuvARyRNpb9e+CRZrxIrTnI7gEWPNUNJVdHnMqNSPpVZsyxV7vIZrazSa/JLyG0BPVSiAJ+hjAMz6jOCRnJZoUgpSyVUDg5GjzNBDetvPQnUjJtbUSv4EttQIvflZvAG4Ea+3AxOAt1KZeAjcA7Y4xxQw7SGHXKbRdtgdcDpVtpmpW1W2naCa9DUbb9BB1Z3qUI5xlAtm21wBYC3zb3qjHnG+YfWrTt0/syJ8b4Hbr1tf9+Y7r6LL7pv7SXz19ofW7z4sccXLXqcrKh8qOWW99+/ZfJD6UyfkVPb9u5tmzqi7z9n3XX3zKlr1mQVcx544IILH34Y9KIZ9KId+CKCKvEIKaVQsnFFApU8Gt4e5qNUSYaSUOgdUOj03oq0NghFha0yWZS0UiRmmFD+memX0L/ix0q4nQiXUy1Jr+qgRLcB/b9CFTBOKbiKt2wt313+Vjk7SakLo6heW6QpVsXB+4OaLgoNOtYQjtWrOarPJHUpKDR1oN6mi24HnaUjD0rqcL3BmXF+oqhPPkseRuke1SUc6wSg9ROwxmcozw2HG/L+hFH2TAuKq6ioJBhirTq9Vk94I8AZs2ARWJ6LxFXAI8Ua4JGiaNAapprKjEtY6mwqY9CohyIkBKB9K0rxpd26q5fyQs0JqrBacbcOg7ospAWq2mW6ymi5l81DmXRRtIe81VXMzv6bJ429v2XnugufSTf2ia6ZeOV14/s4HUatvajyAK6wZO6Zcf5f/nJO7bzKAPnbvIvOfn7mnZ03LHv8s02XjLi1tCEoOIx2jRlXfhF/d8+aLdcv3yxJCaCzHCthpiId+HzlksqwyaZRbkK8aQe2gU5gsW2rRiOK7p7gSd0wIe9F0BAKPiGEYv69gEpPwUwdUV17Bn13ruqOshBck4szSO6FA42TjLv0+/TvCof0/xSO6n8RFHYAKY9uLjNgQwd2Siron+FfwvM2tgPbJJ0mrX/TYMO290XEF3qJGjAogmPUYgGYOwLVfPTrhO4xgW5VSUZFaoaPqIZi5ESszH5mFY0OP9+rq69ly4Imr1Vrput8jAixO9mbUByV4KekRJURlLOrX7I6dYrpVOfpycEpcJRtk52TkyNSP8cNCRSPJ0swISm10EEekGy6Vbq1OnJQh3Uxo04nGD1qoykUo4f00WhlPBqNxT2heFLFyE08XymbFI+KpESz3GSzjTHZbGaTRzQZg27aNMSHfIt9q33MPh/2xVw+n9vlCbqczmQ87nU5LS6X02Q0ekkK0HQqHAqpVUqEvQlDia+ElJSoxFQy6jRHnSJxbsfjwGvsJ1niUZdkUDUgIza4fK5DrqMuFiBE8qkyEjWmoqbtuB8y5nZtNqobwGnaJQlwrsGIkXG48Ttjzsga4dzNpYNmOToKDn0riAR1PvPVTtmzpxibaupmsHIN1Ngt42SAvazEkVh2BeBsZbeX/31zayl4/b0a/k+78tUKMKj0nQ87MidBdFxwjAL4pAMME2KYyzrfbb2Pms7s32jZH8/7WY4jPITv7C83v0Sh/Lo1X/o+wcuyr3dBeOYru9ls//WFbki/jEzrvIdGqMcCDzUBD7lREarA50jPPhnfkPib+kXNO2puVbwtcY//rsjaxBMR/rLwosi8xMWpVepVlhXhVRHlaGG6sEg9V5hrnGuaa1ac5h8WODU8NHGtnqsw1Pr7BvpGGuK1iUGGUwSlqlT0uwOuiCvuKg0Z4gnlAuGZ8EulzGD/qZFL/Nf628pu8a/3b/Urk0pwwhIIeWxEySUw9ijL/HomVKyv8Bd5YlFbUVTp9XjLKypsSmJThiIGrU9bqm3QDtdO1s7RKrQd+Goploogo2AkBuNq4y7jPuMh41Ejb3Smi4rBDaNB9aMAmsTK0xbkeYJiyta6YZ11NFwtu18U8wC9ZKdCyPvBhcDPie6WrLC94aTJotaYo4lI3JJK4Yg6lMJJUyyFwppoCqMe241am3Fra2szvCLGLiLLplQ2sd2ENgcqqqtktBgAF6Mq7ywHMGql9CXCPS+uv3rhiPVTOlfS/RdxbPLw+oE3z89uxo+MvLRf070rsm+OypN768I7J5fePWnUiqmU5KQq5J5ZPXzpcduQmX2kS+nPLi/KHWRPZx9HNeigdGnKgktRAxqOGM5mtY2xT7ecbZtRMtcyzzbXscWurnZXlZ1mO61qgn1CZqb9vMxS9x2l6spyg98VxIhR6m326gp/yGsAf9qkCW1JmCLVmhWsN5KoZliSUOmjypZANOrs64oayn3lpeUN5Wy52GdZLyIMO0LtY2cnHX45YpsffdlAFmY67H2orQQVioa2a84a2h4eOR5QjxswntGCKJDz5L7ZarPZ3Q5bAR01UXAEkt4VFyrA9CIZitM/aEKyVSugGmr7SphMJm2CFuZdOo52s9FOuDEX3TxljBQdUOTGwpZZG0YYrSZb4szXZ0yYNGTS8oqlXyzbx/pqKUn+6XM6XKP6NyV8qTMmDx635pns15MmW21Ge+nE5pBryIYbx264HDMrQH/fC7J3CcieB1SdVgrcoF6uuc603LzcstK6yrfK3xa4vqgttiqu1RTjIn/MDXDukKS6o2hrgDQq7R6qbzXOGHI6PchjVxK6n+FicsTOozSWGHxem83jtSsTXpWKeJUkHDWA4TL4DcTgLEl6vdgP1CZITO3AfbCyx8PqEQZqXEEI5IJi/z8KfYIspP1xtVVv0Bm0Bo2B5aORokhxJBZhebPJYiJ8IBJXh0uw3xoqwRFDogQHTb6SgutNA+WFcB74WL3lgwaaKd0UPZpQlgqKSopkyfCcIqvA3TOfLBke81y4dNpV2Trachcun7mtWQwPCK8cmd1bEIpxNZNnDptx0ZIfxg+gUtH2/KTbz6hvGpE8FeRhHNCjFOiRwSbJOdk3h1/EM0aNPmEyeTRBty8TCnncjIoHO7PZ4G2gWylpEBv4MQSsosVpT5jNHme6hDI4KU9kMp6SohT1bkk8EY16UuBezpLqnARHNaFw1JlB0YgXIY2TaJTBqMGNv3Pn3MTdn4kiFR6hWqfapzqkOqriVJlotASlhBRJdYBFtEUiYTCaqjPNpabvTEdNjEmsOm2Oo0C5I500dnSMWjKhuRUAR2tBm3Xmg0f0H7TXEXDYmvfXdVcKGk3eTSS6DnS308A2NnYFV43d0aQuKhm7nL6ecwoteDS5lg778SmUIq2yDmPm0ZbOB7Ec+QAqOEgm65PtWHZLj7XKHqQtr2eHTpaPfEvLyUCltUCli4BKafS9NKmFwwaVNiEIHlXA5c0Egx5XZcpQ5isjZYl02pMCM1JFzYhJtCaMRo8YTaKYECOxRCTiSQZDUTGNIuEoQiJQRSUSlTIdSUWiKCkkRySZJB3vZDgcQjgqBKPI5XeREa51rn0yDuFcZxr9AkbCYmG1cFRgBTHz0zYqR90mBQZfKNCDhu+oK91Z10OLk0cf9aZC838hAm4+eWahQILqP6bB3fkph6yriwYGjZe5hw585xUnEuEEvKBT/3cSAA0Wg+VYCpajDkelmpX+O/2kVGgQhgvMqdrB4TGaZu2Y8IOaB8PP8Nu1KjZkD0W1RaFouCrMV6E+q1GfPshTlSmlCqvSUIErqkoqKkpLPBm10lckpMzYa3eAeUpVxX0egQm46qJVpdGqczIZ1hyI6BmAfzMkv8ViJvEIq/KeU1KS8mKMnP2KogalT0mUYv2yOSeZFXAV5HhqA51wAH1G0d7hHvOSDxMWghsnqLnmvJ7L7wi7T7A8/dVIAJvD0UfegxMZg3dx7qutYVvQFuqyP2CAWpupATJSy1JCCobFXpiL6LJH+QA47LLUFnUJGJefrWBLW3ZOXvb6DcOXf7tyz0oFjaA4TEY75t+47KIdI6sw+uT0q8bmSYVv9joFC96UvT1TNWL1puV3tmGubU65xeD0PucT7Z7Rs6bf0HzJHW/85C/G1UBiB7abdTYFUPR8kKo5IFWN+AVJa7rP9kTpZtvOUjbvKmh0iYKH4PTLyF/wYE8i4PH4Ax5nskJuQqW4NFZZWlpR6UnWDaBNgqHB10AaEo0NDQMaPXV5P0LDJwpuRN6J0NhiBR8iEZE/x1CMixPh4uJI2JOozdCmRlSDaxLpmppM2lMbCnoRxiqxIppMJvxRZySaSOR9hrraWjU4FJXecNobbpTcvvTaxicbyarGg42ksYPskFyDTN5AwOgtIxJZTZjhZB8hBjKZzCEMeYbsQAPRafhtJM+Ag+RS8AdinKiTfUwqsXXUU5AxIS2NBYh4Mqv8173f3/mjq07+DFkDyIGeUjA9KoOlwSZBUQqG6Gm9GXagyAdtAr8J/BdUdffEQOA3LSe7G1d3viWr6+yHstinqWPxi6xBSGqu1yn6fqEt6cld54i+uaQq6z3R5ZAV+el4S1f9uK3rOPDcZ+CA/BN4zofekVKlbAkX0vp1fovfWuou9fbjKrVlljJrg7vBewbXqJUsknWoe7hnuNeqMsico62SJ36Bk3zyvrsKud0+5BHzWEgDmj+PhRwmul9krTJarSajx+GLiqao6CAkqjREVSoldUKNwwUsiP6VBx3dGIhSHYhNqX7kfyHlf6PWb2aCA72APx8iN540G3xIBvk3y3MG/XoGq2cwqfZtAlm9A8ZtADlbanakHFXO/uHKTGV11SmBCf3PDczqPz9wef82qa3/HdJd/Z/sv6P/nkqzAVVVDqocm2YNwUTV4HT/zJjy3Q1/lXb1V7qCrvIZwRnlN6efTD1S9WXwl9QvVeqKAQiVd41z4oRx1iM3dlf6Yaj9HjFeJocS/KnVKVKWwqnU6vJUqqzcEy9HeSro6aLbyhMIoQFTnCdELET3R0QNUV+0LMpEE0GqCT2xYKB/WqpiGwYEy5EJeQNBSyAQRIHyIOvHZdF4KBqPxcTyYNAPlARSOkhNdbRfQ4NSKUQllRJ1kIVbAgGHqqIDj3vaP2BAORoQrdiOH0ZBslCySyPKW8rnljOoXCofUc4cKj8KaK1/9Q48DvlRA66SjAMDfsoRSMBHKVM0nrYdj+qBx7KzWFcnCsecnQ7YbXXSiVOqDpyirBWOOBqcR2SF0VknQ2ehLv9XMDjLShI080NEkreuAUnuaijECijsKSgsxQ0oH3pdxl2xG9ELHL0jCKV/rEt6xx6aW/9QnSj0Ql1dPqVgGwrmDm0Ww2nqY2yCLXShiTKw7Dz9njIJdKkOfJIuwTRfxN61R6JFeMxd8kTjuh4UiFtoy11k4ES6/TdtCmYrzr2uIdwyg7b85Zoty/Cr2bbfikDnr4Tr1i3T4lde1P+oPNk7Y29cxiYgHeNAOgJollQD8D1D4TsFhwh5XADfPyig9QxF6ySqcVEAblBhlRNwntdsEoPrFxTii9QP+rwZcFs+1NiDzn6D2WCsQKX+Hj4uTBQeICVyzkELvdmXX5ZH4bMuUcdnUBWanXSSuGMELhK7BO4niedINiXBKrfoJi8RrMG8y4VtLlZjlKVKHzPp9Ua410giL3hgSGPJ4uJE0hNRs/IpikpGoWAZMOMWeR88FrvdAsMQ9tL9YKDSEwh4PZ6wi2AT9rpdFrfbhV3InIhGIt5oOAwivfAplyUKY+aGqqTGGrUaKz1uLwbAJbkQSkqRjCE5PDk5OSe5KnkwySedJYTxmlz0dLNpsnmOeZX5qJk1mLFZTPU9vxuotVLvRch7ngkY78/zCriuoIDlGXDZCe2SHwNWgqxgi9ENheCS5y2a5HDd/1lZ/9bQyowfCP0u61fik4WAJbM6b8lz+R55al3m8g/JrLsoXXEV3TuFtR+vPykm9wXzYo9uJ2gzUHsCUDuEUuio5GCdrEvhRT6zy+SLuDKuQa5tCXXcVNSR+1YSLnZe4yRFyrhyjfMWHzlZW/93K1jerXyTsg0MIW/EZAg3hEk47ABTGIuAJ+p2lqZAAQpiyU89AZqusACNClAvphnJVAhLGlNDGNAIFBoDxR9Nchi1NzT6/zOTNH+HOv6/4950DbKcyBMpxMTA8W8/2a8Befry8Q9OqRg6ou+Y7C9Y23z/0Eevyh7Ah7IXnTjqry0feVWkxmkeddal/abdS8ed+v7PwbinUDW+bxsK5HZLZ/gD/RIW8EUmZM4pv7icUST6lp9WPt45rvwi/0XJSzPXZ9bHHy3fGz3ge8t/MHog9V3UCHCifJBvcODS5FJfW/JG3198G5Iv+18JfJ7QeXfkfkYqZPivNDrRQNb20MjnjycCfDCVDPlKUFXB2qWQt7SEDnsJHfGSEiUY0mg8TpGMbztZiFJknaRDcCNeoTLiRlEc7cDNWxe5V7lBanExHAviEcF1wX3Bo0E22EE8ksEoCbgUvFgiiDWnzToxMtrcerj5cLMg+7JyPqUslXLEHMxEl5HrHSf9XwlfA96UqeBNbfJp/dvBlQrkjm1JaDM2X0fup01pf3lH7quumc6CM0XTv/7YJClsJ1ifSGU3y4z+rR06fs87S+8ev/h6ie7NvXvDnOyPn12weeQjC7J7iDp72omM89IV49dm+t39g2xw7M9lRo2YVTOK/uT2NvCILeARD0QfSPH6ytNdwyubK+fbrrUtcy53rexzxwD1qf7B/QlliUf6PzzggP1z+492hYvepNlRRVNlmhJSrL7W6TBwFoSr9RVlIaYkTeOpRo0YratLGyONmhVsyYqidCTQyLAg+AE5rFodmeyd4yVe52BLRCqPhqJS/zmxRbFVsbWxJ2NcTBx0z3bs65U/cfgIqNN8bnY+1toVbO00ymlf+TSKfOKM7B2D00vDcs00gH1SHDU/LeglNEhXSHnoSgAozCgWMh+Kot15NMyavL4z2TF3/zUrHig5veWcDf3HNn3+1w+upsOaP7Lj3nufHjyo7PY3Jk586/F2tp+bUudtLw2tXrtqSsWZlT6j21PUNmn1nuVl9NCXNOo68bZ7Zw0412t1hoYMWXrNcxQNrAK5rpP16Q1S3KDSZmioKOj2VdFgHlFyGRodMou2KkAJYsjkBcsGYiR24DlPCYLRCx8BVckvuEvdLe69btbgbnAPd092zwVpetJ90K10/zPywhw5mbz1WCFrq0FWfyeFb34TzPkNC3eFcHoqZPX7sncgo6P3sw/LWRSP0+E70TnIfkS5Gs/PLpe3gGPQWcCPl8N9l+HgDuSmv/GX+3mTT3DTBGtX7mcpON91mP/c/ZXvF/Ij/6PrZ9+vfpWGsDx2aXxLXXfxvMkh+/DIKliJtVK0Wh2ix5SH+3oESD+GAOgjT9yozkcIYiqdTq3yGPOY/pRoZQHLA14HwB6LOaImddRkJJ4IqwoGvBjPAdoQAxqOJtOU+grR6VUqh6smq+aoFqlWqTiVWN4LHTTLERzKtfmaHMnphgX/T462nN0uq5UanB9wGPHucFoXtJXnvKsyJ1l7pvObh+Y+sfAUr1Ov9eZt+13PXXXW8nPvklVKVR7UdQ7YeHTqS5eS5+RgmgxdB6x44fR7p8ktXfhOKFieBG6S3AqkcJSh0x2nJVo8Nwn7PL84fkmoH0YPe4jWko+8CJVWQbBYPVqrLRinTaDg50YJigrRlui+KBuNxhLRaDzhCSaQRg65OOYoMF39MEcB6C9GFAqGeDQEB0R68FSPp9Lh8YgOT8BhtxKMvXCDIMuOBEJeu8Nitzvstng0KEYDlqiWiWqCgYBWqyEIK6HHiWiZY4Sj3XHUwTposFRjJ9FS62TrTitjhf3NOTu2b8dXIxvZtzkpz8KeTVMhPm8+1ixnyDTLsiJ7R4UJn9JSOvkKMO6/Tb6ePLkqOzh/2FAgMyC5QpqDTML8fFsIV/63VrL+4mxTf7tFp7PYcR+HWac32+/D1/J4yTqHBXYcuCa/ldh+KqtWa1Xly+M25qve+1T7RIC2DwBti8n3eUdLclgdxGbneBazymKnhY/6tUQVJtZY3nRSxVEnL+2Rc7mls+Y457jmuOd4rrNda9/F7bJ8aVO1CC3GFlOLmd1LsGAT7JJNsrMO4rJ7RZ/HWxyzV5EqW7l9MBls629vwhNs4+zX2R+2v0Jetr0PtyWH3YzCCHBtMxZBMFs8Oos1UERbvWF/eG6YoLAQHhHeFd4X5sKri8PhomJPoBhpefkUlUHlUxGDaqfqoOo7VQ4EdTWnUvGcR8uxfic9xeKZ7MGejOjxOEWPX3QguGF/R/Y/UtrKMn4Lx7Jeq8UCNqQYWMwhWhwOkWDCYK/DDnU7YQhmvFYbnGEjUXsHuUTyOqIIY8YaZVhlUTTgpP9+vzmq46M6LcHPYfr7Pg6wUCIMerNUsVfEPhGLUjwjSumqtLi4FCqhcFqUokVpMSoZin3Fk4sXFa8qXlu8t/i7YmXxDrIAQKAdfBi7DS6zSaXwhkttkjNjsH0nJ3yN20KkaAYQ24JNnN/6LHydBTHw1SxOSVafBe+yYEtU4DDihnOruL0cyz0LR2NokBw9ODuffnAEWPRbUTjsFDoTna3Uz3d8LgqdrU7HkXxGTvNhOOoQvkXd+q0Qg6IBhM4jVDqUNDeBA/norvQkK8DnoZPDBX+UvvDbhrzMDG2PAjCLAzB7miwmTrvT5ixAsKHtzu6pV5L7ZhNR2jtyRzfahC6IRkMGzc1NgRDNWDjJSzKbK83mk9qYd6759p/XXO6TVWcNtWC75/xjyT9nv5jXpbTBxzQcf57t1x1FDDKlx99gPu6lRQ8gxGRB0oDyUp8FDDZNUU2xttjmqls1c218B/Ml+dLAKAm8DT7GbigmpUwNaWCGM4uY+YZLhOXkOsaQ53CNakyBofMR6jhgg3yEWjAQxshyXr2OmAAaYKVB8mcMkgfeojttiLLUxw2JeZs2B7HI6TJGtf39GA/Hc/AifBSzWHSCVctDa0Bi1KABwqakl0W/oZBn2Tut8uQcy6Ht1u7xN+R+2Ej0XbMMNDa8laELhYSO3KebC9un7foGwhh8dfnQcHMgkOnJ0zQGrNjaFbhgssffIY92vkGDFORA5xhyDR3chcyzin/LuGLo/OMDVDhC63Rta+de9vVsCOmQbotiAtawpaX5NWMnhDjZW369X7aGzT5R7NzbTTGCVgNCGcMsRsWoCk+VRj6qeMD3aAkTVUR8texF5vnOS1yLLUudN1lucW5QrLM84HyidKviGf1GyxbnNu8e/bFyqxqLOI6ZO403O8llJW0ld5U8qt9Q8mL5gfLPypXF4Nc8ITkjpYFIJBgIFps8ZnusKoCqYpip1KqSVR34kDQeX1eM1JUBRqMK0Dm/uUkmGavVaostdwsBj4Ie0CG/PyDpbA2GAC4NNASGByYH1gaeDOwMHAwoA84a+6qyAE+Pz+HX8jv5gzzLi9XxHT3ABSeGdX5+Rj7dKB9V7kpbLm0+QlGMnCXajbj7GPuc5CWBjyQWCL4TKQC+pXNHUQbeYu7YZpOyRFmYaAKxK0xOWeDUHcgLp5hzu+gRAO7NgUwhi5PC8l5p7HRRUj5sVcCjTFQ+Vsj2Y8Y9ve+2Rw+90/e64YsXT93oVwl2tX7a3SPWbppL+eDF2mtOffrcM+ZfOHvHtAV33jFn4VMG4bpB5/RRO0xGtcEZv2da537ZV/qLURhee+bp542dTL3tFNB+LPsFcqNiHN5ITdITkkYolc1RUOe20X2zWGoVRZs16PYqGKzxR7XNmg48bWs0oPIHAJVPk+KMG6ReodJ4AgYYecI746FRSOu3WmjKmMEyx3LQAuIQm3RDb3JQIhzuCmQ0NNRRdQsqVjzsOFyYBfyjBV5D27UFYkijZqpwmaYsfErxmOKzix8Jrg8/jbdpnvE+VbSb26Pcz36oPMx9pTTa2HJcwdVrGvFwzaneMXg016xo1pyNz+FmaS4ml6kv8y7wLfdu9z0b3BqxYVClmzRCMXi9G722/MqmZtzahI1AI2S1IOphhU5yenGv7Fscv/2dDsxn/731wzUv9ppzv/f9m256n77ZLzrf+lv2xxd2Z4/+bb282KyfHJR8ee1HH62FN11xBtQZCpIZR0e3BtQaQ4MV3FQpCZWXrB9G3is65DsU+DryVZEibC2yDfQPiwwrGu1vjowvmmmYKc6ILBe1Npp4O89saTKPsZ4fOafoJyfHO0XB6owJMVPE2SbcJdzquMW53roezg2BW2AQLS45j0h02/M+L7rOGIgpNJtZ3v0XeyCk0dcqm9b58GrfLh/xOZOWQJQSeV0U08mD1VEmKiZ296IzSJs88wtq9lh+pRn8HS7M9/akEuXdW+oHgAalgYUuB5fv7eDaemcIhYIok0bgx75IZ82xnB3EP3nzjhfefnTqnjOtgtE+/f6X92R/xZo9zzM6N5WS53xOu+uUxV/ddv/+ISMsdmNiwPmYeWkP1lJZuBJGewN9FheM9ydPnRo/L05oWOiJ/NRJqRwZCiq9DtokuErtLpfDHvSqbcFiVbMaxGBzcQDGG8TBHwxYvEirsdCfvsR2n8q/mD6lCmNnMhJYDHCvA6/cnIgv7sqFbC2MDw3r1MlJV4A2DsP/MSoHv+9GlZcNbbcVhGCzXmlSUhXTIxfbUBxQgd9SRF3NaO6LzSFlWOzWUd1ubyjDd4PvCnsXK/dOJGdJXsXc9MmFbyxY8Ma8D2+V9+e+e8ut77576y3vsl/8OpvqlodeXnBo/qUHF76M389z8roPP1xHOZnIeQqlwMki8qN90gy17Q4rqSADyJlkGvkb+Zv5VfF90/vih65/OD7z/cemE91xd5rUeE9zne6b6Brvm+Oa5bvStdJ1h/sO79Oc4WLbdvduZrfpFfcrXl75otHp9wMsNXoCdgUbMGq0o5y16xCeCxLUgT+T7EF/La5dZ8FzLDste0EVsRYxEH+sF4sOOyKnoR453LVCQE45PEHJbLJZeFAJW1wWn5d05L7pVvUY/gM220mpa3nORIp8QgGbOv6w7bNHJv29v1kvOISyH5e8mz2IDS//HavHigfWrNnvxPfc/1K/SoNoNAoVY7HrladBc/xryYonHrueei/vgPcyHjgzjfZIEUk7glvMXa1dUr5Ou0m7JfFCYn9CbVcaVNqXBSGoSpegclzeQdinEAqWECXXgSXJiYFzw8VBFGmOBTwImfxiScrBq5TqIPCipK5CSex37pVZ8xZJV2qVrHOt+6ysVcxcvA2/VkilGSanM9UJn8vOYh2FSZ3ykp+TMjKbT0rN1McTLiBo0ocSrpgPU3d1yZLfzaGBSiHlvWftDm+1dk3UlmJZj3bOoeWep2j51GM3zF9WaXVYlObbzrtgPl4uK1pd5yldgRmyjfLjopl325Q2k8nO2GcNWiQv9gLOvCJ7JXslcGYRqsReqXyQZa6FfBh4K/JN4HDk18CxMH9+bHZqWum0yoW6y2OtlStjiyvvid1YuSG2rnK7V0+UVBtMlRWEiuOUqiBB3kS5wy/Y/UBLvXdNecCvTgTQmqhCWUt4zONijx/71WpBtU7VrmIMKhpqeVK1F/w3Z6YksDi0OrQu1B5id4b2hg6FjobYkJiOTzmBWWVtQWfCgBigLo40HKYqtaErS7bPSUqiFxfvQK7cMeTMHdsUV1Z05H7e5FWiDthLKsvoJqatpI0pW2lPsLfA6BS54Ex3joJFoSehnpWj1VUZqkVIJm2qrDhhDcqSvO0LO+ZOHCanLX1/2vwi27IDj//66+MHlu25/vpXX73++j3k5TtljbFt1IDkpGI5H+b0U+P9j2/DeOtWjLJDb37t9TU3v/46yMJokIXZIAs1+EIpdYfzVz9hsRWfzV/Mr8Y3k3X4AdKONxP1ev5BxRZuq+JvincVB50Kp9Jol/W2weKzEMtEh8VidwSNsVIZ8CQnliWTpWXBmKDO63sd1k2Uw2hBIY9fNZGJBfxaU0H3Q5nS8kymojxYg2lCKBsrLgZy1yBWIaiVKr940IHBTtwvafqigL98Z9neMlLWgb/e3OeUKd0Z8FTJyBJVUPly8MX4uwr/f81qgUNdc8k4t4uuR8R0LtnoLMwlg0AKThen4CMuTvRhp8KdF0m66rJnFmAb4nPHtvq1Pkse/TTlw8759Zg9GLVbdPM4VvF70wH4zBFrJkxdPnESOB++7HfUfEy6+uKJ/Utn9c5okyUbcNGvY08ZtGp457+75ZeZsDDln9/5Tfe6/H75tZroWeAGG2dEDCDYRVI8KFaIknimOE28SLxGVJh1wjgL4FheqxrHcUGtzS3eYgUcy7xIOvDNT7l5nVaN8A5MA58E3BA9y3J+63ALtoiekYt6ElCETplKdQ0/HTlpuhn1zgm0hjLm3+SZFAaArL58ET6N3nenQ3anT/vR63L6OON772VHHv+hl6YCLEN1/k64szXA5xnSsQ3FgJA2XUOMZrxatPJWGm7SNJxrftBMdqdx3BKPlMTi6eJMn3BDpD7WkJ5pmRnSnGPGIXOVmSQsw2PvRd5LfxP5Jv1r5Ne0sm+kb3pmeGZmg2VDiA9nQiGUV2Sabi3mpmy/Bfmwz0e/VCs0+ORlHYA9fRNDPl8wFHSHUKpSlpeyssHpsrLKdDCVzhg18gfpS9V6vUYdNLqssg9hcPgcxOG4w+JwWC1Bl8WcjNL2U2KxiZFYLBoJJiPhSDjsz6QtmUw6ZDGbzH4UsiAUQuZM2MKFcLDW7bbWuvhobbKyNpVKJomm1mREylpM1BbqRKrmhHDozkh4dGY7Xoci0KKbm16cJv50WbolzaSpPHqqzWD9QP/OVS1WEUHlV5VBhWpiXiVW7cD3oMX5EFFPgolApbS1sJKQBoMKMSA5JakwF27vs4yVJ8O3gae3f7O3rsHcAVt3dX4rVuS39pS83dSTWoJpbskyfYkjwckLyf8oxnqyyP/+uSDMvzn9hCQTc+7QZmc4bQHFsNlgTJupgoCt/OARObLRgyFDgCEtygh9CEw691PvTEo4A84aUTjr580RMe3vzvSnSQDdU/M9lr07Q6Ur5oRPXl2D8TO93KUX8fSELC46KjpTsh147RR54vAoba3N3oYvybb1cp7+g5NUgGg9+222qXuZzTyQqB0gURaQKAdqltJTrfOsV1vB/GrHUdQEOGkcxUgmh/UWozHoQACNEPYbBWG4sFNgBFHsrQ/kh5D8vh74XR1w44ka4AeqAbrAcy+1Bn210hVlgEoGk7hUZ6g21Oj7GPoa6gz1BsnQaBikMkW1Vdotrk1JtghXYTLaPVUx1X2R4iI3V6WocA9SDHKPVnBlyup6WT4P9sV9B/fr27e+X7DaaqBNXr8JjzDtMx0yHTWxyCSYJBNjGqw3mQz6oDXik00lCgpBEhzsDQZ93mCkqizfWClUksrBpZWVZaXBqsESbZx+sBE3Dm5obJQagqlS3hstSRV73DxWxKulWjSYjwcYZ0ClYhTVVVWRiFWt0/vtNsmXKbMtthHb8ajH6y+K0v3o4iiJHu+HSv0N/WgoB/Xb2W9vP6afeEr8cUevqAFUEnXdm+6k0EKSYNesqakP+n/I7mz+bbJWl9TwVAvL5vRks1qwq/7imENUa1lOE4mxRT7M8aLa7sPFXNyHHVqnL78KiS4ElZcQNzeDwXX1JDGrc98iFt6K3PvwXe+D+X6rC33h/LpiBe2Bs5+88gG2tCebYJt/YFCz2SrHlGQ/rsdEh4z5x3qcuN/LVp8spF+eP6v/1EDNvL4Tqk6RV3TcdUZlyTn9B8vV4eWpZH2j3PypnEkjV5mpo+cNGjx4UO3p4zu3Um4mt0mjBk3vfEuu39g41hM7O7/TA8eBy2cBl48FLq/By6TqA/wBJdnN71aS+5Wb+E1KplWxWEGmKc5Wnu1i7nKt58llvs14C2Hcvpk+gjBLiFdpynvjBqvPSqyD5cnRoOlkVJc3SXqkx/rBBauUR3UCiggRchK002UG56FdRW0Nj7fjQ8gPPr3ZE2AVgPJMJqNapfY7D4pYpAZFkAHe6rJ1APBEiu56QEMB2+WZs/MYGIv/e+bx/xXZWVxuTqlQ8krCuzlgOJfSk0d3cRndubpzPCxw6ccbXZY8e7XKS+KamwHDVBVcr99wx4lc9BuAN3bcDU0tw2smyPzwiZx4ddXssxa29sZ3BV5Z1DQw5l1xaud3Pfiu6bLGpZ3fn8QggO9uzB1k64BDNMiOh0g1Jhtrs9htzCv4Fc0B8gH3keKAhj9fMcNIppPp7AzlDPVM3SzjdPM5dqU1wBgCKkajUmgDSF4pJDbIW71d3ko6a6YdYQGVoRaAfx1kmeQwBXiJriOS4Jw5/E5+L3+IP8pzfAf+dLMDVFAXcgfjdqSzuZWC5q6nmp2wIGEHsoGbZckd2yJY9Bb79tynYHE/3azzGr09HlUzNaNUrCWNjabNWWhhpAE+s8HboLFAoVRDoaCFkT4SwQOIT2HRmOAgFDaL0d7PQguzxWChZ+yWTFBRqwGsKWkhTzbgBDrp8WJNmEYvuyIUveM8ddkjL+zOfotNu1/A5tGfrFv3CX3jJ3dlj2LjTvo4vqPP3/vxwXvuPnSQxo7Bc6bSS58SkZIaytWGPkXwzqRG4tGkWXc2Bprw5+suwpfFLyzR/JXfpX5P8Z7q/aL3yj/nP1MrRSbJXKZYydzBPMbwNrcssmKpRxTdnqAtb6U0ppdPMEn9g6UFa4R1sVJDrdVdC5yqLw1o1LEAXsMqkK82wkcDBiVWOiuTSO/3GjzDPZM9czysR6zoHX6WoV1X8PlInexC/zcP+o8Tp3oHiIq1ZTRtKiWnTen8mFK9PPfRxqLQCUtQ6LrnvJTR+AYNI/+uSJ0QTR762MWXvzkv2/nsJytfk0VqTq+g8j1v3X7H/v133LafmXrHhIkX7b1wazb3dJbPZ/EArqiVAdGMG/fuW33jvr35Z5mx45n5oBmskuVyPU6qhqtnmhaYlptu5e8xK9x5p9f3cgHpu6zbyRMAjCVJVQDwdJHIE9Lw4jPkFSLBhEZvkR+GzCl02IwsekEdjtSiBK9uEEBxAm6n8N2lNiiOKojCmUIWf9gQGhHKhzuOhviQmOy8wdFr2SNN981n+8pPJ5MXhnc9oQEb+/yvyW1/qDCBfMYC+baaLXqbyd1lbQsUOmFZ0O+Fqwh54P5BQ5eIZrXeHEqL1XftxBfJMG82TTjdI6edMlP33zx6utMMPmnIOW5DNi2TxmS0k2cKtnBv7iCTBWkaiL+XrrM0uPsT0+moCc0Y+Jj/ser7al4zvzLgY/Pbtrf7fTDga/Ph9JcDjpuPpX8eYNKYeRvXTzXAZ7barP1cA1YEb0nvMGjGmsfXzKiZWbuw5sra5TXLa9dbNlnUN9Ru9ZGRykQsFC2X6uvSTodBr7Bq+6B0RVmILaky6LWMGjFGsba+PmAMNKo7cGYL4y/BJR34VskdrQoEUK1idJ/AcC9NdWO8zsHlo0K1MWtAohrVBrpTapoTwzFxUKOC4aPqgGZSIcot57fhfBQRJ+hjGP4/9r47Pqqia3hmbi+ppFI31NCzfZcESKUoTYoURd0kS7KQZEOyoamADbtiR2zYC4oFVJodu9h7L9jF3hXynbl37uyC+D7P+/veP7Pzm3vOnTtzzpkzM+ecuXv3Ln/yjY7x/ORjb+GUB9/Yr8Ky7XdyhIKV2a6eA7oNyB+T2weV9gj3wUEXHLIr4TRvbEEflF8wZvSoXmXg97qXloX6BPqgnIosK+yiTtg+sNeqWP7QGf0tpTk+vefOzs9Rfuc3qBq2PGNygmByN/fNK+uZvAtmveBlvhWJhcAeaxCilubAIUStc0FmLpzBoZqa4+ocMMDVObBd7knpgGZopfupE8qhhxRzDJ7gUD+Kpq8rSnmcL0dOeZwv+SqjQQP7s7eGCCfYOx/6LUho+unnTikdV7LmzurIsc8/+eQqNTfNeqCvML/f5fEbNhwxff+TZ0x69aJNwtBeMFPX9u6eV1g2KBQe6i8r7pnRraDfCRMW3Rztm5PevfcdMH1zR/QpGbuiesrIkS5fY1nTKrpDuRA8cyl9Gh49Xd7/rx44rUf3HuQG/V79Uf0VfY8uLUlfk35J+k3pTxivG3K+St8jtgmJuK08VxVFRe2LM3O03Cz6J7g5UqE5eCu+vjyrd2n//kopxkg2iwqNnDPErfjW8pxhw1TNNbDoCdQzs6erZ2vPh3pK4C0+3Tycbgrou2Otm9I/Oz8qpC+KtL9W+scvpe270d176IbRXeuD9B5mH2Tfjba+3JuPnRWelXPwDf2B/gPvTuflQmho/XJgf6hj8awngjlpmQVprt8WX7TJevTsCjoYQi1d3PtemljrdaXR90gWTT6rg4ykhdavbKkejwI9zhVq0SCwxKYu3ptHivNwdzVDsyywOVI1TU3tm2F/7WT0mMK+dhpURM+H05d0jXP171/k6jsI52XkuIpK0SA9v6C0T+/eGapWmpkh5xQJhsuFUH4ejVe1wZlZLvUFBSv0dmTxwbcjy8rsF7mU7XN+N2Nb3vB/FaA65rZcx+XU2LoOuOmY3Y2+P6ebmNUHZcs5tubtZdiNLcMHUC4svzxwnNmdH7PvV6yvywelqN8am2Dy1Pm2fM3tTx1fPsO+a9A4ZfdGaxi+s0LO46+smtNBeluDce70hTtt1L7rRseglP4PD4xBP3xsuXsj3ph9ezfBpbsMF/0ZXLorwwVRfikOZY/qtoA0ZMVyYv3uhEq3dcsu74PpDzM3leemobTMtJFpQtoU6weaffWsbNuJQm/74JRbZvTXl5voW1yOtn5+2Vcj2L5FNrbAvkc2hd8iyyIYu7KzcmDPkdMPIVe3nJxu3XK6ZWOks5thPTJLdaFU1+R+pTlb8cJyoxspHZk1NuvOLCFrO16IumGtPK08G5dkx7M3wHZfzH4A34no30gWsSehfp6/+DPrGcC9KOU5zrFl/+Pjfwc/zHSIJ5cO8SQTvWtkP/93wA0g78El5K7z9t98pHWLxHqPw9nYNwCPsN6ygcvo/eNZQpr1W2k6nOPtvYJz3yTU2SleDCNZLAwrv7E4b1D+GuG2vBvzt5JteVvyVUQyyaq88/PuzHsw74O8/XnqBnIXeYHQvy/MLRALcovJYLE4d1B+SAzlThAn5M4WZ+fMyZ1TOKd4AV4kNuY25DcUNhQfLy7LXZd3af5NZKN4S+6G/HvJDnFr7l359xfeX/x03pP57+S9mv9l3p78oUZej7yhZGje0PzTC08vvj1vR94T0hM57+Z9gb/I/538lfd7fpb9xEV6Jn/kwn4CcFP5sNb+GPV39S/vL3xPsQ39X+wvtPZf3Z/QRwJJ//6XW88D9mXPA24qH3ys9biuQJ8KnKoJ32n4TuvRQIH+okq73HqSqi97NBBmZa9eI63nAvu6CgsusZ4L7Dys3OM8F+jizwW6Up4LdKU8F+hizwU+BPvjfJyA2fQhvW2FPyzvJ6KZGAszRX1QaVH3Ule30jS51CxyudLSTDlegAseK8T0S8eB6KLC8hJ/YXnxUF9h+YBBcOjVGw6F3eGQkeUrLC0/rhgX78A3Ww8Enl2enzeLlLvDPkLrEVqPlGdm+chWfHN5muQ6LhfnPpYjXpRTKtHbIiV+CjaHwj7rdKh9CmwsCBQsCO0tCMQoLM/Oy/dJ5bn+VdL5EqHPDxLpAfwxGpyyYn6dP5/77r30GcH59BFC+OyzHiCc7zxAOPTnz+hFVHDgc7Vjfy7L3EOR//UjhP+4ITx//uJ/PHd7qEL2tJqzO723WC1UxcxkQIPbihRBGOQ8Iuhs/FMfEXTKhDMat21t3DSYLsbP6WHRJZvrt56/kN7J/IwGvcWY9Ny3B6es0AUkZ983ZH3qKo2CvV0Iq7SKXFh+SZ+sPtkkO5Q1O4v0oPvxPn2Pw83Z8aJ4v+OqHsOPZT6f/XzRc/2e8zzqe7QqQ0UFaF1fAXlwdlVWdlW/zL79Mot8Xg8u8nn6ZWZnurAnB2OPryo7O9tV5MspKvKRUlyaUQqGsltpdmlRqau0u7vUU9q/tF/pkMrSqlJ/qa+0tLyqamwoNLZfv0EjRgwaO1fybcUjtriq1o/NpF8s9MBYMouK8kxTQnk4L68XXp8hxWFqdK/xwPXN/dYPyrbqFa0fNDej10i25ZR6FVbrend9iFwqf7YdK/x1v04gvKfw54K9hZlwoLFw4eQ9BfTXXBAFF0Kmv+qhV/d031uQuYcW0gIGu6OCzL176e9HDjhIp7MvIbI7n6FfOmSzLx0A3r45p5jCXzdn96PwY3ofBOD79/QoG8MCUWbt6S2JfpkBaJ85DBpn0l/CZurQLLM3tMnsDQFvZl/eymqWAR/b9d+bVZCW4fNu7fziHoDs16vW9wWWYN7Oj8u1bGNsVm8je6yXvhD1MECy9Lz8MVngMsdUVfTOHovpoSrYM2sspoeqYI9MwOBQRR+pxPRQpPdyjfFlwMGTU9hjTCaNuz000AaYzWDV1s5dmzNz6F3SXeVpgPQrg0MRPRzireuIB+PYfgI95RuJAzbosDHH7E19/Ge2B/7uVu5HNuCTBuZkdO+z/0e6KM7ev23/DsuB7f+ud/eMbgPxSftv698Nrn9K/Vk97oF71dMl9Cm92h8/vv98JS+NfXUR3v+kfV8sLU+BjekE1bpC9/Pf4Sx7VZl5KqyqvQgJ38Kqykdfluvp9AYQVtN18kDnryit83ekI5FGkMpI66enffU8K3Cp7jYyo1u3zIy+eemYZBNXWnpOWlp6mknScV4aMXF6hgvlQ5ziMkwdzxdLM/SxelwX9O6FefPjJjYLCzpWp7zjgz3Pt4c/RBtOvvsXJqf90gRifyVGqOGFCWZBmGMA37wHZpgzqQr+x6dvrXdvDsW52HnLilLkx/ytp8Lr+84mIetBgn2ItO371Q7HD983OmH95vdw8mgbRZ5EmJTt30cuED9HaahoG+jIW55mIOxD/RW1MD16q/ML5D3WH0RggT2ua/EkF2B2y7JA3PTn6ZSgtBwGHHV22r/7kd4kA1EITJ6CzkMYG6ioPJNgVLWhilT1WjNhKCakfDs5G/zLsNNoODzf76dtrSdyxeegbTW0ldF5L3WiQeV5AkETXRNLJh438a6J0sReCycMBVc8ajs55+D21l1Tq/10uz3qRH3K0wWyYQgeop1qtetxiHbWXsRqN8du924n/Y8NkHJUzjcTBgEcarfqb7Wib0CAFgrobjz6vrz8uHxcm7Ojzw7fC31e8El+dXxF9UiE+laMKh99eTjct3z40OKROSUDB/TQJE/3wh69B+Rrg0r8I4oGDSr3F4konz471713RbneuyjL6F40dH6OUuS5rqgoIx2nd58IAe7F5Xoo7MKocML41fyX4Z/ZU27f3sw99tYlc4/9Xs8s6x0yWakvLDvkm+MGeoN9XBmZRA4IoT7IJ3kgXs8s6oODxN8He2U4uDJ697He44nZ218xGLQBWc4bWPkmnb++k79cnW7l2c/tAuz96gffWcfk1pWr7lo23z9h8k1NR68syKa/uhvQPzw7WjFnbmhSHzOzMHd01Lv6qGM6rF/ZWj9UnymctfCau1eeOH3Q8NE3NNy268yFeYUFhVMGFd/dOOOswwcXamm5WYW+ySNnr47X/L2Ev+oDETxWHCKcL+6md9SRp7yH0KpltObmatmtJWarScxnUatcWKChxbdZL820XqJrvdC7zL7LjVP6KaXg+OOSvkUlJUV9S/AdJX37jhzZt2+JeHzfkbSEnluQPg5J/+Gv5+AJWo/Rx2aU/aJqqvUPPdcPOCJC4eNXHzGoU/lzrfiXOhRO6d8uYKsCHOnf0EHgsLtT6XxZ/IuVp/ybIVyi/4NHq1gtvsY62oH2QN6PPyLz8XD0MVoLs3Y73o0+Q5/ClY3oMfQ62oWz0Svoc9wN78YhVAvRycW4G3oDZaHZaBW6GtbCNWg1WgQtNqK59PkANAI1os2Q56Bt6Hw0A2WiAWgaqkOvkdHoE1xG/zMD70Rr0XBosRJavIFORLPQA2gLegikyUVN6AK4thquvoAuREfB/jMEXC9Be/ElpAxfDHWyrH9knWNxmgGUkmkjtLPTdpYoNScdxdLf+AiQ4gR0Po5bUltqwTvwWOCTDbI2A6VadDHkeeguNBQF0M3oI1yMB6LR0JtW9Bn+Gvp5JrobZJkBPVsF7ahMjZCzwb78AP1/B+/DA4DOFSB5HWheQYvITJSOuqG/QJND0YdAi/6HK81zQHt2arTSDCttx2XAswyPIgjfjbfjUvwqaO9I4LkNNPMa2kvKOvehk4D6JcBvOIxeOl6CZ+E6NuR0XE4EmrT2KugnzSs7PyW7gOdaK18N5/uA+2orrwbKTh4BeqO5EbQ2B9rRTOmcDyNC8wzQIs0ghZVXQQ/pP8Lei3ugdehFdHznpzgb8HRYUyc6mR7RraCry9Fa0ovOUNKL9KJHOzsffCJcpbWtz7/h//4hDQ5i/VuvnTfBeA+EZUCfZapAW6GXBPp3Dc4AuTVEX1SLYbx2wDWCYziGNsHcoDpyNOdoydbUiTwvgrm7CI0BPe9IyQ9Aiy0wsx4CXTn6XM306ejU1ucKrksnD4D5Tsf0DYt/Nsy4aagVViUtdzJch/lVhs4A6U2oZ6AeRIX5sQOrqLzzb+hPBQQ2QzpfRT9aKzUKHF+zVulc0AZdoxeBHPUwb3aBDHXAoRcqg6t1qBZG7Wy8A83GIhqHj0Rno80kA2ZKBZqJDsM1IPszIPdsGMMa1IGLAbsAcoc1k1dB2mbN442oH+g/Cy1Fw4ALlYBai8PQnM6/UBsqhrQUahSARLYUq0CKYZYcc9FgJEKiYzcbZnceyLsWdHc8zKt5AHPgbBSkZciL+kD7CyBTS3ITyL8U+jkZjUNFkA4H6jehk1F/dAq0Og9aU3vyAFiELRBnfwsjtgxaLALO62CFu1EjGYAPwxPxRNIf3w9pHV4H2OGkPwnArF5HyoSzEX3Y90V0Nc5F16MNeCmeCKPbiNthrLagh8FqnAbrryeaCviP6E/0ProOPY5uR8+hDTDKp8HVh9BvML5fQP1LrPn5MFzbZuUXreRQjoKlTdI9zaJJKXJ6eCmMyBYouZ1U4XPwcbg/fhI/if6C6Anhd/FlkN/F10N+Br+D38L1YNl+xqvwTBzEKlbwIHQp1P6MHIZfwj/hNDwIZ8HIJtffM/QmBhHwdfgGvBE3YxonXYlr8XEw9wZYVQwkWzUz6dtB4bMWNC9Y/x6HIJTWLXgbWMrv0WWQv4daV8NagASSUDttl1+GT8GvgeS34Gegfi8Yh6EcOvj/wQdkv9LycAjlwCrX0bOgoctg5j+Md+LfLTktYwE46x9+Cp/K++qUsb7+A16Nj6DZ0gHNsq0bDg/+mEw/DOLuML4p0NEtzN7XLbiFxsiI/pJ5sQXvwfdY5fthVtPzn0BW+oH+WH25DS2xzhtgjZ6MrkVXgiWBTAphtGFeoAiaBBp5B+ZGGsyA60ET85ELSTAOz0B6DUbjFLhKuVyJrsRf4V/wL7C+F+F78c/4EzyQ1IHW7oJ1U4EG4g+h5BP8LX4EKD4JWrgaeL0BccPzaDdeiBMg4W60E2Qsg7l8JszALPQtzPadkJ5E68F+rMH0yekHIe3E6/EHSW1zLdCZQvXcy5oPCI+HNAf9hN7Gv8N40f9EpvYU7CbIcDms2l34Wfww2MHHYeZugy1Qf1yAj8HVwonoKav9NfgBfCN+zFrjQ61UbKVOnnaBBlLPk6kSakPm/vO/zam+41D5U7BK1Gc43uG/zQd7jtRcZ8UddqYyUB7/0gaPxDnoF8hgC8E+54AdXWblRZBqoT3N02BmDwbbSv1dJcgMtGA+nIOPwhPwQ5AmWGmptYroTHRm40Gr6L+F/7ra/sMqPGS+DPIVKSv03/LBK/c/rOB/rNj/BOmKdrIEiX4cq8lW+T+gY03/A+TW4V+gYy3+E+T6BKsCUedPFg4Q8lN8XP8tZ8AqZdaUjb9tiSicZyfqcWA3MQe8ysN4A9HBy+UgnfQgPfEiKGnHz+EEpDuQm1oF0gM/fPAoOFoHS36PpT0BPP2V6H7HzqVmoDcKYrnTSDbpATKch/7AaVYscpkVq+RCHJQN8+0IiD5EyDSKzoOrw61Ma2yE+JiWrEb3wkptA7arYT+SC6vpEyu62wFWMBdKaWRXBqsrD9pttiK7XRA7XQiWlcbLZbDKRkMtGilfa6V3IBrZBXPuQjQc9jSfoyjsKFRIOsijwnpVIOnAC1YuHsnjQCfmpJwdG3AtOgfmit2WXtNBAhptHmx7bBuz/YAIlGbHDjjR/UZIdky7Bn1uSexQoSu++AD7Q21LI+zhhlgR2ELA6H5uiuXhG9HpkE6EtBHdAHVnWf/D/gDEkjRC3gG7yizQXC7T3iioMQW8zAWo3UobQUPvwvE8SC/APouml+g/k4OkW2E86J6wAs72ws7sHHQHzLAtkDcC1+OBK+3BNtQCkd1q64rOUi3HboXdZDakZjwcD4E0HH0B3hBDbAS7NryPpJN02G+VW7vAFWgFCYBH2QnHMvBTO6kvsGqss1IZ3gA7Ly+ejOdiPy6H8zLY/cER9kB07zYW1k4pLoPWrwEcBYnyGCAUWrRsCp8nqdG+0jYQz2/Hr1o8iyg1qyXsB6k3tSH0/TNoV4Zvw73xYwQBv50gZzFQV2k7mFWvAUXbvy3E97MFNAjOSvA0PBDn4zAWYCReAi2Uggfw272EGTweolkE+QLkAV9Nx/ocGIdrIJXDjuAc8Mp05Oy50gG63gY7kcesPftJMGt2WtgWaLcR/QFzpxjOR8E6vxTi8rBlP7Pojgss4GDwKxQuhxXZC3YUlFN3GF2ae0N8X46OhXY50FPaehXQ3AJaLiNpJM26+VEMdGejBdbKHYB8sELXWp4rH+J+uiPXYR3NhvVNd3Dng901IVEvJoGtovlT7u/6wX5iEUu0RgHqg0fxVURXH10D4PmsFpTPY6AHyp9mZ0WcBBHXMFgVTqaUCNBKwMrIhB7RVX0E2EHdWq85lp5ALohVDsfvwg5kK8Qmb+LRcNwD+UZhIvoY5eAj8UoYRyhBH0G0dSOcb4SzdXCO8PewSxkJiY7xe/h4Zi0cG2bbsY10p/+PfKhI5Bqwm8ld7YGZRijUglDr4+TUewY0F8CscLJzDyH1XkJq3mzZyuHcEqXeZzg4O/cdDr7/kJozYc7Q7OyRacRCM7VSzn0KmmdB+xCUrYW+1h6UUj6dPTp74JSUeg3WwIHpoHYkDX8KVuFSK+sH3Yuj8/aClETbXAlpV+cuyzelJtSZgNQD1tiBCXV+03kkpJWQenQqVHZLRpAFr8YbLbqzrX15x3/q43/qy3/DOyXRVUf37lmwRgOgB5iXKbQJS4usmL8YLHCOpV16v5LeN4Br9hWugWcgUVgHibaEiAasW3GKPA7NMlIMVuFy+o5w9qH3FAeCfRuFPqP3BGA/ex2smz1gj3eCJS4F/rvxlyxRCzsR7wF7Ogp2CLRWAUlndOgsLYX9xwCYifQuAk1r0f0Ywzp6AawU9V4nQ94Is60f7m9p/yZ0CqSb0JEgUQF4Ieqx9kKru+DaOjhbBNd6gc35CL0Ou+8snAfWON/anS+ASPwvnI9eRT9ApJQNlmESDuB+2EDvWatcQC+j/WC3S8BeuyEJYMuLwYaXgkUvgzwQrpYCrUkwv3+BlnPRPojMXeDlpoGdz4cyWuKmJcmRFlwQV63BF+Ll0HY+7AsfJN0htnf2tc5nFEoDu0XfAdALYp3ecO0DdA9INBR0NJbXohHpKmpBIfIdDynLskGrYeW+ADpYJpwN49ADb0D092urWFoHs3Yb2LKleB16F/aCH1u7it0wF94GOf+vdhGpe3UWVx68//7XqN6J1A+Czn784H35PyJrJxI/eLeBwO89CEfq0a8AfzcXZvteNAUXQsyJIM7cA7PvSBSA40oY0Qx+l3y4NRfvhrkUhfrzYExWwhiEgLZi3X+8G1qfA7MjjDNgF+zG9ZAEiBSmkRLcAakWouMyGL9dEFm9BuU5MHdy8Ew8xZo9E3A32K3/ghdbyYer6MzC38AM223FDwNh9vlhTKlfXAVe4SArA5TsZNrpYMuGJUip5TRifwBWxxCw5RmWL6IRxEyAGYBRG77RSjusO3aObad+GDw3nm0n9Ah6BMYX1i70na7VBNRvhdhkjhVrUy9GvRb1Avbu9nj8BP4Qdh5lVtS2GvzUarzKvouOl+FGsKXLIK3GA8Bjrba8Sgd45EbQuYS6gyaG448gnQjpayuVof/9ZxPMjaNTMr1f8j3sb4AW+QKCI1ilsg8h5XWEtFNhccFcMWGGps9EKANgFlzrBrDbdQjlTDl0zrsQoQKYhd3BovWAldCrGqHeTyHkWg9LEMr6j7PzoHqEin12HtLXzkPX23n42wiNhB1QyUKEPDkIeUHG4LxkDj33zxw27VyqwvS+CaEx0G4s7A/Loc+VYCWqtsPkBznGXWfniT8jdBjYhclrEJp6C0JHgJwzkJ1nQh9mVyI05yyE5oHMR72J0LErEap91c71Jsu1/0W++qD8/v9fjuYdIk/4n/OCP/+ZG1Z05a7clbtyV+7KXbkrd+Wu3JW7clfuyl25K3flrtyVu3JX7spduSt35a7clbtyV+7KXbkrd+Wu3JW7clfuyl25K3flrtyVu3JX7spduSv/VxkjZN6F+6KJ6BQkIYIy0Uj6z4LCR9Js68089DOKPGj9Bop+FrLfQ9HfNuZZZxQnKB2tZriA5lm/gqK4mFJHQgXoC4bLqCd26CjoCetXWBRXUQlKZ7gGdT5meBpZj/fzF535xXX8ZWiGuJvhBCnimwwX0HDxA4aLKXUkZEomw2WULhUwXEF10kCGq6hAvIbhGtQ5k+FpeLJ0GVDGogC8THmPhVs6k7+3cJmWK8jCFVqumBauWnhPC9eYDm3c1qGN2zq0cVuHNi6m1LF1aOO2Dm3c1qGN2zq0cVuHNm7rkOJ6ivyGJdswCzdTytOtvpRZeCaVTZlg4d0Az1aOtPCclPq5Fp1GC89LKS+02i6z8B5WnTUW3iulTp8UvL9V/1ILH2LhN1j4cAunb4HAaor8agovM6XcdPpyK3IhD2ikBIUAm4kaURTgZBRHLZATaDlqtUqq4KwNcHqMQHnMqjECrlSgJkguNB3KGqB9ArVbZ1GA9FdpS+BYDzUphQ44j1mlLjQF4FKrXgOUNwHVtn/wHfUvrUZZVNuAgy2HC/mBgxuSCxUDlRiqg6txuB5HC4DaYHTkv9Q/kL5NfRqaATRm/gtvF5zTHkYgJyxt1EN5syX/IiijHP/3mqRUWyyKdrtZcBaDM6o7F8iTsOpGGecWKB1pUXBZtBuZhHWWxC2WXDGr9gg0AcqWWtJRSodDaQJSk9VirlXfZUm/HGCHNWa2FHYvF1jSJSyu9LzVatdsyeZIV2u1dSSvAdknwayw27alXGm1xqQeuNRZFO0eL7V41cHx0Hztc1q3DqTusLRdb9WNw7Heut5qzZ/lXDc2rxijUMdoRa0jnbOuf/Sc1miysGJoNxggHdNazutQcrX8g/Z/r6Uk9XqLUgOUtVkjZo9dHZ8Zh+59crYcKFdpig5oT+y+JCx+zpyj9O2+1ltzg/Y8bs3jQ/fU1nTkAK1G2dw7eAZSrSagXofVkkq7xOpNlNOhNZugxv84Rre6PCUlIdfMxqhrcrwlnljeGnVVxdta422RRCzeMsJV0dTkmh5raEy0u6ZH26NtS6L1I6riHW2xaJtrSnTp9GhDR1OkzWk7KuXSqCXRtnag4fKPcLtdxZNjdW3x9viCxOAjU8pZfag+bcbkmSmtXbF2V8SVaIvUR5sjbYtc8QX/KqQr1uJKwLVZLbFEtN41IxFJRKFxS/3IeJsrDlfaXHXxjpYEkG4fMSG+NNJW7zo8mkg0RdvmxjtczZHlro72KJAAlgviLQlXpN3VGm1rjiUoudrlFvGaWZMq4GqbddLaFq/vqEtQxksbY3WNKW0BxlrqmjrqoWki7qqPtbc2AQOQBlrFoEId1Iq2JEa4XA7zeEvTcldxbLAr2lxLWyVptTi1DymSVb0+1tLgaou2Q+/qqDJS2FtqYbRKLQmKY8AlEW2mmmuLAdf6+NKWpngklSkIHbFFBb1xBcY7Eq0dCVd9dEmsLkrrNEabWg/qEdjtuLUaI9Y8h3WI02CeLYSZ9qVlm51rtpWla8eylsJ64W7hAeEhyNuE7cLtKXRo7Rg//wjOUnlED6BkW97U6y1oudhbdIuHi+PF0XAMH0CpBdpPgXpLrBVp+45GfBe+FgI9aicqoGYbs/IRK66zPvv7gc9B/3jZLY1eCRawSF97C/GRDLGQCnGPjgxkojSIhDIgpqXvau2GclAuxFL5EEMVou6oB+qJellvnnGhItQX9UP90QA0EA0CuzIYDUFD0TDr/UojIXZwQwzhRT7wqgEUhEgiDB66FJWh0WgMGovKQeZK8HvV4BvGofHgkSaiw8ATTQLvOAVNBX97BMQBM0D+WeCnZ6M5YJ3noaPQ0Wg+OgYdi46DftaChaDWZIEVY8Rg9BaBrpot/bSixZZvT4BWllhvsFmOVqDj0QnoRLQSrYKokb6L5hR0KjoNrUGnozPQmegs690950IUeT5aiy5AF6KL0MXoEnQpltA6dDlaj2V0JboKXY0VtAFdi65D16Mb0I3oJnQzViFqom9YugNtQneiu9Dd6B60GW1B96L70P1oK9qGtqMdaCfW0IPoIfQwegQ9ih5Du9Dj6An0JHoKPY2eQc+i59Bu9Dx6Ab2IXkKvoFfRa+h19AZ6E72F3rbe+PQeeh99gD6EOfGx9eaDT9Fn6HOIbr9EX6Gv0TdoL/oWfYe+Rz+gH9FP6Gf0C/oV/YZ+R3+gP9Ff6G+0D+1HnRhhHRvYxGk4HWfgTJyFs3E3nINzrbdsFOBC3B33wD1xL9wb98EuXIT74n6Y/vHLQEzfjjQYD8FD8TA8HI/AI3EJdmMP9mIf9uMADuIQDuNR9I1OeDQeg8ficlyBK3EVrsY1eBwejyfgifgw660dk/EUPBVPw0fg6XgGnoln4SPxbDwHz8Xz8FH4aDwfH4OPxcfhCK7FdbgeR/EC3IAbcQwvxItwE27GLTiOW/Fi3IbbcQJ34CV4KV6Gl+MV+Hh8Aj4Rr8Sr8Gp8Ej4Zn4JPxafhNfh0fAY+E5+Fz8bn4HPxefh8vBZfgC/EF+GL8SX4UnwZXocvx+vxFfhKfBW+Gl+DN+Br8XX4enwDvhHfhG/Gt+Bb8W14I74d34E34TthFd6N78Gb8RZ8L74P34+34m14O31TFH4AP4gfwg/jR/Cj+DG8Cz+On8BP4qfw0/gZ/Cx+Du/Gz+MX8Iv4JfwyfgW/il/Dr+M38Jv4Lfw2fge/i9/D7+MP8If4I/wx/gTvwZ/iz/Dn+Av8Jf4Kf42/wXvxt/g7/D3+Af+If8I/41/wr/g3/Dv+A/+J/8J/4314P+6kr4whhAhEJBKRiUJUohGdGMQkaSSdZJBMkkWySTeSQ3JJHslH15ACUki603fOkV6kN+lDXKSI9CX9SH8ygAxEl5FBpJgMJkPIUDKMDCcjyEhSQtzEQ7zER/wkQIIkRMJkFCklZWQ0GUPGknJSQSpJFakmNWQcGU8mkInkMHI4mUQmkylkKplGjiDTyQwyk8wiR5LZZA6ZS+aRo8jRZD45hhxLjiMRUkvqSD2JkgWkgTSSGFlIFpEm0kxaSJy0ksWkjbSTBOkgS8hSsowsJyvI8eQEciJZSVaR1eQkcjI5hZxKTiNryOnkDHImOYucTc4h55LzyPlkLbmAXEguIhejK8gl5FJyGVlHLifryRXkSnIVuZpcQzaQa8l15HpyA7mR3ERuJreQW8ltZCO5ndxBNpE7yV3kbnIP2Uy2kHvJfeR+spVsI9vJDrKTPEAeJA+Rh8kj5FHyGNlFHidPkCfJU+Rp8gx5ljxHdpPnyQvkRfISeZm8Ql4lr5HXyRvkTfIWeZu8Q94l75H3yQfkQ/IR+Zh8QvaQT8ln5HPyBfmSfEW+Jt+QveRb8h35nvxAfiQ/kZ/JL+RX8hv5nfxB/iR/kb/JPrKfdApIwAIRBEEUJEEWFEEVNEEXDMEU0oR0IUPIFLKEbKGbkCPkCnlCvlAgFArdhR5CT6GX0FvoI7iEIqGv0E/oLwwQBgqDhGJhsDBEGCoME4YLI4SRQongFjyCV/AJfiEgBIWQEBZGCaVCmTBaGCOMFcqFCqFSqBKqhRphnDBemCBMFA4TDhcmCZOFKcJUYZpwhDBdmCHMFGYJRwqzhTnCXGGecJRwtDBfOEY4VjhOiAi1Qp1QL0SFBUKD0CjEhIXCIqFJaBZahLjQKiwW2oR2ISF0CEuEpcIyYbmwQjheOEE4UVgprBJWCycJJwunCKcKpwlrhNOFM4QzhbOEs4VzhHOF84TzhbXCBcKFwkXCxcIlwqXCZcI64XLw9VcIVwpXCVcL1wgbhGuF64TrhRuEG4WbhJuFW4RbhduEjcLtwh3CJuFO4S6IC+4RNgtbhHuF+4T7ha1WfLBD2AmRwoMQLzwsPCI8Kjwm7BIeF54QnhSeEp4WnhGeFZ4TdgvPCy8ILwovCS8LrwivCq8JrwtvCG8KbwlvC+8I7wrvCe8LHwgfCh8JHwufCHuET4XPhM+FL4Qvha+Er4VvhL3Ct8J3wvfCD8KPwk/Cz8Ivwq/Cb8Lvwh/Cn8Jfwt/CPmG/0CkiEYtEFERRlERZVERV1ERdNERTTBPTxQwxU8wSs8VuYo6YK+aJ+WKBWCh2F3uIPcVeEJf0EV1ikdhX7Cf2FweIA8VBYrE4WBwiDhWHicPFEeJIsQRiF4/oFX2iXwyIQTEkhsVRYqlYBtHMGHGsWC5WiJVilVgt1ojjIMaZIE4UD4M4Z5I4WZwiThWniUeI08UZ4kxxlnikOFucI84V54lHiUeL88VjxGPF48SIWCvWifViVFwgNoiNYkxcKC4Sm8RmsQU9IMbFVnGx2Ca2iwmxQ1wiLhWXicvFFeLx4gniieJKcZW4WjxJPFk8RTxVPE1cI54uniGeKZ4lni2eI54rnieeL64VLxAvFC8SLxYvES8VLxPXiZeL68UrxCvFq8SrxWvEDeK14nXi9eIN4o3iTeLN4i3ireJt4kbxdvEOcZN4p3iXeLd4j7hZ3CLeK94n3i9uFbeJ28Ud4k7xAfFB8SHxYfER8VHxMXGX+Lj4hPik+JT4tPiM+Kz4nLhbfF58QXxRfEl8WXxFfFV8TXxdfEN8U3xLfFt8R3xXfE98X/xA/FD8SPxY/ETcI34qfiZ+Ln4hfil+JX4tfiPuFb8VvxO/F38QfxR/En8WfxF/FX8Tfxf/EP8U/xL/FveJ+8VOCUlYIpIgiZIkyZIiqZIm6ZIhmVKalC5lSJlSlpQtdZNypFwpT8qXCqRCqbvUQ+op9ZJ6S30kl1Qk9ZX6Sf2lAdJAaZBULA2WhkhDpWHScGmENFIqkdySR/JKPskvBaSgFJLC0iipVCqTRktjpLFSuVQhVUpVUrVUI42TxksTpInSYdLh0iRpsjRFmipNk46QpkszpJnSLOlIabY0R5orzZOOko6W5kvHSMdKx0kRqVaqk+qlqLRAapAapZi0UFokNUnNUosUl1qlxVKb1C4lpA5pibRUWiYtl1ZIx0snSCdKK6VV0mrpJOlk6RTpVOk0aY10unSGdKZ0lnS2dI50rnSedL60VrpAulC6SLpYukS6VLpMWiddLq2XrpCulK6SrpaukTZI10rXSddLN0g3SjdJN0u3SLdKt0kbpdulO6RN0p3SXdLd0j3SZmmLdK90n3S/tFXaJm2Xdkg7pQekB6WHpIelR6RHpcekXdLj0hPSk9JT0tPSM9Kz0nPSbul56QXpRekl6WXpFelV6TXpdekN6U3pLelt6R3pXek96X3pA+lD6SPpY+kTaY/0qfSZ9Ln0hfSl9JX0tfSNtFf6VvpO+l76QfpR+kn6WfpF+lX6Tfpd+kP6U/pL+lvaJ+2XOmUkY5nIgizKkizLiqzKmqzLhmzKaXK6nCFnyllyttxNzpFz5Tw5Xy6QC+Xucg+5p9xL7i33kV1ykdxX7if3lwfIA+VBcrE8WB4iD5WHycPlEfJIuUR2yx7ZK/tkvxyQg3JIDsuj5FK5TB4tj5HHyuVyhVwpV8nVco08Th4vT5AnyofJh8uT5MnyFHmqPE0+Qp4uz5BnyrPkI+XZ8hx5rjxPPko+Wp4vHyMfKx8nR+RauU6ul6PyArlBbpRj8kJ5kdwkN8stclxulRfLbXK7nJA75CXyUnmZvFxeIR8vnyCfKK+UV8mr5ZPkk+VT5FPl0+Q18unyGfKZ8lny2fI58rnyefL58lr5AvlC+SL5YvkS+VL5MnmdfLm8Xr5CvlK+Sr5avkbeIF8rXydfL98g3yjfJN8s3yLfKt8mb5Rvl++QN8l3ynfJd8v3yJvlLfK98n3y/fJWeZu8Xd4h75QfkB+UH5Iflh+RH5Ufk3fJj8tPyE/KT8lPy8/Iz8rPybvl5+UX5Bfll+SX5VfkV+XX5NflN+Q35bfkt+V35Hfl9+T35Q/kD+WP5I/lT+Q98qfyZ/Ln8hfyl/JX8tfyN/Je+Vv5O/l7+Qf5R/kn+Wf5F/lX+Tf5d/kP+U/5L/lveZ+8X+5UkIIVogiKqEiKrCiKqmiKrhiKqaQp6UqGkqlkKdlKNyVHyVXylHylQClUuis9lJ5KL6W30kdxKUVKX6Wf0l8ZoAxUBinFymBliDJUGaYMV0YoI5USxa14FK/iU/xKQAkqISWsjFJKlTJltDJGGauUKxVKpVKlVCs1yjhlvDJBmagcphyuTFImK1OUqco05QhlujJDmanMUo5UZitzlLnKPOUo5WhlvnKMcqxynBJRapU6pV6JKguUBqVRiSkLlUVKk9KstChxpVVZrLQp7UpC6VCWKEuVZcpyZYVyvHKCcqKyUlmlrFZOUk5WTlFOVU5T1iinK2coZypnKWcr5yjnKucp5ytrlQuUC5WLlIuVS5RLlcuUdcrlynrlCuVK5SrlauUaZYNyrXKdcr1yg3KjcpNys3KLcqtym7JRuV25Q9mk3Kncpdyt3KNsVrYo9yr3KfcrW5VtynZlh7JTeUB5UHlIeVh5RHlUeUzZpTyuPKE8qTylPK08ozyrPKfsVp5XXlBeVF5SXlZeUV5VXlNeV95Q3lTeUt5W3lHeVd5T3lc+UD5UPlI+Vj5R9iifKp8pnytfKF8qXylfK98oe5Vvle+U75UflB+Vn5SflV+UX5XflN+VP5Q/lb+Uv5V9yn6lU0X0xZAq/btKSZVVRVVVTdVVQzXVNDVdzVAz1Sw1W+2m5qi5ap6arxaohWp3tYfaU+2l9lb7qC61SO2r9lP7qwPUgeogtVgdrA5Rh6rD1OHqCHWkWqK6VY/qVX2qXw2oQTWkhtVRaqlapo5Wx6hj1XK1Qq1Uq9RqtUYdp45XJ6gT1cPUw9VJ6mR1ijpVnaYeoU5XZ6gz1VnqkepsdY46V52nHqUerc5Xj1GPVY9TI2qtWqfWq1F1gdqgNqoxdaG6SG1Sm9UWNa62qovVNrVdTagd6hJ1qbpMXa6uUI9XT1BPVFeqq9TV6knqyeop6qnqaeoa9XT1DPVM9Sz1bPUc9Vz1PPV8da16gXqhepF6sXqJeql6mbpOvVxdr16hXqlepV6tXqNuUK9Vr1OvV29Qb1RvUm9Wb1FvVW9TN6q3q3eom9Q71bvUu9V71M3qFvVe9T71fnWruk3dru5Qd6oPqA+qD6kPq4+oj6qPqbvUx9Un1CfVp9Sn1WfUZ9Xn1N3q8+oL6ovqS+rL6ivqq+pr6uvqG+qb6lvq2+o76rvqe+r76gfqh+pH6sfqJ+oe9VP1M/Vz9Qv1S/Ur9Wv1G3Wv+q36nfq9+oP6o/qT+rP6i/qr+pv6u/qH+qf6l/q3uk/dr3ZqSMMa0QRN1CRN1hRN1TRN1wzN1NK0dC1Dy9SytGytm5aj5Wp5Wr5WoBVq3bUeWk+tl9Zb66O5tCKtr9ZP668N0AZqg7RibbA2RBuqDdOGayO0kVqJ5tY8mlfzaX4toAW1kBbWRmmlWpk2WhujjdXKtQqtUqvSqrUabZw2XpugTdQO0w7XJmmTtSnaVG2adoQ2XZuhzdRmaUdqs7U52lxtnnaUdrQ2XztGO1Y7TototVqdVq9FtQVag9aoxbSF2iKtSWvWWrS41qot1tq0di2hdWhLtKXaMm25tkI7XjtBO1Fbqa3SVmsnaSdrp2inaqdpa7TTtTO0M7WztLO1c7RztfO087W12gXahdpF2sXaJdql2mXaOu1ybb12hXaldpV2tXaNtkG7VrtOu167QbtRu0m7WbtFu1W7Tduo3a7doW3S7tTu0u7W7tE2a1u0e7X7tPu1rdo2bbu2Q9upPaA9qD2kPaw9oj2qPabt0h7XntCe1J7Sntae0Z7VntN2a89rL2gvai9pL2uvaK9qr2mva29ob2pvaW9r72jvau9p72sfaB9qH2kfa59oe7RPtc+0z7UvtC+1r7SvtW+0vdq32nfa99oP2o/aT9rP2i/ar9pv2u/aH9qf2l/a39o+bb/WqSMd60QXdFGXdFlXdFXXdF03dFNP09P1DD1Tz9Kz9W56jp6r5+n5eoFeqHfXe+g99V56b72P7tKL9L56P72/PkAfqA/Si/XB+hB9qD5MH66P0EfqJbpb9+he3af79YAe1EN6WB+ll+pl+mh9jD5WL9cr9Eq9Sq/Wa/Rx+nh9gj5RP0w/XJ+kT9an6FP1afoR+nR9hj5Tn6Ufqc/W5+hz9Xn6UfrR+nz9GP1Y/Tg9otfqdXq9HtUX6A16ox7TF+qL9Ca9WW/R43qrvlhv09v1hN6hL9GX6sv05foK/Xj9BP1EfaW+Sl+tn6SfrJ+in6qfpq/RT9fP0M/Uz9LP1s/Rz9XP08/X1+oX6BfqF+kX65fol+qX6ev0y/X1+hX6lfpV+tX6NfoG/Vr9Ov16/Qb9Rv0m/Wb9Fv1W/TZ9o367foe+Sb9Tv0u/W79H36xv0e/V79Pv17fq2/Tt+g59p/6A/qD+kP6w/oj+qP6Yvkt/XH9Cf1J/Sn9af0Z/Vn9O360/r7+gv6i/pL+sv6K/qr+mv66/ob+pv6W/rb+jv6u/p7+vf6B/qH+kf6x/ou/RP9U/0z/Xv9C/1L/Sv9a/0ffq3+rf6d/rP+g/6j/pP+u/6L/qv+m/63/of+p/6X/r+/T9eqeBDGwQQzBEQzJkQzFUQzN0wzBMI81INzKMTCPLyDa6GTlGrpFn5BsFRqHR3ehh9DR6Gb2NPobLKDL6Gv2M/sYAY6AxyCg2BhtDjKHGMGO4McIYaZQYbsNjeA2f4TcCRtAIGWFjlFFqlBmjjTHGWKPcqDAqjSqj2qgxxhnjjQnGROMw43BjkjHZmGJMNaYZRxjTjRnGTGOWcaQx25hjzDXmGUcZRxvzjWOMY43jjIhRa9QZ9UbUWGA0GI1GzFhoLDKajGajxYgbrcZio81oNxJGh7HEWGosM5YbK4zjjROME42VxipjtXGScbJxinGqcZqxxjjdOMM40zjLONs4xzjXOM8431hrXGBcaFxkXGxcYlxqXGasMy431htXGFcaVxlXG9cYG4xrjeuM640bjBuNm4ybjVuMW43bjI3G7cYdxibjTuMu427jHmOzscW417jPuN/Yamwzths7jJ3GA8aDxkPGw8YjxqPGY8Yu43HjCeNJ4ynjaeMZ41njOWO38bzxgvGi8ZLxsvGK8arxmvG68YbxpvGW8bbxjvGu8Z7xvvGB8aHxkfGx8Ymxx/jU+Mz43PjC+NL4yvja+MbYa3xrfGd8b/xg/Gj8ZPxs/GL8avxm/G78Yfxp/GX8bewz9hudJjKxSUzBFE3JlE3FVE3N1E3DNM00M93MMDPNLDPb7GbmmLlmnplvFpiFZnezh9nT7GX2NvuYLrPI7Gv2M/ubA8yB5iCz2BxsDjGHmsPM4eYIc6RZYrpNj+k1fabfDJhBM2SGzVFmqVlmjjbHmGPNcrPCrDSrzGqzxhxnjjcnmBPNw8zDzUnmZHOKOdWcZh5hTjdnmDPNWeaR5mxzjjnXnGceZR5tzjePMY81jzMjZq1ZZ9abUXOB2WA2mjFzobnIbDKbzRYzbraai802s91MmB3mEnOpucxcbq4wjzdPME80V5qrzNXmSebJ5inmqeZp5hrzdPMM80zzLPNs8xzzXPM883xzrXmBeaF5kXmxeYl5qXmZuc683FxvXmFeaV5lXm1eY24wrzWvM683bzBvNG8ybzZvMW81bzM3mrebd5ibzDvNu8y7zXvMzeYW817zPrmhaXlrY4k0oqWjqSmzJd5CvxiMtTS0RRMdbS1Cc4dbaI25hamNzUpHS8zjKQmINR1tcaW+OVLXFgd3Rr+QrIu3ReXmWH19PCFX1LZFl0TliAWUinhDvCW6SInYUK6ui0Arud4G1e1NkfZGpYZVirJKNfbVqA0mReo6ElG5yQaT7MImC4iTgKPYRNlOsS+32GCKXavFAtrU+lq7tRZ3MHm6DdrYmV2/zQYz7MJ2C6gz66L1saamiJpgiDzTrpawgDSrDdQlddCjNotz6uCc5tlghQXEeVTiFXCQxkeamyPSzMZoIiJMa4xJkabWxohUH21KRJRoa3usCWi3xxqaI0Ii0iG0NsbSOlrqmbKBuBZdVtcUaaZYS3tHa7QtFm+TW6PtQE6LtLXFlzZFFyQUC+to1S3YRr9yti/S7yhtrDaeaNRYtfoWk2O17VE93pZopGMSaTKtry7bo9bXoUZ0cUdsSaQp2lIXlRrjHe3RNBjspnhDrC7S1BJP6LRyQ1ukKdHK0dqEOmOcu4R+KOJmSAlHvA7icRCfg4QcJOwgAQcJOoifIT6Hjsdp7ndY+B3KXoeOxynxOHU8Dh2/I6rPqex1xPBwxOHuceTxcsS55HNYuDlTh7LHEdXHKzuUfY48Pt4vh7LPae7nHeR0rBKlo7W2KV63SIExpFCyz5oW2LAtwc4T7Y2R+qhkHZX6RRbUFsAEh9kVX6bbWBuMuJJoi0UaOlpt2MbO61ts2LRArou11TVFtVjLklowItEExVhZe3MM5mGkLgoTaAk/Edo7WuQF0WaYQiI9SO2twFysa+qolRqjEWBRH4s0x1vqjeaOdjapoukpOMx6MvEwEltotERa4+2JtnhrI7VALda6jdZBUy2yIBYLuD2+kIOFwvIEGPGgV57gDvl9NvC7LeD16vHWaIstv1JhGzclYkOjivamo3lBU3SZUZfExSq6mOvgoNSwFlEbyjW2FYxaQKyh9aJwMManUGpIoTSe1miAgzreMTcNDDEmpLRpTGkzoTbSJjbCQZ6YiDXVR+WYBZSJTJYYk2WiLUvMtsgTmbGN2dA4LIX6wiSuHu7IsYgh5iJwCtGWpkhLfaxOneRcbnKQKQ7SwhChpqVBiLY0KFOZQHEm0FRboLgF1OlOuzanwzNSRGpP6fBM2uEE7fAsu8MddodnMfodjP4sm36H3eFZrMMdrMOzU6gvTcHnpuDLk7gEdrihXa+g9t0y4WBLHVSpqLFhJGpBY6rl0Gw8nsS1CJ20TdFYRJ4NxhBkW2qD2bZvWGrXml0fi7ZF22Pt2lIHk+faFZdbIG1xB9ChvQJTXK+1Rerpgogus2Z4SSjsc2vR9gSMO6wQDTobpQa/0Uw0wsDZeLuxILbEwc12oNTiXKiLgz+K1NVFWxKZlqdJKZAS8ZZ4e5ojlXWmV1CHZaFmje2vrBO1JmGXahPjDDOnNtMHlezr5qyUyvrU5miDXSkrBtUP4CBZHMRKcGlSteUXGR9xHnWawEekLKTDI62tEYgTmmvrI2RyB5nSQebEFMaTTIsJ0xvj0gzLlc6MdCiMv1DVGBOmtcfMiSl8M9hF51yPJDsZTe1k1OlkzOlkTseBTa1CsZYK30BdvbiCCk1PE9Tni7ShtMgSvckWvaWDLIvBKrHkFtoa47Ll/90KoyzUgcSASnGqNDNVXxkHMTfjqRrvSNV4nGvcmjbgaTxeB/O7OebhWPKqj2N+jgU4FuRYiGNhBwuUcIzzCDg83D5Oz82puDkVN6fi4VQ8nIqHS+rh8nk4PQ+Xz8MpezhlD6fs5ZS9nLKXU/ZyHXg5Dy/n4eU8vJyHl/Pwch4+zsPHefg4Dx/n4eM8knrxcR4+zsPHefiSeuYtArxFgLcI8BYB3iLIpQpyWYJcliCXJcgpBznlIKcc5JSDnHKIUw7x/oY4jxDnEeI8QpxHiPMIcR4hziPEeYQ5jzDnEeY8wpxHmPMIcx5hziOc7EeSisMDcI65OcbnbomXYz6O+TkW4FiQYyGOcR5uziMpsz/ZN7sFXQBOOOP1eyB2iy6J6GCfIgvaow3xJhtthUOjYaGLIYJJtEuNsbbYYinRDrZBsipKVh3ZuRwHAyQv7qjtSLTL9ZGGaHuj1ByFuF1qjiyOLBDbIgui0KI9ulhpb4y10O1WuwXU9jhwa+9YLIIXWiCArZMaYs3RJqkezhOkMSosiSyRVkSWx1oEsHlCAvLyeL26IAZbikWRBQJkCXhHWVFztFmAbJ+0dLQIkGEb1hxd1ChSIop1oTVKWqO6hSbawQJK1lFYHAdJQXSRygh7piVafbyjtgk0tESGDHxZAWByAzWTjRoAcNHLY81pLdGloM3F0SYwuS061Gc9TXNktXSd7pzZmtMt2S31ZSZRW4MKSEdlNighRky3cAvNsoqsmuxiZkqJVaBRpVoDpVPMZmkVNkdaY4s1ULdd3bCUznBL9TauNkZtRIP+sMvWYLDShFNRA5XYGO8gu8Axw+ofK4UxYhgMkI2Z9jDZJ2lsnJgYDmJYA8VawnDZmE5HgqFJFagJJrIKsltqVaC/dCYqIBOFsNmlwFKIJVz2iijsXWP1icaWeMvCeKwl2pbBi9g53RQn4tZGmN7oyLCwRJwW03NrbfmDXmZp/EEfW90UC3Is7GDMogPGPCfFPBzjbZnnpJifYwGOccp+h6837OGYl2M+jvk5FuBYkGNJKlzSEi5piZv3ksvMfHLA6w4kZXHa+n2OBH4v7weTJeAJsasUS5bZ8gV8HqYhijk8wlwbXuYN6FWP05ZL5S/h9QKOLN5gCcd4P4JcV0GuqyBvG0zqivc3mOw5o+fxcN37mc0OeMKsjGJMz4AFeT0/lznMsSDHkvScsrCjZ6AS5mUlvB7nFnB65A8k27IeebyML8UCvG2SXrKFn2O8np+3ZfQCoCAvx5JlYQcL8Kth3t+wM5ahpMws4oEy5sugjI9qmEUt9KpDL+RJYg7fkJeXJWdTKDk3+FwLJa8mRyHA2yYxpx8h5k0pxqVna5Vifo4FeM95vRCv5+H1QkmM9zzM+YZ5f8PJq44s4ZISjvFVUeLhmJdjPo75ORbgmEM57Ob03FzjHkeCsI/POi+XgK/aVIxT9iVXAJfPl1wLXD6u05R6XKep9ThlP5eZzzBnBVCMUfE58S5gTgufs5sAzGnhK0muKG5z3CG+Uhz753HsX8ATTFplt5uXcbvG9RdMWmpnxkIZt9luHy8LcyzIMe4/3M7sDPJ17nMHeBmnzPsR5Gvf5+b0Akn5QrwseTXJIykflyrIex5ItuV+wcOvBrksQS4Lt6w+T7KMSx/kOuA21ufh+gsmJeCSBrlePJxbiOvFw+klPZOH9y2UlIVLEOJj6eE8QsmrSXpJ+bgOuM0OhpJtk/Lxq2HeozDXVdKTeJNlXNIw7xv32D4v11+YSxDmknLf7fNyW1eSbMG9S9KLe7klLOGWsCTZluvFm7zKPVPSb3H/4eM2Imm9k7Y9lBLxcB58VYTcybZ8jJJRgTs5JzllNx+PpJXnMzbE533IzcfDx2XmMyzE527Iw8eDWy5uqT3cz3gcP0PrcR4eziOYpMfHg1u9kCepAy6pNxn/8bbJkeFjHkqOanI8vFw+L5fZy6Xycr5ezs3HecBoWd/bwTbUbdgSQJQ23GM40vhScPdwD6/t51jAuR50p9QNpeDBJB5OpRdOwf0puCfJB3rpYJyj1+Zo+W7Wyor2UvBACu5Nwf0puIdzhPgwhXsgBfcmJYH54GDBFE15UzTlTdGU16nt5xr2e1I05U3RlDdFU94UTXlTNOVN0ZQ3RVOcD3gFB+McA54UTXlTNOVN0ZQ3RVPeFE15UzTlTdGUN0VT3hRNcUmCXGdBb4qmfCma8qVoio8wWHcHC6VoypeiKV+KpnwpmvKlaMqXoilfiqY4nxAfyRDnGAqlaMqXoilfiqZ8KZrypWjKl6IpX4qmfCma8qVoiksCFtzBwgyj94gczM0xD8e8HPNxzM+xAMeCHAtxjPNwcx5uzsPNebg5Dzfn4eY83JyHm/Nwcx5uzsPDeXg4Dw/n4eE8PJwHtyluT4A+IzBu3LgqaWpjvK1FilvHWdaxgx6dml5Oh1sKt9dvtS4pCTAYZDCcXRdvro21xFoaGuPxRZHa+JKofcldwqCXQTeDVQz6c3hT66si+9sMhyO3DW4f4+WpUuvp1z2xhhY13hJNNMba6rXE0riFtDN5uNb8vBd+H7s2jjH2MMjK3axPbsbHHWIwzGAFg5UM1jDI6HlYRz2sgx5PsmPWN0N2x5KF1hdKdiGjVJ3FL9bHE7XRpvhSRospz8Nk8TBZPEwWD+uDh40PG+USj6Mz1hdPNYNMdg+THXxkhcNRiziYXsHHUo9wNLMi+cWb1YXMyMEFKTWsnqfWsApyUmpwwjmRQxSm0rKmRyotq6BbSg1H8m6Rf5YZ9lMv9hd/kRTcLrfkYuUWnmGXc0kyIgees3aWDKydhafb5Q7b9MgBp1oNx3iZXpPUc5K+XGN/gWpTzaw5WMnRgwtqDtZ69GCt1xxK69FDab3mYK1HD9Z6zSG0Hv1nmT4x2bcYR7WJXAsxjk3lWJy3nppsHU9KN/XgrscPLph6sC7iB+ti6qF0ET+ULqYerIv4wbqYeghdxA+hC8vi2l9Qx5OoVWoJZZdaaLpVyoVIjx9warexmNttLDTNKnW4pcVTz7RZHOvg8sxKEuxIorOSonUk0VlJKTuSUs46UMqOA6WclZSyIynlrAOk7DhAyrkcW86lnJskuDy5Oubaq2O5BZiNh9CAY26OWXYejGsJg24GnXIvgz4G/QwGGAwyGGIwzGAFg5UMVjGOnnAJx9wc83DM5ucLexh0zgMMBhmsYLCSwSoGq21YwdpXsPYVNQyOs2FlCYNuBln9Sla/MsRgmEHGr5L1J2TT8fjZ9RpWv8aJQ7w8NvHy2MTLYxMvj028PDbx2n6sJBBMlvhZiZeXBFmJn5eEWYkTC3i9blYS5CUOZS6T16/aJeFSy8lVBoIMhhh0yNrOtNI/jpWXMOgwqWTXvQz6GHREdwbe6+Nq4BPR63eoVPMS3lW/j2MOLUcGxivAeAXY9RCTze/IVMVgNbvOlR7g6gtwtQWYakNc/QEucZBLHGQSh5gMQaa3INNbkOktxGQLOvWcc0dWLkFSqiTnEBuwkEOd9dzpYciRgnENOVy5xGGnRgUvcWhW8hJHFqankHNezc6dFjXs3NHQOEbBV8Jq8EXtK2E0bP7QhumeL3FfCZM17Iy0z81kDft4iUPXz0scugFewqQJB3mJQ9nRgs/jUK7gJZwr3wD4nGUWruQlnKYnxDGHujOj6S0xB+O9c5ZauJqX8D54uexeR/YaXsJl9nFd+hzpub59XHofl97HpK9ItuPS+7j0PiZ9BZfZn8S49H4mfUWyhEvv59L7mfQVXBo/l57fDvA5FqKCUwjw+gEuvbN2KwJsLbOZHmQz3VlvAa4Dp6SC9zLoSM1766yyCj7uwWTtZC1HJ3zc+Vr08bXoc1ZBBR93vnZ9fEvvc9ZGBVs71Wy92w4TYIBd5yOenP/Jee+syEquxeTs5pt2X5jJXcnWWJjZuzBbx8wJBiqdPvj5Vt3Pt+r+EiZxJbNQYWZrwsymcC6OdH6+QQ+4k2WOxJwD3577uQv0OyuzknPnDtDPHaDfcYCVnALfmvs9yZaO3Jy6x5l9fm8Jx9gsqUxe83KMS+91pGdejq80v5dT9zqyMy1XMK3bIQZAR2pnfvh9XGq+Qff7HKmreQmXjPtDv+MPK7kc3B/6uT/0O/6wiq2RCufckYytpQo2khWsB1Vc0wEmcxWn7qzDKs7F8YdVbAbXMNmqGHUW4gWq2LxhIWCginGtrmLnYdbe4emsSb+z/qqYZqvHsXOuI2ftVdXwEq5bvvb8ztqr4lpz/GE101CN0wcmew1rUc1nobPyqp1RZbJUs9XBAsVAtaOfQIlTwlZ2tUOT6aHakYHpiYXCAUcv1WyVVtcwyDjWlDDI6Nd4GGS6qGGS1jC+Tl9YCBqoYXxrGN8axreG8a1hfMc54xDgayvA/V7Aw6iNc2xjgK+tAPd7AS+TbVwVL+H64X4v4GWSjnM41/ArzhoIcK8X4F8NBHwejnHLw/1egK+yAF9lAe75AtzzBfg6C/B1FuC+L8B9X4CvtIATw7qZLXdzef1srrvH8RJOnXu+AL8RHghw6tz3BbjvC/AoNBCwNOQpqShh0M2gh0E/g069EINhBqsZrGFwnA0rGT02e90hts0LOedsm8fWmTvEtnksEnSH2DaPrTB3iG3z2Ppyh9g2L+Rsi6oYrGbQntvuMOPLolI3i0XdYcaPrT432+a52TbPHWb8mC9ys22fm2373Gzb52Yezx12+Nlryc22gW5mo90VjB+zmO4Kxq+C8atg/JjFdFcwfhWMXwXjV8H4sW2l29Ev20a62TbSXcn4VTJ+lYxfJePHtpluts10s22m29lmVjJ+lYxfpcOP9a+K6bWK8a9i/KsY/yrGv4rxr2L8qxj/Ksa/ivGvYvyrGP8qxr+K8a9i/LmlDbKI0c2slptZLTezWu4a5zqThFkvN7Nebma93Mx6uZn1cjPr5WbWy82sl5tZL3cNk6SGaWIc4z+O8R/H+I9j/Mcx/uMY/3GM/zjGfxzjP87m7ykpYdDNoIdBL4M+Bv0MBhgMMhhi0KFXwWAlg1UMVjNYwyC7seBm/NneyONm/NnOyONm/Fn85XEz/mxX5HEz/izy8rgZfzfj72b83Yy/m/F3M/4ext/D+LLYzONhfNmeyeNhfFlU5mF+w8N2Sx4P4+tx/EiIU2ISeJgEHiaBh0ngZRKwSM7DfI2H7bA8fnadxUwedivL43euM0lZtOTxM0nZ7sXjZ5L6mYR+phk/k4vdNfD4mVx+JleA8WX7G0+A8WUxlSfA+LKIyhNgfFk85QkwvuwOiyfA+AcY/wDjH2D8A4x/gPEPMv5sH+QJMv5sF+QJMv5sD+QJMv5Bxj/I+LPoyxNk/IOMf5DxDzL+QcY/yPgzH+JhPsTDfIiH+RDP/2vsfILkKLIzXt0tmJFgkJAVrBaMZkaClcQIazpfZnX3MjBT3a9TXslescs/jZlAEhsK1ieIHdgDhxW2YyPsEFrhgzfCIUXAccNhhUYjYj3S2oajfcInLj7AwT5z88EX+VX1L3PELuFYSlkvOys7v6w/+b3vZWUP+BCHD3H4EIcPcfgQhw9x+BCHD3H4EIcPcfgQl6bc8CUOX+KYKkxThw6f4vApDp/i8CkOn+LwKQ6f4vApDp/i8CkOn+LwKa4CvwIfH+PwMQ4f4/AxDh/j8DEOH+PwMQ4f4/AxDh/j8DGOqUqHj3H4GIePcfgYh49x+BiHj3H4GIePcfgYh49x+Bg3THicLz7G4WMcPsbhYxw+xuFjHD7G4VMcvsThSxy+xOFLHL7EjcBhCtoxBe2YgnZMQTumoB1T0A7d7dDdDh3t0NEOj+TwSA6P5PBIDo/k8CwOz+LwLALjC0wvML3A9ALTC0wvMLzA8ALDCwwvi6ndSf8EhhcYXmB4geEFhhcYXmB4geEFhhcYXmB4geEFhhcYXmB4geEFhhfmyASmFxg+TT4LDJ+mngWGTxPPAsOLAxdeF3hd4HWB1wVeT9PUAq+nSWoR8InNhehBmDMTAZ+4XAR8AV/AF/AFfAHfg8/smnjwPfgefObVxINPBC8efGbUxIPvwffge/A9+B58/IfgPwT/IfgPwX8I/kPwH2l+WvAfgv8Q/IfgPwT/IfgPwX8I/kPwD4J/EPhfGH/C+BPGnzD+hPEnjD9h/AnjT4h7hbhXNLVLv4h7hbhXGK/CeBXGqzBehfEqjFdhvAoKUlCQgoIUFKSgIAUFKShIYZwL41zSOEdBCgpSUJCCghQUpKAgBQUpKEiPUvSMc48u8egHz/1O86Ge++253577nWZCPffbc78999tzvz3323O/PffblwmPV13cb49eSPOmHr2QZk09z0OaM/XoBY9e8OiFNFvqeV48esGjF3x6h2MSNdWkJygHj3LwKAePckgzrB7l4FEOHuXgUQwexeBRDB7F4FEMHsXgUQwexeBRBGl21aMA0jyqx8N7PLzHw3s8vMejezy6x6N7PLrHo3s8usejezy6x6N7PLrHY3s8tsdjezy2xyP7YapP//DIHo/s8cgej+zxyB6P7PHInqjPE/V5PLQn6vN4ao+n9nhqj6f2afbNpXjcwxUervBwhYcrPFzh4QoPV3i4wsMNHm7wcIOHGzzc4OEGDzd4uMHDDR5u8HCDhxs83ODhBg8XeLjAwwUeLvBwgYcLPFzg4QIPF3i4wMMFHi7wRI+e6DHACYHoMaAlAtFjQFMENEVAU6Q5+YCmCIupvQo7xI6wih1jJ/0PaOOANg5o48BISLOdAW0c0MaB+xsYGQFtHNDGAW0c0MaBkRMYOYGRExg5AU0cGEGBERQYQYERFBhBgREUGEGBERQYQYERFJh3CRXzEBZ2dnPO5ZzknM+5kHNlzvVyrulHdzy5f2a7WIcVrMcGbIntYVM7A2yFHWJHWMWOsXFiu+B3we+C3wW/C34X/C74XfC74HfB74LfBb8Lfhf8Lvhd8B34DnwHvgPfge/Ad+A78B34DnwHvgPfge/Ad+A78AV8AV/AF/AFfAFfwBfwBXwBX8AX8AV8AV/AF/A9+B58D74H34Pvwffge/A9+B58D74H34Pvwffge/AD+AH8AH4AP4AfwA/gB/AD+AH8AH4AP4AfwA/gB/BL8EvwS/BL8EvwS/BL8EvwS/BL8EvwS/BL8EvwS/BL8Hvg98Dvgd8Dvwd+D/we+D3we+D3wO+B3wO/B34P/B74PfD7tNenvcQLfdrr016f9vq016e9Pu31aW/A+Qw4nwHnM+B8BpxPWu/gfHrSB/RgQA8G9GBADybM3I0wVoSxIowVYawIY0UYK8JYEcaKMFaEsSKMFRdT+yOsYsfYyRlGGCvCWBHGijBWhLEijBVhqAhDRRgqwlARhoowVISRIowUYaQII0UYKcJIEUaKMFKEkSKMFGGkCCNFGCm6hMf5wUgRRoowUoSRIvcpwkgRRoowUoSRIowUYaQII0UYKcJIEUaKMFKEkSKMFGGkCCNFGCnCSBFGijBQhIEiDBRhoAgDRRgowjgRxokwToRxIowTYZwI40QYJ8I0EYaJIbVL/2GUCKNEGCXCKBFGiTBKhFEijBJhlAijRBglwigRRokwSoRRIowSYZQIo0QYJcIoEUaJMEqEUSKMEmGUCKNEGCXCKBFGiTBK7IPXB68PXh+8Pnh98GCcCONEGCfCOBHGiTBOhHFiP+FxvjBOhHEijBNhnAjjRBgnDsAfgA/fRPgmwjcRvomJbwbgD8AfgD8AvwK/Ar8CvwK/Ar8CvwK/Ar8CvwK/Ar8CvwK/Ar8CvwJ/CP4Q/CH4Q/CH4A/BHYI7BHcI7hDcIbhDcIfgDsEdgjsCdwTuCNwRuCNwR+COwB2BOwJ3BO4I3BG4I3BH4I7AVXAVXAVXwVXwFDwFT8FT8BQ8BUfBUXDG4IzBGYMzBmfM+Y25r2Nwx+COwR2DOwZ3DO6Y8xyDPwZ/DH4EL4IXwYvgRHAiOBGcCE4EJ4ITwYmTN+flhC9cmFzviBKOKOGIEjabYou8qNZy6Z1XemPFDDMzmU7SmwBmqqs0U40l6nREnY6o0xF1OqJOR9TpmIFyvMN0RKEuvcOMzMBHZuAjM92sw3CRfkRmwJi5SqtyhTdqwhs14Y1aWo8rvFET3qgJM17CGzMJaWaN49wTRasoWkXRKopWUbSKolUUraJoFV1M7QywFXaIHWEVO8ZOniFFqyhaRdEqilZRtIqiVZToSomuFO2iaBdFuyjaRdEuinZRoislulK0jKJlFC2jaBlFyyhaRtEyipZRtIyiZRQto2gZRcsoWkbRMoqWUbSMomUULaNoGUXLKFpG0TKKllG0jKJlFC2jaBlFyyhaRtEyipZRtIyiZRQto2gZRcsoWkaJrpToStE2irZRtI2ibRRto2gbJbpSoitF6yhaR9E6itZRtI6idRSto2gdJbpSNI8SXSnaR4muFA2kRFeKFlK0kKKFFC2kaCFFCylaSNFCihZStJCihZQZ4ZJZp7wyjVmnMq3SZraoZLaoZLao5E1UmdZh8yaqTKuweRNVMt7LtP43JOYbJORxmins+1QSc4nLOck5Wo7btVihB98O4dshP/Ib8mO+IT/mG7pUn5VZ/JhvmNaEun5at2y5Xs6xfqrL+qou66XS6jXXL3Nvy9zbcvtoyLkJvsKtAvcK3Cv4G01v93l75Zgjd7y9cpKOw9G8vXK8vXK8vXJcV5feXrGKQfghirCaQVjNICH1K1k4Gu6XmGY8mTGNaUaOmUPeFgfmkgNzyYG55JIZyZK3iyX9KOlHST9K+lGm32KEcX52Ji3mnye5weL2c5Xu4oBnNP90yQ3SD4ctJznnqbV9rMy5Xs71qZW/5zK2y+3zPrSX1t1ayXYu5Fw5PakVnslFufv5IRxI6n7ujuQuSu6GpO7nrsp2/e2y1P2M43P3fe6+T93PffCp9SqXpEs/zCWp7VEq2b4t25c+pLY1l+RLE/KlCan1fKu3e7zdqzJdmZhL8pXJQ2/AS7JemXtT5itT5ivDq7JemXvay/V722X0fhunl3vfy73nNVhvuw9Z6A16ufe80uplahjk6edBnn4e9FPvc+t58nmQJ58H/dT7fGyQez/IvR+k3ufvDTJ2nj4aDFLvc58H2zl6L4uLqffbJS7nJOdS76tcUuZcL+dS74epJA3ZcpRLUt81l/icCzmX3B1ulJBeCemVkF4J6ZWQXgnplZBeCemVkF4J6ZWQXgnplZBeCemVkF4J6ZWQXpkkVCYJlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQXwnxlRBfCfGVEF8J8ZUQX4fgE+orob4S6iuhvhLqK6G+Euorob4S6iuhvhLqK6G+EurrJNR3i4HF2AMWYQ9Y1D1AdAyoN7lPbnFI+ZDyYSqfLP4eJwcm+W9hSPeesn7OpdGc/xaG5L+FIflvYUj+WxiS/xaG5L+FYbmM4TKGyxguY0jGkIwhGUMyhmQMyRiSMSRjSMaQjOEzhs8YPmP4jOEzhs8YPmP4jOEzhs8YaTkpftOxHMjhNR3LgRw+07EcyOExHcuBHMuBHMuBHMuBHMuBHMuBXFoOxDIKYRmF9NJL9yTMeHVNEO8Rch4h5xFyHiEXYN2AmA9wbkjBLRNQOmJUMBGlTEQpE1HKRJQyEaWRp3+C47qT8zE7ecr56YAbTfy52S7WYQWb6gVsie1h+9gBtsIOsaOJ7dFOj3Z6tDNh96rXTbaPHWCriZ0E4WbTE+WyL3LZF7k80lweaS6PNJdHmssjzW23l0eayyPN5ZHm8khLS6jTTwgDC/kCC/kCC/lCelk7gFdiutLKmXPFe1zxiR+sen3OvM+ZT/yL2RFXhM/d9FmxY2ykfr+4U7x499POp5svycqWme825tZDT7j3avvATGM3d8pydbzzafGWpRuWPrO0ozhr+4uUdIpZ2y9bqkuvNMc/6vym2LD0qaX/sFSX3LGSO1Zyx0ruWMlyZ6todf6p8+vNJ2YN+uNb337CfVU92rlV3LXU7vxt51Ixb22/hj2LvWL2KbMfYC93Lm0+M7u72mmfW8VXtr9rqW3ndm3zxGl3u8n0lprM1VRy9ZaVzFbf7lyzXl2zXl2zXl2zXn1l+5a1etXKr1r5VSu/2pRfLVpNU/NHaYrMtc3dj1BimWpXZ7XzcuGsiTPYVzovb7rZT6pznZes6RvN/qPOi7a/0uzPNvvTzf5ic/Rik3+zyb/Z5Jeb/DL5en/8nv1ss99d7+v/HXhx1Ep+0DnZ2Oc74+JJs6ftc22/3/leY/+0c6Kxf2Ll+82esnp7zZ7sxObz9+yzmv1j+1zbE524qbOL1Vv2+awdaxteXa7WB7U+qV2kuuSKpY8sfdGUnLX9RUufWeo0NVsdtW1kW9Wp7Bsr1saKHVkpOp0V25Zte67znB151uo+a/uVzlJzjktWa8mQluxaLVnLS3Z7luz2LBVTnSXbz3VCsWhpxdLzls5Zus/aOWbfO2b9OmYIxzpPF09YW/Pt94t9Zuews+1LxQGzB9qXNg/MrlQ72x8Xz1s6Z+ktS++1P968b+/uap/Vq+set3Ta0llLFy19aOmGpelieXJk5YH2cnu5c7p9urPDnu6jt5aWXGOlnNg/fHxiH3zU7a5+0jlql+lo8aGljnX5qHX5qJ1q+jRrqW2PzuHiE0ufWfrCUn3BD9vFOGwX47Cd4GH7/uGm1v1Nva8s3bXUsYfosLX/9Tr3Nd+etXT8nlbq0iNWcsQ+HbHvHLG6R6z0C9u3mm/Ux5+3dMXSJxw72DzMB5uH86C1ddB6e9z2y01ut+1nOwc32zt3b9n1bX13d9Wz637akh1sX7aredmu2+X6CWnXg/i4HVmmxhVLNyzd17lt21HbDtt2xLaDts3bNmeb3cHOAbt7H9h2xbZf2HbZtvdtu2R3Y9+NhU8W2mfDm+FiuBI+DDfCJ2HqN+3ztp1rn1vZVTzySFEUex+efrTa095RrBUzrf9t9teb/U+a/Uqz/9bKo2sz/7U2829rM3+/NvN3azNn1ma+vzYT12aOr81stV5f+dbCzH8uzHywMPPywky5MBMWZmRh5ujCTPVwa7X1SjFT/GuzHzZ71+wPNvvHW69szhQ7/7n1ajE/bU986/DH838x+9/zWztam7N/Nb81beYvJ59enZhn6sJfzy7OvzF7bFLynYl5Yv5fdlgLxUutfyymWgsrx6b+fers1MrUYOqPpp6eOjJ1eOrQ1OzUvum903umH5p+cHrX9PT0/dM7ptvTxfS+rbtfriwUdh/23b+nNvfvqPc7mvyedr23ne2Ldmu6XZwsNv6gc6p96oVh69TGpz8qTr0+t/E/Lxzaau36wZ9t3Hdo2NrYe6o49eJw/0Zv4dTW1N0fbvQXTm3sfP7VMzdbrV+s2qeN9l9vtYoXz2y17tZFP39sY+/ozO2i1Tr288uPYVdX6++cubmjdfnyavHIT5f3L+997uFB1G/YnWO/sP3f/oV7P1hPHt/45akXzmz8w+OrG67O3H189ZRduRfm1s7cbvfb5Vhvt3u1WT1ze9d77f74h3X5rvd0dbteMWfleruYr01Tr5ir6xVzv1XvQLtX13uyNpN6B5p6B75W7+az82O9OT+f6jzb1Hn263Xe+HqdN5o6b1CnM6kzf0+dqS+L+abO/NSXv1PnwO9R58lvrHPP1bwwXPh//mvdLk62Pr85end84dD43KHxBUvnNi799Mf7N957fW7udjFqfV4fmtvofOfc6z/6cW3PX9hqfX7ogm6MDunczZPv/u7xjXfrwycP6c3i3fGLZ26+u3JBN0+unBwfOq+rt06cf+r61+D+JsHdfOr8NzR2vm7sqRrrxPVvOHy9PnyixrpeY12vsU6snGiwmqfeHsvpYrg6WpvYW+0HdtkDfO6x+dXhI3veeq55mp+Z3/+zx+7sKFq/Kh5YWN148NBwY8ZSfejp6umqPmSjrD70kBXv5tD+nz0z/9id1q84tMeKHz40LPaP/1zt3/o6md/z3/r6+tuvrb+2Xtvm3/rb71iqb1OxXqy/XdgZVA82/m3W2Ljm5kuW3m84urO+vvp20dzT9XeKurW369124zn3jrXcWr/3ISjWf/u/+slYKCbJmlt/p2W16orv8Nist+ygNVPUnZyU/R9iqC+3CmVuZHN0cmVhbQ0KZW5kb2JqCjQgMCBvYmogDTw8DQovVHlwZS9QYWdlcw0KL01lZGlhQm94IFswIDAgNTc2IDgwMF0NCi9LaWRzIFsgMyAwIFIgXQ0KL0NvdW50IDENCj4+IA1lbmRvYmoNCjEwIDAgb2JqIA08PA0KL1R5cGUvQ2F0YWxvZw0KL1BhZ2VzIDQgMCBSDQovUGFnZU1vZGUvVXNlTm9uZQ0KPj4gDWVuZG9iag0KeHJlZg0KMCAxMQ0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAwMDM5IDAwMDAwIG4NCjAwMDAwMDA2MDQgMDAwMDAgbg0KMDAwMDAwMjg4OCAwMDAwMCBuDQowMDAwMDY2MTM2IDAwMDAwIG4NCjAwMDAwMDQzNTMgMDAwMDAgbg0KMDAwMDAwMzAwMCAwMDAwMCBuDQowMDAwMDAzOTI2IDAwMDAwIG4NCjAwMDAwMDQ0MzAgMDAwMDAgbg0KMDAwMDAwNDE3NiAwMDAwMCBuDQowMDAwMDY2MjI2IDAwMDAwIG4NCnRyYWlsZXIKPDwKL1NpemUgMTENCi9Sb290IDEwIDAgUg0KL0lEWzw0YjUxNGU0YjUzNGY0ZTQxNDk0ODU5NTY0YjQ0NDc0Yj48NGI1MTRlNGI1MzRmNGU0MTQ5NDg1OTU2NGI0NDQ3NGI+XQ0KL0luZm8gMSAwIFINCj4+DQpzdGFydHhyZWYNCjY2MzAwDQolJUVPRg0K"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request. Please check if your syntax is correct. Please check if your syntax is correct."
          },
          "403": {
            "description": "Forbidden. Please check your credentials (see authorization in description)."
          },
          "422": {
            "description": "Could not process the request."
          },
          "500": {
            "description": "An error has occured. Please try again, or contact the support."
          }
        }
      }
    },
    "/api/V2/Closing/All": {
      "post": {
        "tags": [
          "Closing"
        ],
        "summary": "Close the shipments for the designated shipper and shipping location for all clients.",
        "description": "Triggers the data transmission to the carrier as well as the manifest generation.\r\nThe manifest can also be printed on a windows printer.\r\n<br /> \r\nYou can use this request multiple times per day.",
        "operationId": "ClosingV2_All",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClosingAllRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClosingAllResponse"
            },
            "examples": {
              "application/json": {
                "ClosingResponse": [
                  {
                    "ClientID": "0001",
                    "Result": "0",
                    "ResultText": "",
                    "FileList": [
                      {
                        "type": "Manifest",
                        "Value": "JVBERi0xLjINCiU8ICAgICAgDQolMTEwMjMwWzMyXQ0KJT4gIA0KMSAwIG9iaiANPDwNCi9DcmVhdG9yIDxmZWZmMDA2MzAwNmYwMDZkMDA2MjAwNjkwMDc0MDAyMDAwNGMwMDY5MDA3MzAwNzQwMDIwMDA2MTAwNmUwMDY0MDAyMDAwNGMwMDYxMDA2MjAwNjUwMDZjMDAyMDAwNTAwMDQ0MDA0NjAwMjAwMDQ1MDA3ODAwNzAwMDZmMDA3MjAwNzQwMDY1MDA3Mj4KL1RpdGxlIDxmZWZmMDA0NDAwM2EwMDVjMDA1MDAwNzIwMDZmMDA0YzAwNmYwMDY3MDA2OTAwNzMwMDVjMDA1MzAwNjUwMDZlMDA2NDAwNDkwMDU0MDA1MzAwNjUwMDcyMDA3NjAwNjkwMDYzMDA2NTAwNWMwMDU0MDA2NTAwNmQwMDcwMDA2YzAwNjEwMDc0MDA2NTAwNzMwMDVjMDA0YzAwNjEwMDY0MDA2NTAwNmMwMDY5MDA3MzAwNzQwMDY1MDA0NDAwNDgwMDRjMDA1MDAwNjEwMDZiMDA2NTAwNzQwMDJlMDA2YzAwNzMwMDc0PgovQ3JlYXRpb25EYXRlKEQ6MjAxMjA1MjMpCi9Nb2REYXRlKEQ6MjAxMjA1MjMpCi9Qcm9kdWNlciA8ZmVmZjAwNzcwMDUwMDA0NDAwNDYwMDIwMDA2MjAwNzkwMDIwMDA3NzAwNzAwMDQzMDA3NTAwNjIwMDY1MDA2NDAwMjAwMDQ3MDA2ZDAwNjIwMDQ4PgoNCj4+IA1lbmRvYmoNCjIgMCBvYmogDTw8L0xlbmd0aCAyMjA3Ci9GaWx0ZXIgWy9GbGF0ZURlY29kZV0gPj4NCnN0cmVhbQp4nLVZW28aSRZ+z6+ox0QKuO5VPfvkjB3vzEaWkzgTyYo0akMBvYEm6W7ilTU/daS8+Dfskx/2nKoCuoG4Cc2CfKFpzvfVuXznVPGV0D63QlFK/HP9wkrep/5BBjPylcClMTEJ6emEcLjY45QUjozIW8L8sxjjPRfEf4zcwf+/w9Xfl59hCfxlCX4Gr75fmbSkZySYhHfVyiTtK2/EGwh3MPy8bBhgjJOeUEBI4JvUf/wjycmzV9eEeR74ZP739ezZyWtGwrLI9QgvlYFDD9YN2NeDaDGR5Hr4/CytFrMX1/9+dn797O0STVIW0JTtAGb1CkwKjWBc9KnqM17DE33FjRCGwh1os/m6xxND+5QZYyVVDIMELw21q1DGF5yJPpdAQ5HE9LlJ4FELKdznf5jqC1iVSvqrIMQ7BASj5RbNWq0wzuM9UvXtD+6xotUOLke12OFGtlIWQrXfk+hWLKlMqx1pbeu6FLOtWJrRVh9q0x4LQ1krZ6N5Kx+rZCuWte2xSOCttnUlRrfnGBWmPckYt62MGPMXW1O6vXoAjbVzEnKP6pC0vTyYFKJ9dTJpDwpTvD0qTFndfpOWpp04qFW7JaOfCMvbp6QYyn1LimmfWY5KbKGv9LilXooTxpmlCaWCsijHIP6GwR3GgAxjI1OHthoaLg2gXfkWd30XTVvQZwA/vXxzenFObj68I+dnv9W7j5Z4lzBA1kDbUEcgoCOBYNpwJPDbr+9+IXDLP8iraVpV+WI2c0UOl7BZ4e86J6vAjOaQUBYbsOjuFR468V20nRjvlMWoKtIxuV8U5Cr97KpbN/pvMXTFIh+Ts3++CRc3iXEqIzHbpVcL5nu1twiNf00ndxNwzS8r2A6BoDEQkHYwflCPcln0a+7+SiQOQDjsaEG7DjtMIjBd4gbTYeqJixu7W1ecZHnNqf4unH88gcPnH92AjfPPVTF/Mx9nJTldVPNZWmVl5sNbDyrV3gMy5kYXDzBtGh6Itq33/L9cnm9AC2DpoQU3XaGD5Kyhg+0IvciHiI5Ft42f6IDfafbku+AlZvnwubTaGC2ZVnVwI20cs8EBXRbPV6DBZMi482LcJz1I9y1MP2wj5sELjnZCjoE1RusgHOdvK4iiHRR9uaq6T9EwDHQIenNZR0wiIhedICGMm5DJGvI8L06ubuqVKyOs9NnTfZu0Vg5Zg519GT3k40biWpRfRGasI7LaWLC3HJGv3tw0dILrCNrVy5ugwXREvXB3jd2hWaLaTqhiO5286Yj63hXfsoErG+qwhO6GvGO9oob8sWhIojzSereTKpiOqJfpYJI35qAlbqfgrsF0Dey6IUGrNNIdFyiEaC7Q1NLoPK8afk1ohFVdKqYmDLSWPNWm/CnF/0/yZ03Q3E35Q0SGg3S3nJG79C9gfnpO6acXPdnTysjESt1j/qFYT9TYcI0fSWCeoZ20aTXIe4Oa+17zOitmKXmV5aUryMVsUxIRtqMkiq268ZYjvrawgz10NN2pfGZtnL6k641RECdcTycdWI3DwWBEutySOUTqBBTMRPvnH951cNLy0FDxtW8YOGfpnYOVghkr696uuTuUMzjhGPIwiPaWSI3NHW74OGeMmAQ3nGafHaegT2GF5d0tTYep7CxzWCOw3XDZYELusmJIvs1zcuYWVTmYOHI1Lyvc5W1zAyUJ3IQ8mFuch6NF4wUkXZRjN3qcTKttzEQETAH/dPbHqsGjaRE0+i+y8+CZC1hkQIZld0UOFpXfc/y1DQWxDlAQ/YMdS80aSuL7APXnU48tHrARCTy42SfRW5yt6s6WkgVnX6YzR/6YFzn83SYARRYI8OQ4PpeW7/Y5NKoAxfY6rdjD54qLA3yuRBJ5SNN1ybaZ4ErL4PObRVm56fTW3WfF55PT28l8OkonRYWbwJPX2TRLp9uxUKD6gRgo1lFiocOR23YsNI+ipw/XvEYotNQ/EYojHCRJbjFpA+x7PE4gWU7W3e7wnXu0bL1W9ch5MXv4no3XxyU/242DPSFomIWHt84f9a1Ono4wbVut1844vD0v7YSld7YTl9zs7lwzr3vQZBTDU959mgxnTyQF7dvYdKPtAHsGLff0tnT5EP755ooSeq8rqpdkmJYlGWaOPEJHxlPA3OXkPdwHIXaNjVi0B0IauPJ9iuVJrqyv8VxuzVXZ2I5hEJhm7vsUJ4QhEALGmCb4Gl79gbNDfpsWP+Kok8BRJPtoWgtH0fSn9Wnl8qr8UjikM3Tk0/NbN8xyLAuYJPBy5T69IBePFXi7zPJhfwdJ4BZI6n16TUvQm45ULJy0lWSSAr9pRTDeUGTlrSvnmAOOLGbkM3jRkRx23Nv0FIQ30JP7zAQ/FWclfVPEwJ5Op2M3Qx45uXAQ9odRVa6cCRf9Uf/J+X/A2WW5g6aKpSNY59JZi160bXzp5GmVzfN0SvyYiJk5L6GQ3FNVomysEm6PUCXNDFSJDbteKIPbeVWOMcsg2xb5kMAY+zApfJmE7NuReFrExNtvyGlJPIOptuKmlYwzPjktKk/po8tKR1B2or9KVJo8nUCPmj6UMOv7NNzBU8cM5PQIGbj8minaDmPZ38DkS/E4wu+VkKFnNofu2RBBMoHCAZdW6NcdPJOYgsx0TkG2kYKG0XCO8zj4fJ9Opi9XTgzfGeBrfz5IFuVdn9wv+lBRO8rE8JiPbK8vEn+qmo3w+ThLv0P78KkHmhdZwsg3Bw/Clb+XQUe5uYOcIOOsud+K1mTUbjwu6ZydyrA6U+21e5giRZ+RgzQn2YxAP6wgzh9mWN3puIQfKB3YmP2QpYk1ZDuX0GZqmvAtSUOrR49FLR1nWUWuizQvv8yLatXL4b2X20Txa2ZPVHeuoc1at9zXUDkfQWRxhIAyz7FMwt6+KuFv5t28ij2BSr930x2CiUNL0PGj15BVvoZcMUpRbe5cAY1nrYtvyf8Aw2/hvAplbmRzdHJlYW0NCmVuZG9iagozIDAgb2JqIA08PA0KL1R5cGUvUGFnZQ0KL1BhcmVudCA0IDAgUg0KL1Jlc291cmNlcyA1IDAgUg0KL01lZGlhQm94IFswIDAgNTk1IDg0Ml0NCi9Db250ZW50cyAyIDAgUg0KPj4gDWVuZG9iag0KNiAwIG9iag0KWyA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwCjYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMAo2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwCjYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMAo2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwCjYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMAo2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAg
[...]
